<style>
  .referralMainWrapper {
  	display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .imgWrapper {
  	max-width: 48%;
    width: 100%;
  }
  .formWrapper {
    max-width: 50%;
    width: 100%;
  }
  #swatch-option1 .swatch-label .swatch-option-name{display:none}.ebyTankGuide{display:none}.ebyTankPdp .ebyTankGuide{display:block}.ebyTankPdp .ebyTankGuide img{max-width:500px}.ebyTankPdp .ebyBraletteGuide,.ebyTankPdp .ebyPantyGuide{display:none}.ebyTankPdp .pdp .proBoxInfo .siz_guid{left:0}.ebyPantyPdp .ebyBraletteGuide{display:none}.ebyBralettePdp .ebyPantyGuide{display:none}#fullWidthVertical .ajaxFilter,.boxInstagram a,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.velaProDetailInstagram .boxInstagram a{float:left}#fullWidthVertical .ajaxFilter,.boxInstagram a,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.velaProDetailInstagram .boxInstagram a{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.template-product .proBoxInfo .formAddToCart .velaGroup .proButton .btn:disabled{background:#dedede;cursor:default}.stamped-summary-caption .stamped-summary-text{margin-top:0!important;vertical-align:super}.stamped-summary-text-1{line-height:inherit!important}.fa-star-o:before,.stamped-fa-star-o:before{vertical-align:middle}li.swatch-view-item.swatch-view-item-unavailable{display:none}.template-product #pageContent{padding:0;max-width:100%}.template-product .proBoxPrimary.mb30{margin-bottom:0!important}.testm_slider{background:#fbf9f7;text-align:center;padding:60px;float:left;width:100%}.rev_sect{padding:78px 50px;background:#fbf9f7;margin-top:50px;border-top:1px solid #000c48;padding:0!important}.template-product .rev_sect h2{display:none}.smile-lp h3{color:#000c48;font-size:24px;text-align:center;font-family:"Domaine Regular",serif;font-weight:400;margin:0}@media (min-width:1440px){.smile-lp h3{font-size:36px}}.smile-lp .btn{-o-transition:0.2s ease-in-out all;-moz-transition:0.2s ease-in-out all;-webkit-transition:0.2s ease-in-out all;transition:0.2s ease-in-out all;color:#fff;background:#000C48;border:1px solid #000C48;border-radius:4px;text-transform:uppercase;font-size:1.5rem;text-align:center;cursor:pointer;width:185px;padding:16px 36px 16px 36px;font-family:aktiv-grotesk;font-weight:500}.smile-lp .btn:hover{color:#000C48;background:transparent}@media (min-width:1024px){.smile-lp .btn{padding:12.5px 36px}}@media (min-width:1440px){.smile-lp .btn{text-transform:capitalize;font-size:16px;width:187px;padding:17.5px 40px;border-radius:4px}}@media (min-width:1920px){.smile-lp .btn{max-width:187px;padding:23.5px 40px}}.smile-lp .hero{background:#e6d7d8;color:#000c48}.smile-lp .hero .row{margin:0 auto;max-width:100% !important;display: flex;justify-content: space-between;}.smile-lp .hero-text-content{text-align:center;padding:20px 19px 30px}.smile-lp .hero-text-content h2{color:#000c48;font-family:"Domaine Regular",serif;font-size:36px;margin:8px 0 23px}.smile-lp .hero-text-content p{color:#000c48;font-weight:300;font-family:aktiv-grotesk,sans-serif;font-size:16px}.smile-lp .hero-text-content .cta-text{text-transform:uppercase;letter-spacing:1.52px}.smile-lp .hero-text-content .intro{line-height:24px;margin:0 auto 30px;max-width:384px}.smile-lp .hero-text-content .hero-btn{margin-bottom:30px}.smile-lp .hero-text-content .arrow-sep{width:100%;height:42px;background:url("https://cdn.shopify.com/s/files/1/0313/4062/5964/files/icon-down-arrow-0064-ff.svg?v=1616270818") no-repeat;background-position:50%}.smile-lp .hero-image-content{display:flex;flex-direction:column;justify-content:space-between;position:relative;height:336px;padding:25px 19px 21px;box-sizing:border-box}.smile-lp .hero-image-content h1{text-align:center;color:#000c48;font-family:"Domaine Regular",serif;font-size:70px;text-transform:uppercase;margin:0;font-weight:400}.smile-lp .hero-image-content .top-heading{padding-top:12px}.smile-lp .hero-image-content .hero-img-block{position:absolute;left:0;width:100%;top:50%;transform:translateY(-50%);height:202px;display:flex;align-items:center;justify-content:center}.smile-lp .hero-image-content .hero-img-mobile{width:202px;height:202px;overflow:hidden;margin:0 16.5px}.smile-lp .hero-image-content .hero-img-mobile img{width:100%;height:auto}.smile-lp .hero-image-content .hero-img{display:none;overflow:hidden}.smile-lp .hero-image-content .hero-img img{width:100%;height:auto}.smile-lp .hero-image-content .icon{width:34px;height:34px;background:#000c48;border-radius:50%;display:flex;align-items:center;justify-content:center}.smile-lp .hero-image-content .icon i{color:#fff}.smile-lp .hero-image-content .icon i::before{font-size:25px}@media (min-width:768px){.smile-lp .hero-text-content{padding:28px 19px}.smile-lp .hero-text-content h2{font-size:48px}.smile-lp .hero-text-content p{font-size:18px}.smile-lp .hero-text-content .cta-text{letter-spacing:1.71px}.smile-lp .hero-text-content .intro{line-height:28px}.smile-lp .hero-text-content .hero-btn{margin-bottom:27px}.smile-lp .hero-image-content{height:384px;padding:28px 19px 24px}.smile-lp .hero-image-content h1{font-size:80px}.smile-lp .hero-image-content .top-heading{padding-top:15px}.smile-lp .hero-image-content .hero-img-block{height:230px}.smile-lp .hero-image-content .hero-img-mobile{width:230px;height:230px;margin:0 19.5px}.smile-lp .hero-image-content .icon{width:39px;height:39px}.smile-lp .hero-image-content .icon i::before{font-size:28px}}@media (min-width:992px){.smile-lp .hero{margin-top:8px}.smile-lp .hero-text-content{float:left}.smile-lp .hero-image-content{height:402px;float:right}}@media (min-width:1024px){.smile-lp .hero{margin-top:-2px}.smile-lp .hero-text-content{padding:116px 19px 38px}.smile-lp .hero-text-content .intro{margin:0 auto 40px}.smile-lp .hero-text-content .hero-btn{margin-bottom:37px}.smile-lp .hero-image-content{height:512px;padding:38px 19px 33px}.smile-lp .hero-image-content h1{font-size:106.7px}.smile-lp .hero-image-content .top-heading{padding-top:18px}.smile-lp .hero-image-content .hero-img-block{height:307px}.smile-lp .hero-image-content .hero-img{display:inline;width:307px;height:307px;margin:0 25.5px}.smile-lp .hero-image-content .hero-img-mobile{display:none}.smile-lp .hero-image-content .icon{width:51px;height:51px}.smile-lp .hero-image-content .icon i::before{font-size:38px}}@media (min-width:1440px){.smile-lp .hero-text-content{padding:197px 19px 77px}.smile-lp .hero-text-content p{font-size:21px}.smile-lp .hero-text-content h2{font-size:60px}.smile-lp .hero-text-content .cta-text{letter-spacing:2px}.smile-lp .hero-text-content .intro{line-height:32px}.smile-lp .hero-text-content .hero-btn{margin-bottom:78px}.smile-lp .hero-image-content{height:720px;padding:53px 19px 45px}.smile-lp .hero-image-content h1{font-size:150px}.smile-lp .hero-image-content .top-heading{padding-top:25px}.smile-lp .hero-image-content .hero-img-block{height:432px}.smile-lp .hero-image-content .hero-img{width:432px;height:432px;margin:0 36px}.smile-lp .hero-image-content .icon{width:72px;height:72px}.smile-lp .hero-image-content .icon i::before{font-size:53px}}@media (min-width:1920px){.smile-lp .hero-text-content{padding:311px 19px 134px}.smile-lp .hero-text-content .hero-btn{margin-bottom:135px}.smile-lp .hero-image-content{height:960px;padding:71px 19px 73px}.smile-lp .hero-image-content h1{font-size:200px}.smile-lp .hero-image-content .top-heading{padding-top:30px}.smile-lp .hero-image-content .hero-img-block{height:576px}.smile-lp .hero-image-content .hero-img{width:576px;height:576px;margin:0 48px}.smile-lp .hero-image-content .icon{width:96px;height:96px}.smile-lp .hero-image-content .icon i::before{font-size:71px}}.smile-lp .points-section{background:#fff}.smile-lp .points-flex-container{display:flex;flex-direction:column}.smile-lp .points-flex-container>div{width:100%}.smile-lp .copy-block{background:rgba(230,215,216,.25);padding:0;margin:0}.smile-lp .copy-block img{object-fit:cover;width:100%;height:100%}.smile-lp .copy-block img.desktop{display:none}@media (min-width:420px){.smile-lp .copy-block img.desktop{display:block}}.smile-lp .copy-block img.mobile{display:block;width:200%}@media (min-width:420px){.smile-lp .copy-block img.mobile{display:none}}.smile-lp .copy-block h2{font-family:Voyage,Georgia,'Times New Roman',Times,serif;font-size:36px;line-height:36px;color:#000c48;margin:0;text-align:center}.smile-lp .copy-block p{font-family:aktiv-grotesk,Arial,Helvetica,sans-serif;font-weight:300;font-size:16px;line-height:20px;max-width:280px;margin:30px auto;color:#000c48;text-align:center}.smile-lp .list-block{background:#fbf9f7;padding:60px 19px;color:#000c48}.smile-lp .list-block h3{margin-bottom:40px}.smile-lp .list-block p,.smile-lp .list-block span{display:block;font-size:16px;line-height:24px;font-family:aktiv-grotesk,sans-serif}.smile-lp .list-block span{font-weight:500}.smile-lp .list-block p{font-weight:300}.smile-lp .list-block ul{list-style:none;margin:0 auto;padding:0;max-width:340px}.smile-lp .list-block ul li{margin-bottom:40px;margin-left:84px;position:relative}.smile-lp .list-block ul li .number{position:absolute;top:0;left:-84px;width:70px;height:70px;border-radius:50%}.smile-lp .list-block ul li .number img{height:auto;width:100%}.smile-lp .list-block .points-btn{display:block;margin:0 auto}@media (min-width:768px){.smile-lp .points-flex-container{display:flex;flex-direction:row}.smile-lp .copy-block{flex:0 0 37.5%;max-width:37.5%}.smile-lp .list-block{flex:0 0 62.5%;max-width:62.5%}.smile-lp .list-block ul{max-width:288px}.smile-lp .list-block ul li{margin-left:96px}.smile-lp .list-block ul li .number{left:-96px}}@media (min-width:1024px){.smile-lp .list-block{padding:80px 19px}.smile-lp .list-block h3{margin-bottom:60px}.smile-lp .list-block ul{max-width:384px}.smile-lp .list-block ul li{margin-left:128px;margin-bottom:60px}.smile-lp .list-block ul li .number{left:-128px;width:90px;height:90px}}@media (min-width:1440px){.smile-lp .copy-block{flex:0 0 50%;max-width:50%}.smile-lp .list-block{flex:0 0 50%;max-width:50%;padding:110px 19px}.smile-lp .list-block h3{margin-bottom:80px}.smile-lp .list-block ul{margin-bottom:25px;max-width:480px}.smile-lp .list-block ul li{margin-left:120px;margin-bottom:55px}.smile-lp .list-block ul li .number{left:-120px}}@media (min-width:1920px){.smile-lp .list-block{padding:258px 19px 257px}.smile-lp .list-block ul{margin-bottom:49px;max-width:640px}.smile-lp .list-block ul li{margin-left:160px;margin-bottom:50px}.smile-lp .list-block ul li .number{left:-160px}}.smile-lp .options-section{background:#fff}.smile-lp .options-background{padding:60px 19.5px;background:rgba(230,215,216,.25)}.smile-lp .options-background h3{margin-bottom:40px}.smile-lp .options-row{margin:0;display:flex;flex-wrap:wrap}.smile-lp .options-row>div{padding:0;display:flex;justify-content:center}.smile-lp .options-block{position:relative;padding-top:0;width:100%;margin-bottom:40px;margin-left:22.5px;max-width:145.5px}.smile-lp .options-block .img-wrapper{width:100%;height:53px;display:flex;align-items:flex-start;justify-content:center;margin-bottom:10px}.smile-lp .options-block .img-wrapper img{display:block;height:100%;width:auto;margin-left:35px}.smile-lp .options-block .option{height:48px;width:100%}.smile-lp .options-block .option p{font-family:aktiv-grotesk,serif;font-size:16px;font-weight:300;font-stretch:normal;font-style:normal;line-height:1.5;letter-spacing:normal;text-align:center;color:#000c48;max-width:155px;margin:0 auto}.smile-lp .points-circle{position:absolute;top:0;left:0;width:80px;height:80px;border-radius:50%;display:flex;flex-direction:column;align-items:center;justify-content:center;color:#fff;background:#2031ba;font-size:16px;text-align:center;line-height:1;font-weight:400;font-stretch:normal;font-style:normal;font-family:aktiv-grotesk,serif;display:none}.smile-lp .points-circle span{font-size:21px;line-height:16px}.smile-lp .options-btn{display:block;margin:0 auto}@media (min-width:576px){.smile-lp .options-background{padding:60px 65px}}@media (min-width:768px){.smile-lp .options-background{padding:60px 12.5%}.smile-lp .options-background h3{margin-bottom:60px}.smile-lp .options-block{max-width:232px;margin-left:56px}.smile-lp .options-block .img-wrapper{justify-content:center;height:auto}.smile-lp .options-block .img-wrapper img{margin-right:0;width:100%;margin:0;height:auto;max-width:100px;position:relative;right:29px}}@media (min-width:1024px){.smile-lp .options-background{padding:80px 64px}.smile-lp .options-block{margin-left:24px;margin-bottom:60px}}@media (min-width:1200px){.smile-lp .options-background{padding:80px 10%}}@media (min-width:1440px){.smile-lp .options-background{padding:7.67% 240px}.smile-lp .options-background h3{margin-bottom:80px}.smile-lp .options-block{max-width:220px;margin-left:20px;margin-bottom:80px}}@media (min-width:1920px){.smile-lp .options-background{padding:111px 360px 135px}.smile-lp .options-col{justify-content:flex-start}.smile-lp .options-block{max-width:240px;margin-left:20px}}.smile-lp .cta-section{padding:60px 0 80px;background:#fbf9f7}.smile-lp .cta-section h2{color:#000c48;font-size:36px;font-weight:400;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:normal;text-align:center;font-family:"Domaine Regular",serif}.smile-lp .cta-section .cta-btn{display:block;margin:0 auto}.smile-lp .cta-section .image-block{display:none}.smile-lp .cta-section .image-block img{width:100%}.smile-lp .cta-section .image-block-mobile{display:block;width:100%;margin:40px auto}.smile-lp .cta-section .image-block-mobile img{width:100%}@media (min-width:576px){.smile-lp .cta-section .image-block-mobile{width:83%}}@media (min-width:768px){.smile-lp .cta-section{padding:60px 0}.smile-lp .cta-section .image-block-mobile{width:75%}}@media (min-width:1024px){.smile-lp .cta-section{padding:80px 0}.smile-lp .cta-section .image-block-mobile{display:none}.smile-lp .cta-section .image-block{display:block;margin:60px auto;width:75%}}@media (min-width:1440px){.smile-lp .cta-section{padding:110px 0}.smile-lp .cta-section h2{font-size:60px}.smile-lp .cta-section .image-block{margin:80px auto;width:66.66%}}.referral-section{background:#fff}.referral-section .sectionInnerWrapper{padding:8rem 5rem}.referral-section .sectionInnerWrapper .referralProgramOfferings{width:100%;margin:8rem auto}.referral-section .sectionInnerWrapper .referralProgramOfferings ul{padding:0;list-style:none;display:flex;flex-direction:row;justify-content:center;align-items:center}.referral-section .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper{display:flex;flex-direction:row;max-width:280px;align-items:flex-start}.referral-section .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringIcon{width:20%;margin-right:5%}.referral-section .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringIcon img{min-width:50px;width:100%;display:block;max-width:75px}.referral-section .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringContent{width:75%}.referral-section .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringContent p{color:#000c48;font-size:1.6rem;margin:0;line-height:normal;font-weight:300}.referral-section .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringContent p.headlineCopy{font-weight:400;margin-bottom:.5rem}.referral-section .sectionInnerWrapper .referralProgramOfferings ul .offeringBreakline{width:1px;display:block;background:#000;height:80px;margin:0 4rem}@media (max-width:769px){.referral-section .sectionInnerWrapper .referralProgramOfferings ul{flex-direction:column}.referral-section .sectionInnerWrapper .referralProgramOfferings ul .offeringBreakline{height:1px;max-width:293px;margin:4rem auto;width:100%}}.row:before{content:" ";display:table}.template-product .slide{padding-bottom:0;display:flex;width:100%;margin:0;flex-wrap:wrap}.proBoxInfo .proPrice{margin:0;position:relative;display:-ms-flexbox;display:-webkit-flex;display:flex}.flexRow{display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-flow:row wrap;flex-flow:row wrap}.proBoxInfo .proPrice .priceProduct,.vipPdpPriceWrapper .proPrice .priceProduct{margin:0;font-size:1.75rem}.ebyProdTile-vipPriceWrapper{display:inline-block}.proBoxInfo .selector-wrapper{margin:0 0 10px;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-align-items:center;-ms-align-items:center;align-items:center}.proBoxInfo .selector-wrapper>label{padding:10px 0;font-weight:500;min-width:70px;font-size:17px;margin-bottom:0;color:#191919}label{display:inline-block;max-width:100%;margin-bottom:5px}.proBoxInfo .selector-wrapper>select{min-width:250px;height:34px;padding:6px 14px;border:1px solid #e1e1e1;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.8);box-shadow:inset 0 1px 1px rgba(0,0,0,.8)}.swatch .header{padding:10px 0;display:block;font-weight:400;min-width:80px;font-size:18px;color:#000;line-height:20px;font-weight:700}.template-product .proBoxInfo .js-swatch{position:relative;padding-left:20px;box-sizing:border-box;margin-bottom:30px;margin-top:30px}.template-product .proBoxInfo .js-swatch .header{padding:10px 0 20px;display:flex;flex-wrap:wrap;width:100%;align-items:center}.swatch .header span{margin-right:.5rem}.size.swatch .swatch-element{margin:0 .5rem 1rem 0;background:0 0!important}.swatch .swatch-element{position:relative;float:left;-webkit-font-smoothing:antialiased;margin:0 30px 8px 0;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0)}.swatch input{display:none}.size.swatch input:checked+label{background:#000c48!important;color:#fff!important;border:1px solid #0064ff!important;-webkit-box-shadow:inset 0 0 0 2px #fff;-moz-box-shadow:inset 0 0 0 2px #fff;box-shadow:inset 0 0 0 2px #fff;box-sizing:border-box}.size.swatch label{color:#a3a3a3;height:31px;border:1px solid #000c48;border-radius:41.4px;font-size:14px;color:#000c48!important;margin:0;width:auto;min-width:55px;padding:0!important}.swatch label{position:relative;cursor:pointer;float:left;margin:0;color:#191919;font-size:16px;font-weight:700;text-align:center;line-height:30px;white-space:nowrap;text-transform:uppercase}.crossed-out{position:absolute;left:0;top:0;width:100%;height:100%;display:none}.proBoxInfo .formAddToCart .velaGroup{padding-top:0;margin-bottom:0}.back_in_stock{display:none!important}a.klaviyo-bis-trigger{width:100%;display:inline-block!important;text-align:center;line-height:22px;padding:13px;background-color:#000c48;color:#fff;border-radius:28.5px;margin-bottom:15px}.ebyInvenCheck{display:none!important}.template-product .proBoxInfo .proQuantity{justify-content:center;margin:0;display:none}.proBoxInfo .proQuantity{margin:0 10px 10px 0;display:-ms-flexbox;display:-webkit-flex;display:flex;position:relative;min-height:40px}.template-product .proBoxInfo .proQuantity .qtySelector{display:none!important}.proBoxInfo .proQuantity .qtySelector{margin:0 10px 0 0;padding:6px 0;font-size:18px;line-height:20px;font-weight:700;color:#000}.velaQty{position:relative;display:inline-block;color:#000c48}.template-product .proBoxInfo .velaQty .velaQtyAdjust.velaQtyMinus{border-radius:30px 0 0 30px}.template-product .proBoxInfo .velaQty .velaQtyAdjust{width:26px;height:26px;line-height:13px;font-weight:400;background:#f0f0f0;display:inline-block;vertical-align:middle;position:relative;font-size:23px}.velaQty .velaQtyAdjust.velaQtyMinus{left:0}.velaQty .velaQtyAdjust{width:30px;height:34px;line-height:14px;border:0;background-color:transparent;color:#333e48;position:absolute;font-size:20px;font-weight:300}.velaQty .velaQtyAdjust span{display:block;font-size:14px;font-weight:600;color:#d8d8d8}.template-product .proButton{display:block;clear:both;text-align:center;margin-top:15px}.ebyButtonWrapper.center{text-align:center}.ebyButtonWrapper.membershipBtns,.loggedIn .ebyButtonWrapper.center.membershipBtns{display:block}.ebyButtonWrapper{margin:2rem auto}.proBoxInfo .proButton.mb20 button#AddToCart{font-family:aktiv-grotesk,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;padding:13px}.proButton.mb20 button#AddToCart{width:100%!important;text-transform:none}.template-product .proBoxInfo .formAddToCart .velaGroup .proButton .btn{background:#0064ff;border:#0064ff;display:block;max-width:100%;padding:13px 3rem}.template-product .proButton .btn{min-width:200px;width:auto;height:auto;border-radius:4px;background-color:#000c48;padding:15px 50px;color:#fff;border:2px solid #000c48;display:inline-block;max-width:316px;font-size:16px;letter-spacing:0}.proBoxInfo .proButton.mb20 button#AddToCart span{font-weight:400}.subscribeAndSaveWrapper{margin-top:1.5rem}.subscribeAndSaveWrapper .buttonWrapper{display:flex;justify-content:center;align-items:center}.template-product .proBoxInfo .formAddToCart .velaGroup .proButton .btn.btnAddBoxToCart{font-family:aktiv-grotesk,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;width:100%;background:#000c48}.pdp .membershipInfoPopup{height:21px;position:absolute;width:21px;border-radius:50px;background:#fff;padding:.1rem .6rem;display:inline-block;vertical-align:top;margin:5px;border:1px solid #0064ff;color:#0064ff;font-size:1.4rem;font-weight:500;line-height:normal;right:-35px;cursor:pointer}.subandsaveCopy{font-size:1.2rem;line-height:normal;display:inline-block;margin-top:1rem;display:none}.template-product .proBoxInfo .shopify-payment-button__button{border:2px solid #000c48;background:#000c48;display:inline-block;max-width:300px;color:#fff;line-height:23px;display:none}.template-product .shopify-payment-button__more-options{display:none}.pdp .proBoxInfo .membershipBtns{display:none;max-width:307px;width:100%;margin:0 auto;text-align:center}.template-product .proBoxInfo .ebyBecomeAMemberBtn.navyBg,.template-product .proBoxInfo .formAddToCart .velaGroup .proButton .btn.navyBg{background:#000c48;border:#000c48}.ebyMembershipSubline{margin:1rem auto;color:#000c48;font-size:1.2rem;font-weight:500}.premPdp .pdp .proPrice.vipHighlight .priceProduct.vipHighlight{text-decoration:none}.loggedIn .proBoxInfo .holidayPriceWrapper.standard{text-decoration:none;color:#d0021b}.pdp .proPrice .priceProduct.holidayPriceWrapper.standard{color:#d0021b;margin-left:.6rem}.template-product .ebyGifcardPdp .col-xs-12.col-md-6.col-lg-6.mb30.proBoxInfo_outr{min-height:265px!important}.ebyGifcardPdp .afterpay-paragraph,.ebyGifcardPdp .modelSizeSelection,.ebyGifcardPdp .pdp-reviews-block,.ebyGifcardPdp .proReviews,.ebyGifcardPdp .siz_guid.size_guid_pdp{display:none!important}.ebyGifcardPdp .proBoxPrimary .row{position:relative}.ebyGifcardPdp .proBoxPrimary .row .col-xs-12.col-md-6.col-lg-6.mb30.proBoxInfo_outr{display:flex;justify-content:center;align-items:center;height:100%}.ebyGifcardPdp .proPrice.flexRow.flexAlignCenter:before{content:"starting at: ";display:inline-block;margin-right:.5rem;font-size:1.2rem;font-weight:300}.pdp .holidayPriceWrapper+.priceProduct.standardPrice.default,.pdp .holidayPriceWrapper.standard+.priceProduct{display:none}.loggedIn .pdp .proPrice.vipHighlight .priceProduct.vipHighlight{text-decoration:line-through;font-weight:500}.loggedIn .ebyBralettePdp .pdp .proBoxInfo .siz_guid{right:unset;left:0;top:0}.template-product .pageCollectionInner .owl-nav{display:none}.pdp{position:relative}.pdp .swatch-button span{display:block;padding:0 1.2rem}.pdp .slide img{height:100%;object-fit:cover}.pdp .salePriceExcerptCopy{color:#d0021b;width:100%;font-size:1.2rem}.pdp .proBoxInfo_outr .afterpay-paragraph{min-height:55px;text-align:center;margin:0 auto 1rem!important;font-size:1.5rem}.pdp .pdpImagePanel{min-height:287px}.pdp .proBoxPrimary.mb30.detail_default .row{position:relative;background:#fff;display:flex;justify-content:flex-end;width:100%;margin:0}@media (max-width:992px){.pdp .proBoxPrimary.mb30.detail_default .row{flex-direction:column}}.pdp .col-xs-12.col-md-6.col-lg-6.mb30.proBoxInfo_outr{width:33.3%;position:relative;max-width:100%!important;padding:0}@media (max-width:992px){.pdp .col-xs-12.col-md-6.col-lg-6.mb30.proBoxInfo_outr{max-width:100%;width:100%;transform:none}}.pdp .velaProductGallerySlider{display:flex;height:100%}.pdp .pdpImagePanel{width:100%;display:flex}.pdp .proBoxInfo .proPrice.salePriceOverride .ebyProdTile-vipPriceWrapper,.pdp .proPrice.salePriceOverride .ebyOrigPrice{display:none}.pdp .proBoxInfo .proPrice.salePriceOverride .priceProduct{color:#d0021b}.pdp .holidayPriceWrapper+.standardPrice.default.standard,.pdp .holidayPriceWrapper.standard+.standard{display:none}.pdp .productOptionOutOfStockCopy{top:60px;right:171px;left:0;position:absolute;width:100%;color:#000c48;font-size:1.5rem}@media (max-width:768px){.pdp .productOptionOutOfStockCopy{top:30px}}.pdp .membershipInfoPopup{height:21px;position:absolute;width:21px;border-radius:50px;background:#fff;padding:.1rem .6rem;display:inline-block;vertical-align:top;margin:5px;border:1px solid #0064ff;color:#0064ff;font-size:1.4rem;font-weight:500;line-height:normal;right:-35px;cursor:pointer}@media (max-width:768px){.pdp .membershipInfoPopup{right:-2rem}}.pdp .guarantee-blockLink{color:#fff;margin-top:1rem;display:inline-block}.pdp .guarantee-blockLink:hover{color:#0064ff}.pdp .proPrice.vipHighlight{align-items:center}.pdp .proPrice.vipHighlight .priceProduct.vipHighlight{text-decoration:line-through}.pdp .proPrice.vipHighlight .ebyProdTile-vipPriceWrapper{margin-left:3px}.pdp .proPrice.vipHighlight .ebyProdTile-vipPriceWrapper p,.pdp .proPrice.vipHighlight .ebyProdTile-vipPriceWrapper span{color:#d0021b}.pdp .payment_terms{position:absolute;top:-2rem;left:0;display:flex}.pdp .shopify-installments{display:flex;font-size:1.2rem;justify-content:center;align-items:center}.pdp .shopify-installments__content{font-size:0;display:flex;flex-direction:row}.pdp .shopify-installments__content [role=img]{position:relative;top:2px}.pdp .shopify-installments__learn-more:hover{color:#0064ff}.pdp .pdpAvailNotice{display:block}.pdp .ab.proBoxImage.spImgWrapper{overflow:unset;max-width:66.6%;width:100%;padding:0;position:relative;left:0;height:100%}@media (max-width:992px){.pdp .ab.proBoxImage.spImgWrapper{max-width:100%;position:relative}}.pdp .progress{background-color:#d4d4d4}.pdp .progress .indeterminate{background-color:#0064ff}.pdp .breadcrumbs{background:#6e8d9d}@media (min-width:768px){.pdp .breadcrumbs{background:#f9f6f2;width:max-content;position:absolute;z-index:10;top:10px;left:10px}}.pdp .breadcrumbs ul{padding:2px 20px;text-align:left;line-height:normal}@media (min-width:768px){.pdp .breadcrumbs ul{padding:6px 20px 7px}}.pdp .breadcrumbs ul li{font-size:12px}@media (min-width:768px){.pdp .breadcrumbs ul li{font-size:14px}}.pdp .breadcrumbs ul li a{color:#fff;font-size:11px;padding:1rem 0}@media (min-width:768px){.pdp .breadcrumbs ul li a{color:#0064ff;font-size:14px}}.pdp .breadcrumbs ul li:after{content:"";background:url("https://cdn.shopify.com/s/files/1/0313/4062/5964/files/next-arrow.svg") no-repeat center center;background-size:14px 14px;padding:0;margin:0 3px;height:10px;width:14px}.pdp .waitlistSubcopy{margin:1rem auto 0;font-size:14px;color:#000c48;line-height:initial}.pdp .waitlistSubcopy a{text-decoration:underline;color:#0064ff}.pdp .proPrice .ebyProdTile-vipPriceWrapper p{font-size:16px;font-weight:300;margin:0}.pdp .modelSizeSelection{text-align:left;margin-left:10px;bottom:15px}@media (min-width:992px){.pdp .modelSizeSelection{margin-left:-10px;bottom:30px}}.pdp .modelSizeSelection p span a{color:#0064ff;text-decoration:none;margin-left:10px}@media (min-width:992px){.pdp .modelSizeSelection p span a{font-size:14px;line-height:normal}}.pdp .modelSizeSelection p span:first-of-type{display:none}@media (min-width:768px){.pdp .modelSizeSelection p span:first-of-type{display:inline-block;color:#000c48;line-height:normal}.pdp .modelSizeSelection p span:first-of-type a{color:#000c48;line-height:normal;margin-left:0}}@media (min-width:992px){.pdp .modelSizeSelection p span:first-of-type{font-size:14px;line-height:normal}.pdp .modelSizeSelection p span:first-of-type a{font-size:14px}}.pdp .owl-nav{max-width:calc(100% - 405px)!important}.pdp .owl-nav .owl-prev{display:none}@media (min-width:992px){.pdp .owl-nav .owl-prev{display:block;left:15px!important;background:url("prev-arrow.svg") no-repeat!important;width:70px!important;height:80px!important;background-size:100% 100%!important;opacity:0}.pdp .owl-nav .owl-prev .visible{opacity:1}}.pdp .owl-nav .owl-next{display:none}@media (min-width:992px){.pdp .owl-nav .owl-next{display:block;right:15px!important;background:url("next-arrow.svg") no-repeat!important;width:70px!important;height:80px!important;background-size:100% 100%!important;opacity:0}.pdp .owl-nav .owl-next .visible{opacity:1}}.pdp .owl-dots{display:none}.pdp .mobile-intro{background:#fff;width:100%;padding:20px 20px 12px}@media (min-width:768px){.pdp .mobile-intro{display:none}}.pdp .mobile-intro .subtitle h1,.pdp .mobile-intro .subtitle h3{font-size:12px;line-height:normal;font-weight:300;color:#000c48;font-family:aktiv-grotesk,sans-serif;margin-top:0;margin-bottom:.5rem}.pdp .mobile-intro .product-name{font-size:24px;font-weight:700;color:#0064ff;margin-top:4px;margin-bottom:6px;padding-right:5px;width:max-content;cursor:pointer;font-family:aktiv-grotesk,sans-serif;text-transform:capitalize}.pdp .mobile-intro .product-name h2{font-size:24px;font-weight:700;color:#0064ff;margin-top:5px;margin-bottom:5px;padding-right:5px;display:none;cursor:pointer;font-family:aktiv-grotesk,sans-serif}.pdp .mobile-intro .product-name img{height:12px;width:14px}.pdp .style-changer{background:#e4ebee;padding:20px 30px 10px 30px;margin-left:-30px;margin-right:-30px;width:100vw;margin-bottom:5px}@media (min-width:992px){.pdp .style-changer{margin-left:-30px;margin-right:-20px;width:100%}}.pdp .style-changer .single-type{font-size:24px;line-height:normal;color:#0064ff;font-weight:300;margin-bottom:10px;cursor:pointer}.pdp .style-changer-mobile{display:none}.pdp .style-changer-desktop{display:none}@media (min-width:992px){.pdp .style-changer-desktop{position:absolute;z-index:1}}.pdp .proReviews span{font-size:14px;line-height:normal;color:#ffa41d;font-weight:400;vertical-align:top;display:inline}.pdp .proReviews .stamped-fa-star:before{font-size:16px;color:#ffa41d;margin-right:2px}.pdp .proPrice{margin-bottom:5px;align-items:baseline}.pdp .proPrice .priceProduct{margin-top:0;color:#000c48;font-size:20px;font-weight:500}.pdp .ebyProdTile-vipPriceWrapper{font-size:16px;margin-left:7px;text-transform:uppercase}.pdp .ebyProdTile-vipPriceWrapper span{color:#000c48;font-size:16px;vertical-align:initial}.pdp .ebyProdTile-vipPriceWrapper span b{font-size:20px}.pdp .ebyProdTile-vipPriceWrapper span.fontMinor{font-size:16px;vertical-align:bottom;font-weight:300}.pdp .proBoxInfo_outr{background:#fff}@media (min-width:992px){.pdp .proBoxInfo_outr{max-width:33vw!important;width:100%;right:0!important;transform:none!important;top:0!important}.pdp .proBoxInfo_outr .proBoxInfo{padding:30px 25px 0!important}}@media (min-width:1215px){.pdp .proBoxInfo_outr{width:100%}}@media (min-width:1920px){.pdp .proBoxInfo_outr{max-width:640px!important}}@media (min-width:990px){.pdp .owl-carousel{background:#fff;height:100%;overflow:hidden;display:block;max-height:806px}}@media (min-width:1107px){.pdp .owl-carousel{max-height:765px}}.pdp .owl-item{display:inline-block}@media (min-width:990px){.pdp .owl-item{max-width:640px}.pdp .owl-item img{width:auto!important}}.pdp .img-responsive{height:100%;object-fit:cover}@media (min-width:480px){.pdp .img-responsive{max-height:unset}}@media (min-width:990px){.pdp .img-responsive{height:806px;width:100%}}@media (min-width:1107px){.pdp .img-responsive{height:765px}}.pdp .proBoxInfo{padding:0 3rem 0 3rem!important}@media (min-width:992px){.pdp .proBoxInfo{max-width:375px!important;padding:30px!important;margin-left:auto!important;margin-right:auto}}@media (min-width:1373px){.pdp .proBoxInfo{min-height:705px!important}}.pdp .proBoxInfo .proPrice .priceProduct{display:none}@media (min-width:768px){.pdp .proBoxInfo .proPrice .priceProduct{display:block}}.pdp .proBoxInfo .proPrice .ebyProdTile-vipPriceWrapper{display:none}@media (min-width:768px){.pdp .proBoxInfo .proPrice .ebyProdTile-vipPriceWrapper{display:block}}.pdp .proBoxInfo .subtitle h1,.pdp .proBoxInfo .subtitle h3{font-size:12px;line-height:normal;color:#000c48;display:none;font-family:aktiv-grotesk,sans-serif;font-weight:300;margin-bottom:0;margin-top:0}@media (min-width:992px){.pdp .proBoxInfo .subtitle h1,.pdp .proBoxInfo .subtitle h3{display:block}}.pdp .proBoxInfo .star-image-border-3-head{border:none}.pdp .proBoxInfo .velaGroup{position:relative!important;box-shadow:none!important;flex-direction:column;padding:0!important}.pdp .proBoxInfo .proButton{width:100%!important;max-width:316px!important;margin:1.5rem auto 14px auto!important}.pdp .proBoxInfo .proButton button{max-width:316px!important}@media (min-width:992px){.pdp .proBoxInfo .proButton button{padding:13px 50px 12px}}@media (max-width:768px){.pdp .proBoxInfo .proButton{max-width:316px!important;margin:3rem auto 3rem!important}}.pdp .proBoxInfo .proReviews{display:none}@media (min-width:768px){.pdp .proBoxInfo .proReviews{display:block}}.pdp .proBoxInfo .membershipBtns{display:none;max-width:307px;width:100%;margin:0 auto}.pdp .proBoxInfo .membershipBtns a{max-width:307px;width:100%;font-size:16px;line-height:22px;padding:13px;background:#0064ff;border-color:#0064ff}.pdp .proBoxInfo .membershipBtns .subtext h3{margin-top:24px;margin-bottom:10px;font-size:14px;line-height:22px;color:#000c48;font-weight:500;text-transform:uppercase}.pdp .proBoxInfo .membershipBtns .subtext p{margin-bottom:0;font-size:14px;line-height:22px;color:#000c48;font-weight:300}.pdp .proBoxInfo .membershipBtns .ebyMembershipSubline{display:none}.pdp .proBoxInfo .style-changer-block-desktop{display:none}@media (min-width:768px){.pdp .proBoxInfo .style-changer-block-desktop{display:block}}.pdp .proBoxInfo .style-changer-block-mobile{display:block}@media (min-width:768px){.pdp .proBoxInfo .style-changer-block-mobile{display:none}}.pdp .proBoxInfo .formAddToCart{position:relative}.pdp .proBoxInfo .siz_guid{margin:0;border:none;padding:0;color:#0064ff;font-size:14px;line-height:normal;font-weight:400;top:10px;left:2.5rem;position:absolute!important;text-decoration:underline}@media (max-width:480px){.pdp .proBoxInfo .siz_guid{top:0;left:0}}@media (min-width:992px){.pdp .proBoxInfo .siz_guid{top:0;right:unset;left:0}}.pdp .proBoxInfo .swatches{height:100%}.pdp .proBoxInfo .siz_guid.extraMargin{top:25px}@media (min-width:992px){.pdp .proBoxInfo .siz_guid.extraMargin{top:56px;left:unset}}.pdp .proBoxInfo .siz_guid:hover{background:0 0}.pdp .proBoxInfo h2,.pdp .proBoxInfo h4{font-size:24px;font-weight:700;color:#0064ff;margin-top:5px;margin-bottom:5px;padding-right:5px;display:none;cursor:pointer;font-family:aktiv-grotesk,sans-serif;text-transform:capitalize}.pdp .proBoxInfo h2 img,.pdp .proBoxInfo h4 img{height:14px;width:14px}@media (min-width:768px){.pdp .proBoxInfo h2,.pdp .proBoxInfo h4{display:block}}.pdp .proBoxInfo .formAddToCart .swatches>div{border:none;padding:0}.pdp .proBoxInfo .formAddToCart ul.swatch-view li{margin-right:10px;margin-bottom:6px!important}.pdp .proBoxInfo .formAddToCart ul.swatch-view li .swatch-button{height:32px;border:1px solid #000c48;border-radius:4px;font-size:14px;color:#000c48!important;margin:0;width:auto;min-width:55px;padding:0!important}.pdp .proBoxInfo .formAddToCart ul.swatch-view li .swatch-selected{background:#000c48;color:#fff!important;border:1px solid #000c48!important;-webkit-box-shadow:inset 0 0 0 2px #fff;-moz-box-shadow:inset 0 0 0 2px #fff;box-shadow:inset 0 0 0 2px #fff;box-sizing:border-box}.pdp .proBoxInfo .formAddToCart ul.swatch-view li .swatch-selected .star-set-image{border:1px solid #fff!important;box-sizing:border-box;width:29px!important;height:29px!important;margin:auto}.pdp .proBoxInfo .swatches{margin-top:0;width:100%}.pdp .proBoxInfo .swatches .swatch-split-symbol,.pdp .proBoxInfo .swatches input[name=Colors]+.swatch-option-name{display:none}@media (min-width:768px){.pdp .proBoxInfo .swatches{width:50%}}@media (min-width:992px){.pdp .proBoxInfo .swatches{margin-top:12px;margin-bottom:20px;width:100%}}.pdp .proBoxInfo .swatch-tool-tip{z-index:1;top:130%;right:-28%}.pdp .proBoxInfo .swatch-label,.pdp .proBoxInfo .swatch-variant-name{font-size:14px;line-height:normal;color:#000c48;font-weight:400;margin-top:10px}.pdp .proBoxInfo .swatch-view{margin:0}.pdp .proBoxInfo .swatch-label{margin-bottom:.7rem}@media (max-width:992px){.pdp .proBoxInfo .swatch-label{margin-top:0}}.pdp .proBoxInfo .swatches .swatch-view-item .star-set-image{width:32px!important;height:32px!important;border:1px solid transparent;margin:auto;background-size:115%!important}.pdp .proBoxInfo .swatches.hover-enabled li.swatch-view-item:hover .swatch-selector.star-set-btn{background:#000c48!important;color:#fff!important;border:1px solid #0064ff!important;-webkit-box-shadow:inset 0 0 0 2px #fff;-moz-box-shadow:inset 0 0 0 2px #fff;box-shadow:inset 0 0 0 2px #fff}.pdp .proBoxInfo .swatches.hover-enabled li.swatch-view-item:hover .swatch-selected.star-set-btn{background-color:#000c48!important;border:1px solid transparent!important}.pdp .proBoxInfo .swatches.hover-enabled li.swatch-view-item:hover .star-set-image{border:1px solid #fff!important;box-sizing:border-box}.pdp .proBoxInfo .swatch-view-item:hover .swatch-group-selector.star-image-border-3-head{border:1px solid #0064ff!important}.pdp .proBoxInfo .swatch-view-item:hover .star-set-image{border:1px solid #fff!important}.pdp .proBoxInfo div.swatch-custom-image{border:1px solid transparent!important}.pdp .proBoxInfo .swatch-selected.star-image-border-3-head,.pdp .proBoxInfo .template-product .swatches.hover-enabled li.swatch-view-item:hover .swatch-group-selector.star-image-border-3-head,.pdp .proBoxInfo .template-product .swatches.hover-enabled li.swatch-view-item:hover .swatch-selector.star-image-border-3-head,.pdp .proBoxInfo .template-product li.swatch-view-item:focus .swatch-group-selector.star-image-border-3-head,.pdp .proBoxInfo .template-product li.swatch-view-item:focus .swatch-selector.star-image-border-3-head{border:1px solid transparent!important}.pdp .proBoxInfo .swatches.hover-enabled li.swatch-view-item:hover .swatch-group-selector.star-image-border-3-head{border:1px solid #0064ff!important}.pdp .proBoxInfo .swatch-selected.star-image-border-3-head,.pdp .proBoxInfo .template-product .swatches.hover-enabled li.swatch-view-item:hover .swatch-group-selector.star-image-border-3-head{border:1px solid #0064ff!important}.pdp .flex-wrap{display:flex;flex-wrap:wrap}.pdp .product-details-tab{order:1;background:#fff;width:100%}@media (min-width:992px){.pdp .product-details-tab{order:2;width:50%}}.pdp .product-details-tab .product-details{border:1px solid #0064ff;font-size:16px;color:#0064ff;text-transform:uppercase;text-align:center;line-height:normal;font-weight:300;padding-top:16px;padding-bottom:17px}@media (min-width:992px){.pdp .product-details-tab .product-details{display:none}}.pdp .product-details-tab .details-content-background{background:#fbf9f7}.pdp .product-details-tab .details-content{display:none;padding:40px 30px 60px 30px;color:#000c48;max-width:580px;margin-left:auto;margin-right:auto}@media (min-width:992px){.pdp .product-details-tab .details-content{display:block;padding-top:60px;padding-bottom:80px}}.pdp .product-details-tab .details-content ul{padding-left:20px;margin:20px 0}.pdp .product-details-tab .ebyProductPromiseWrapper ul{margin:0;padding:0;list-style:none}.pdp .product-details-tab .details-content h3{margin-top:40px;font-size:36px;line-height:normal;margin-bottom:10px;color:#000c48}.pdp .product-details-tab .details-content h3:first-of-type{margin-top:0}.pdp .product-details-tab .details-content h4,.pdp .product-details-tab .details-content h5{margin-top:30px;margin-bottom:10px;font-size:18px;line-height:normal;color:#000c48}.pdp .product-details-tab .details-content p{margin-bottom:0;font-size:16px;line-height:23px}.pdp .product-details-tab .details-content p a{color:#0064ff;font-size:16px;line-height:23px}.pdp .product-details-tab .details-content .multiple-details>ul{display:flex;flex-direction:column;padding:0;list-style:none}@media (min-width:992px){.pdp .product-details-tab .details-content .multiple-details>ul{flex-wrap:wrap;flex-direction:row}}.pdp .product-details-tab .details-content .multiple-details .singe-detail-block,.pdp .product-details-tab .details-content .multiple-details li{width:100%}@media (min-width:992px){.pdp .product-details-tab .details-content .multiple-details .singe-detail-block,.pdp .product-details-tab .details-content .multiple-details li{width:50%}}.pdp .product-details-tab .details-content .multiple-details .singe-detail-block ul,.pdp .product-details-tab .details-content .multiple-details li ul{list-style:none;padding-left:0;margin-bottom:0;margin-top:0;line-height:23px}@media (min-width:992px){.pdp .product-details-tab .details-content .multiple-details .singe-detail-block p,.pdp .product-details-tab .details-content .multiple-details ul li p{max-width:190px;margin-right:30px}}.pdp .ebyPdpRelatedProductsWrapper{padding:60px 10px 30px 10px;order:3}@media (min-width:992px){.pdp .ebyPdpRelatedProductsWrapper{padding:40px 10px 40px 10px;order:1;width:50%;display:flex;flex-direction:column;align-items:center;justify-content:center}}.pdp .ebyPdpRelatedProductsWrapper h2{font-size:21px;line-height:normal;font-weight:500;margin:0 auto 30px auto;color:#000c48}@media (min-width:992px){.pdp .ebyPdpRelatedProductsWrapper h2{font-size:21px;margin-bottom:40px}}.pdp .guarantee-block{order:2;width:100%;background:#000c48;padding:57px 30px 71px 30px;color:#fff;text-align:center}@media (min-width:992px){.pdp .guarantee-block{padding-top:72px;padding-bottom:80px;order:3}}.pdp .guarantee-block h2{font-size:30px;line-height:normal;font-weight:500;margin-top:0;margin-bottom:20px;color:#fff}@media (min-width:992px){.pdp .guarantee-block h2{font-size:48px}}.pdp .guarantee-block p{font-size:1.8rem;line-height:normal;margin:0 auto;font-weight:100;max-width:260px}@media (min-width:992px){.pdp .guarantee-block p{font-size:1.8rem;max-width:340px}}.pdp-reviews-block .testm_slider{padding:60px 10px 80px}@media (min-width:992px){.pdp-reviews-block .testm_slider{padding:80px 20px 100px}}.pdp-reviews-block .testm_slider h2{font-size:21px;line-height:normal;color:#000c48;margin-top:0;margin-bottom:30px;text-transform:none}@media (min-width:992px){.pdp-reviews-block .testm_slider h2{font-size:36px;margin-bottom:75px}}.pdp-reviews-block .testm_slider .rev_sect{max-width:1000px;margin:0 auto 0 auto}.pdp-reviews-block .stamped-share-icon{padding:2px 0}.pdp-reviews-block .stamped-summary-ratings,.pdp-reviews-block i.stamped-fa.stamped-fa-star{border-left:0 solid #ffa41d!important;color:#ffa41d!important;border-right:0 solid #ffa41d!important;vertical-align:middle}.pdp-reviews-block .stamped-summary-ratings,.pdp-reviews-block i.stamped-fa.stamped-fa-star{border-left:0 solid #ffa41d!important;color:#ffa41d!important;border-right:0 solid #ffa41d!important}.pdp-reviews-block div.stamped-container[data-widget-style],.pdp-reviews-block div[data-widget-style] div.stamped-container{max-width:1200px;margin:30px auto!important;border:none!important;padding:0!important}.pdp-reviews-block div[data-widget-style*=standard] .stamped-header{margin-bottom:3rem}.pdp-reviews-block div[data-widget-style*=standard] .stamped-summary{display:flex;justify-content:space-between;align-items:center;flex-direction:row;flex-wrap:wrap}.pdp-reviews-block .stamped-summary-caption-1{color:#ffa41d}.pdp-reviews-block .summary-overview{width:200px;float:left}.pdp-reviews-block div[data-widget-style] .summary-rating:nth-child(1) .summary-rating-title:before,.pdp-reviews-block div[data-widget-style] .summary-rating:nth-child(2) .summary-rating-title:before,.pdp-reviews-block div[data-widget-style] .summary-rating:nth-child(3) .summary-rating-title:before,.pdp-reviews-block div[data-widget-style] .summary-rating:nth-child(4) .summary-rating-title:before,.pdp-reviews-block div[data-widget-style] .summary-rating:nth-child(5) .summary-rating-title:before{color:#ffa41d!important}.pdp-reviews-block .summary-rating-bar-content{background:#ffa41d!important}.pdp-reviews-block .stamped-summary-recommend-label,.pdp-reviews-block div[data-widget-style*=standard] .summary-rating-count{color:#000c48!important}.pdp-reviews-block .stamped-summary-recommend{width:100%;text-align:center;margin:1rem auto}.pdp-reviews-block span.stamped-summary-recommend-percent{background:#ffa41d;padding:5px;color:#fff;font-weight:700;margin-right:7px}.pdp-reviews-block .stamped-header .stamped-review-options{width:100%;margin:1rem auto 2rem;background:0 0;padding:20px;line-height:10px;clear:both}.pdp-reviews-block .stamped-header .stamped-review-options ul{display:flex;justify-content:space-between;align-items:baseline}.pdp-reviews-block .stamped-header .stamped-review-options ul li{width:30%;margin-right:0;list-style:none;display:inline-block}.pdp-reviews-block .stamped-header .stamped-review-option-scale,.pdp-reviews-block .stamped-review-option-scale-wrapper{position:relative;height:9px;border:1px solid #ffa41d;background-color:#ffebcd}.pdp-reviews-block .stamped-header .stamped-review-option-scale i,.pdp-reviews-block .stamped-header .stamped-review-option-scale span,.pdp-reviews-block .stamped-review-option-scale-wrapper i,.pdp-reviews-block .stamped-review-option-scale-wrapper span{background:#ffa41d}.pdp-reviews-block div[data-widget-style*=standard] .stamped-summary-actions{width:100%;float:unset!important;display:flex!important;justify-content:center}.pdp-reviews-block .stamped-summary-actions-newquestion,.pdp-reviews-block .stamped-summary-actions-newreview{color:#000c48!important;font-size:12px}.pdp-reviews-block div[data-widget-style*=standard] .stamped-tab-container ul.stamped-tabs{border-bottom:1px solid #bfc2d1!important}.pdp-reviews-block .stamped-container ul.stamped-tabs li.active{border-bottom:3px solid #bfc2d1!important}.pdp-reviews-block .stamped-container ul.stamped-tabs li,.pdp-reviews-block strong.author{color:#000c48!important}.pdp-reviews-block .stamped-reviews-filter[data-show-filters=part],.pdp-reviews-block .stamped-reviews-filter[data-show-filters=true]{border-bottom:1px solid #bfc2d1;padding-bottom:0}.pdp-reviews-block #stamped-sort-select{margin-top:1rem!important;color:#000c48}.pdp-reviews-block .stamped-questions-filter-label,.pdp-reviews-block .stamped-reviews-filter-label{margin-top:1.5rem}.pdp-reviews-block .stamped-container[data-widget-show-filter-search=true] .stamped-reviews-search-text{width:100%;max-width:100%;margin-top:1rem}.pdp-reviews-block .stamped-review{border-top:1px solid #bfc2d1}.pdp-reviews-block .stamped-review:first-child{border-top:none}.pdp-reviews-block .stamped-review-header .created,.pdp-reviews-block .stamped-review-header-byline .created{color:#000c48;font-size:12px;font-weight:400}.pdp-reviews-block .stamped-review-header .stamped-verified-badge{color:#ffa41d}.pdp-reviews-block .stamped-review-recommend[data-is-recommend=true]{font-size:.9em;margin:10px 0 10px 0;color:#ffa41d}.pdp-reviews-block .stamped-review-recommend[data-is-recommend=true]:before{margin-right:8px;color:#ffa41d}.pdp-reviews-block .stamped-container[data-widget-show-product-variant=true] .stamped-review-product a,.pdp-reviews-block .stamped-container[data-widget-show-product-variant=true] .stamped-review-variant a{color:#0064ff}.pdp-reviews-block .fa-check-circle-o,.pdp-reviews-block .fa-share-alt,.pdp-reviews-block .fa-thumbs-down,.pdp-reviews-block .fa-thumbs-up,.pdp-reviews-block .stamped-fa-check-circle-o,.pdp-reviews-block .stamped-fa-share-alt,.pdp-reviews-block .stamped-fa-thumbs-down,.pdp-reviews-block .stamped-fa-thumbs-up,.pdp-reviews-block .stamped-pagination a{color:#0064ff}.resource-conscious .resource-row{display:flex;flex-direction:column}@media (min-width:768px){.resource-conscious .resource-row{flex-direction:row}}.resource-conscious .resource-col{width:100%;display:flex;flex-direction:column}@media (min-width:768px){.resource-conscious .resource-col{width:50%}}.resource-conscious .column-image{max-height:550px}.resource-conscious .column-image img{height:100%;width:100%;max-height:550px;object-fit:cover;object-position:top center}@media (min-width:768px){.resource-conscious .column-image{max-height:1058px;height:100%}.resource-conscious .column-image img{max-height:1058px}}.resource-conscious .image-block{width:100%;max-height:275px}.resource-conscious .image-block img{max-height:275px;height:100%;width:100%;object-fit:cover}@media (min-width:768px){.resource-conscious .image-block{height:100%;max-height:529px}.resource-conscious .image-block img{height:100%;max-height:529px}}.resource-conscious .single-image-block{order:1;max-height:250px;height:100%}.resource-conscious .single-image-block img{max-height:250px;height:100%;width:100%;object-fit:cover}@media (min-width:768px){.resource-conscious .single-image-block{order:2;height:50%;max-height:529px}.resource-conscious .single-image-block img{max-height:529px}}.resource-conscious .two-images-block{display:flex;flex-direction:row;order:2}@media (min-width:768px){.resource-conscious .two-images-block{order:1;height:50%}}.rebuy-widget .rebuy-product-grid.small-carousel{display:flex;flex-wrap:wrap;max-width:520px;margin-left:auto;margin-right:auto;padding:0!important}#rebuy-widget-5675.rebuy-widget,#rebuy-widget-8084.rebuy-widget{padding:0!important}#rebuy-id-5675,#rebuy-id-8084{display:flex;flex-wrap:wrap;max-width:520px;margin-left:auto;margin-right:auto}@media (min-width:992px){#rebuy-id-5675,#rebuy-id-8084{max-width:540px}}#rebuy-id-5675 .rebuy-product-info a,#rebuy-id-8084 .rebuy-product-info a{font-size:1.6rem;line-height:normal;font-weight:500;margin:0 auto 30px auto;color:#000c48}@media (min-width:992px){#rebuy-id-5675 .rebuy-product-info a,#rebuy-id-8084 .rebuy-product-info a{font-size:1.6rem;margin-bottom:40px}}#rebuy-id-5675 .rebuy-product-block,#rebuy-id-8084 .rebuy-product-block{position:relative;max-width:calc(50% - 20px);width:100%;margin:0 10px 30px 10px;padding:0}@media (min-width:992px){#rebuy-id-5675 .rebuy-product-block,#rebuy-id-8084 .rebuy-product-block{max-width:calc(50% - 30px);margin:0 15px 40px 15px}}#rebuy-id-5675 .rebuy-product-block:nth-child(even) .rebuy-select-options,#rebuy-id-8084 .rebuy-product-block:nth-child(even) .rebuy-select-options{right:calc(50% - 120px);left:0;width:100%;top:3rem}@media (min-width:560px){#rebuy-id-5675 .rebuy-product-block:nth-child(even) .rebuy-select-options,#rebuy-id-8084 .rebuy-product-block:nth-child(even) .rebuy-select-options{right:unset;left:0;top:31px}}@media (min-width:992px){#rebuy-id-5675 .rebuy-product-block:nth-child(even) .rebuy-select-options,#rebuy-id-8084 .rebuy-product-block:nth-child(even) .rebuy-select-options{left:0;top:31px}}#rebuy-id-5675 .rebuy-product-media,#rebuy-id-8084 .rebuy-product-media{position:relative;padding-bottom:27px;background:#efdcce;max-height:185px;cursor:default}@media (min-width:520px){#rebuy-id-5675 .rebuy-product-media,#rebuy-id-8084 .rebuy-product-media{max-height:280px}}@media (min-width:992px){#rebuy-id-5675 .rebuy-product-media,#rebuy-id-8084 .rebuy-product-media{padding-bottom:40px}}#rebuy-id-5675 .rebuy-product-media a.rebuy-product-image,#rebuy-id-8084 .rebuy-product-media a.rebuy-product-image{max-width:158px;max-height:185px;display:block;height:100%;width:100%;margin:0 auto}@media (min-width:520px){#rebuy-id-5675 .rebuy-product-media a.rebuy-product-image,#rebuy-id-8084 .rebuy-product-media a.rebuy-product-image{max-height:280px;max-width:240px;overflow:hidden}}#rebuy-id-5675 .rebuy-product-media img,#rebuy-id-8084 .rebuy-product-media img{max-width:158px;max-height:185px;object-fit:cover;height:100%;width:100%}@media (min-width:520px){#rebuy-id-5675 .rebuy-product-media img,#rebuy-id-8084 .rebuy-product-media img{max-height:280px;max-width:240px}}#rebuy-id-5675 .rebuy-product-options .rebuy-select-block,#rebuy-id-8084 .rebuy-product-options .rebuy-select-block{position:absolute;width:100%;left:0;bottom:0}#rebuy-id-5675 .rebuy-product-options .selected-size,#rebuy-id-8084 .rebuy-product-options .selected-size{font-size:14px;line-height:17px;color:#0064ff;outline:0;background:url("arrow-point-to-down.svg") no-repeat;-webkit-appearance:none;background-size:10px 8px;padding-right:14px;background-position-y:6px;background-position-x:right}#rebuy-id-5675 .rebuy-title-container,#rebuy-id-8084 .rebuy-title-container{display:flex;justify-content:center;align-items:center;position:relative;z-index:1;max-width:45px;margin-left:1rem;padding:14px}@media (min-width:992px){#rebuy-id-5675 .rebuy-title-container,#rebuy-id-8084 .rebuy-title-container{padding:27px}}#rebuy-id-5675 .rebuy-arrow,#rebuy-id-8084 .rebuy-arrow{width:8px!important;margin-left:5px;display:flex;justify-content:center;align-items:center}@media (min-width:520px){#rebuy-id-5675 .rebuy-arrow,#rebuy-id-8084 .rebuy-arrow{margin-top:unset!important}}#rebuy-id-5675 .rebuy-variant-title,#rebuy-id-8084 .rebuy-variant-title{bottom:-27px;left:-27px;display:block;font-size:14px;line-height:17px;color:#0064ff;outline:0;-webkit-appearance:none;background-size:10px 8px;background-position:top 46px right 40px;width:auto;height:17px;margin:0;border:0;text-transform:uppercase}#rebuy-id-5675 .current-size,#rebuy-id-8084 .current-size{display:inline-block;font-size:14px;line-height:normal;font-weight:400;color:#000c48;margin-bottom:12px;text-transform:uppercase;float:left;margin-left:1rem;margin-top:.6rem}#rebuy-id-5675 .siz-guid-container,#rebuy-id-8084 .siz-guid-container{color:#0064ff;font-size:12px;display:inline-block;margin-bottom:12px;padding-right:10px;float:right;cursor:pointer}#rebuy-id-5675 .siz-guid-container .siz_guid,#rebuy-id-8084 .siz-guid-container .siz_guid{position:relative;margin:0;border:none;padding:0;line-height:normal;font-weight:400;color:#0064ff;font-size:12px;display:inline-block;cursor:pointer;right:unset;top:unset}#rebuy-id-5675 .siz-guid-container .siz_guid:hover,#rebuy-id-8084 .siz-guid-container .siz_guid:hover{background:0 0}#rebuy-id-5675 .rebuy-product-media .rebuy-select-options,#rebuy-id-8084 .rebuy-product-media .rebuy-select-options{position:absolute;background:#fff;border:1px solid #0064ff;padding:13px 10px 18px 10px;display:none;z-index:2;width:100%}@media (min-width:560px){#rebuy-id-5675 .rebuy-product-media .rebuy-select-options,#rebuy-id-8084 .rebuy-product-media .rebuy-select-options{left:0;top:31px}}@media (min-width:992px){#rebuy-id-5675 .rebuy-product-media .rebuy-select-options,#rebuy-id-8084 .rebuy-product-media .rebuy-select-options{left:0;top:31px}}#rebuy-id-5675 .rebuy-product-media .rebuy-select-options .options,#rebuy-id-8084 .rebuy-product-media .rebuy-select-options .options{list-style:none;padding:0;margin:0;width:100%;display:flex;flex-direction:row;flex-wrap:wrap}@media (max-width:480px){#rebuy-id-5675 .rebuy-product-media .rebuy-select-options,#rebuy-id-8084 .rebuy-product-media .rebuy-select-options{left:0;top:31px}#rebuy-id-5675 .rebuy-product-media .rebuy-select-options .options,#rebuy-id-8084 .rebuy-product-media .rebuy-select-options .options{padding:0}}#rebuy-id-5675 .rebuy-product-media .rebuy-select-options .single-select,#rebuy-id-8084 .rebuy-product-media .rebuy-select-options .single-select{border:1px solid rgba(0,67,95,.6);border-radius:41.4px;height:31px;width:55px;font-size:14px;margin:0 auto 10px 9px;color:#000c48;text-align:center;cursor:pointer;display:inline-block;text-transform:uppercase}#rebuy-id-5675 .rebuy-product-media .rebuy-select-options .single-select:hover,#rebuy-id-8084 .rebuy-product-media .rebuy-select-options .single-select:hover{background:#000c48;color:#fff;border:2px solid #0064ff!important;-webkit-box-shadow:inset 0 0 0 2px #fff;-moz-box-shadow:inset 0 0 0 2px #fff;box-shadow:inset 0 0 0 2px #fff}#rebuy-id-5675 .rebuy-product-actions .rebuy-button,#rebuy-id-8084 .rebuy-product-actions .rebuy-button{padding:0;position:absolute;bottom:10px;right:10px;background:#0064ff;border:1px solid #0064ff;border-radius:4px;color:#fff;font-size:12px;line-height:normal;height:25px;width:63px}@media (min-width:992px){#rebuy-id-5675 .rebuy-product-actions .rebuy-button,#rebuy-id-8084 .rebuy-product-actions .rebuy-button{height:31px;width:97px;bottom:20px;right:20px}}#rebuy-id-5675 .rebuy-product-info a,#rebuy-id-8084 .rebuy-product-info a{display:block;margin:5px 0 3px 0;font-size:16px;line-height:normal;color:#000c48;font-weight:500}@media (min-width:992px){#rebuy-id-5675 .rebuy-product-info a,#rebuy-id-8084 .rebuy-product-info a{font-size:1.6rem;margin:8px 0 3px 0}}#rebuy-id-5675 .rebuy-product-price,#rebuy-id-8084 .rebuy-product-price{color:#000c48;font-size:14px;display:flex;flex-direction:row;font-weight:500;margin-bottom:3px}#rebuy-id-5675 .rebuy-product-price .rebuy-money,#rebuy-id-8084 .rebuy-product-price .rebuy-money{font-weight:500;color:#000c48}#rebuy-id-5675 .rebuy-product-price .vip-price,#rebuy-id-8084 .rebuy-product-price .vip-price{color:rgba(0,67,95,.6);text-transform:uppercase;padding-left:6px;font-weight:300}#rebuy-id-5675 .rebuy-product-price .vip-price span,#rebuy-id-8084 .rebuy-product-price .vip-price span{font-size:10px}#rebuy-id-5675 .rebuy-product-price .vip-price b,#rebuy-id-8084 .rebuy-product-price .vip-price b{color:#000c48;font-size:12px;font-weight:500}@media (min-width:992px){#rebuy-id-5675 .rebuy-product-price,#rebuy-id-8084 .rebuy-product-price{margin-bottom:5px;font-size:1.4rem;margin:0}#rebuy-id-5675 .rebuy-product-price .vip-price span,#rebuy-id-8084 .rebuy-product-price .vip-price span{font-size:14px}}#rebuy-id-5675 select.rebuy-select,#rebuy-id-8084 select.rebuy-select{display:none}#rebuy-id-5675 .rebuy-select-color,#rebuy-id-8084 .rebuy-select-color{font-size:10px;line-height:normal;font-weight:400;display:flex;margin-top:2px}#rebuy-id-5675 .rebuy-select-color .rebuy-selected-color,#rebuy-id-8084 .rebuy-select-color .rebuy-selected-color{color:#000c48;margin-right:4px}#rebuy-id-5675 .rebuy-select-color a.rebuy-select-colors,#rebuy-id-8084 .rebuy-select-color a.rebuy-select-colors{color:#0064ff;font-size:12px;font-weight:400;text-decoration:none;margin:0}@media (min-width:768px){#rebuy-id-5675 .rebuy-select-color,#rebuy-id-8084 .rebuy-select-color{margin-top:2px;font-size:14px}#rebuy-id-5675 .rebuy-select-color a.rebuy-select-colors,#rebuy-id-8084 .rebuy-select-color a.rebuy-select-colors{font-size:14px}}#rebuy-id-5675 .color,#rebuy-id-8084 .color{font-size:12px;line-height:normal;color:#000c48;font-weight:400}#rebuy-id-5675 .color span,#rebuy-id-8084 .color span{color:#0064ff;font-weight:300}@media (min-width:992px){#rebuy-id-5675 .color,#rebuy-id-8084 .color{font-size:14px}}#learnAboutMembership{max-width:320px}#learnAboutMembership h3{font-size:2rem;margin:0}#learnAboutMembership p{font-size:1.5rem;line-height:normal}#learnAboutMembership ul{margin:1rem auto;padding:0 0 0 2rem}.ebyMaskPdp .swatch-view-item span{padding:0 12px}.back_in_stock.false{max-width:307px;margin:0 auto}.pdp-liq .ebyProdTile-vipPriceWrapper{display:none}.ebySaleNotice{text-align:center;display:block;margin-top:1rem;color:#d0021b;font-size:1.2rem;line-height:initial}@media (max-width:1024px){.pdp .proBoxInfo .siz_guid{top:0;left:0}.pdp-reviews-block div.stamped-container[data-widget-style],.pdp-reviews-block div[data-widget-style] div.stamped-container{margin-top:2rem!important}.pdp-reviews-block .stamped-header .stamped-review-options ul{flex-direction:column}.pdp-reviews-block .stamped-header .stamped-review-options ul li{margin:0 auto 1rem!important}.pdp-reviews-block .stamped-summary-recommend{margin:1.75rem auto 1rem}.pdp-reviews-block .summary-overview{margin-bottom:1rem!important;justify-content:space-between;align-items:center;display:flex}}@media (max-width:991px){.col-xs-12.col-md-6.col-lg-6.mb30.proBoxInfo_outr{max-width:inherit;right:0}.pdp .proBoxInfo .swatches{margin-top:1.25rem}}
.btnWrapper p {
    text-align: center;
    margin: 2rem auto 0;
}
.forgetPassword {
  width: 100%;
}
.forgetPassword a {
	color: #000C48;
    text-decoration: underline;  
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ebytabsWrapper {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000C48;
}
#loyaltylion .lion-reward-item__icon,
#loyaltylion .lion-rule-item__icon {
  background-color: #000C48;  
}
.ebytabsWrapper .col.s12 {
  width: 100%;
  padding-bottom: 1rem;
}
.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto 1.5rem;
  /*   white-space: nowrap; */
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.tabs.tabs-transparent {
  background-color: transparent;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: #fff;
}

.tabs.tabs-transparent .indicator {
  background-color: #fff;
}

.tabs.tabs-fixed-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs.tabs-fixed-width .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  width: 50%;
}

.tabs .tab a {
  color: #000c48;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height:normal;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(0, 12, 72, 0.1);
  outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: rgba(0, 12, 72, 0.1);
  color: #000c48;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgba(238, 110, 115, 0.4);
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #000C48;
  will-change: left, right;
}
.tabs-content.carousel.carousel-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .tabs .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .tabs .tab a {
    padding: 0 12px;
  }
}
  
  .referralFormHeader {
      margin-bottom: 2.5rem;
  }
  p.header {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom:0.75rem;
  }
  .ebyPopInnerWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
  }
  .fullCol,
  .referralFieldWrapper.fullCol{
  	width: 100%;
    margin-bottom:1rem;
  }
  .halfCol {
    width: 30%;
  }
  .ebyBtn.sign_in_btn {
      border: 1px solid #000C48;
      background: #000C48;
      color: #fff;
      border-radius: 4px;
      padding: 1rem 2rem;
      display: block;
  }
  .colDivider {
      margin: auto 1.5rem;
      width: 1px;
      background: #000C48;
      height: 65px;
  }
  .halfCol.ebyFormWrapper {
      width: 70%;
      text-align: center;
  }
  .referralFormHeader {
      margin-bottom: 2.5rem;
  }
  .referralFormHeader p {
      margin: 0;
      text-align: center;
      line-height: initial;
      font-size:1.6rem;
  }
  p.header {
      font-weight: 400;
      text-transform: capitalize;
      font-size: 2rem;
      margin-bottom:0.75rem;
  }
  .erp-fieldsWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 300px;
      margin: 0 auto;
  }
  .referralFieldWrapper.email {
      width: 100%;
      margin-bottom: 1rem;
  }
  .referralFieldWrapper {
      width: 50%;
  }
  .referralFieldWrapper input {
      width: 100%;
      padding: 0.25rem 0.75rem;
      font-size: 1.5rem;
      border: 1px solid #000C48;
      border-radius: 0;
      height: 43px;
      line-height: 1.45;
   	  color: #000C48;
  }
  .referralFieldWrapper input[type="submit"] {
  	height: auto;
  }
  .referralFieldWrapper.first-name {
      width: 48%;
  }
  .referralFieldWrapper.submitWrapper.submit {
      margin: 2.5rem auto 1rem;
      max-width: 200px;
      width: 100%;
  }
  input.referralCreateAccountBtn,
  input.referralSignInBtn {
      border: 1px solid #000C48;
      background: #000C48;
      color: #fff;
      border-radius: 4px;
      padding: 1rem 2rem;
      text-align: center;
  }
  p.context {
      font-size: 1.25rem;
      margin: 0 auto;
      line-height: normal;
      max-width: 170px;
  }
  p.referralTermsContext {
      font-size: 1.25rem;
      margin: 0;
  }
  p a {
      color: #0064ff;
      text-decoration: none;
  }
  
  
  .smile-lp .hero {
    margin-top: 0;
  }
  .smile-lp .hero-give {
    background: #f6f1ef;
    position: relative;
  }
  .smile-lp .hero-give .hero-image-content h1 {
    padding: 0;
    text-transform: none;
  }
  @media (min-width: 992px) {
    .smile-lp .hero-give .hero-image-content {
      float: left;
    }
    .smile-lp .hero-give .hero-text-content {
      float: right;
    }
  }
  .smile-lp .hero-power .hero-image-content h2 {
    text-align: center;
    color: #000c48;
    font-family: "Domaine Regular",serif;
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
  }
  @media (min-width: 768px) {
    .smile-lp .hero-power .hero-image-content h2 {
      font-size: 80px;
    }
  }
  @media (min-width: 1024px) {
    .smile-lp .hero-power .hero-image-content h2 {
      font-size: 106.7px;
    }
  }
  @media (min-width: 1440px) {
    .smile-lp .hero-power .hero-image-content h2 {
      font-size: 150px;
    }
  }
  @media (min-width: 1920px) {
    .smile-lp .hero-power .hero-image-content h2 {
      font-size: 200px;
    }
  }
  .smile-lp .hero-power .hero-image-content .top-heading {
    padding-top: 12px;
  }
  @media (min-width: 768px) {
    .smile-lp .hero-power .hero-image-content .top-heading {
      padding-top: 15px;
    }
  }
  @media (min-width: 1024px) {
    .smile-lp .hero-power .hero-image-content .top-heading {
      padding-top: 18px;
    }
  }
  @media (min-width: 1440px) {
    .smile-lp .hero-power .hero-image-content .top-heading {
      padding-top: 25px;
    }
    .smile-lp .hero .row {
        max-width: 1200px !important;
    }
  }
  @media (min-width: 1920px) {
    .smile-lp .hero-power .hero-image-content .top-heading {
      padding-top: 30px;
    }
  }
  /*
  .smile-lp .hero-bg {
    background: #e77499;
    position: relative;
  }
  @media (min-width: 992px) {
    .smile-lp .hero-bg .hero-img-block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .smile-lp .hero-bg .hero-img-block div {
    width: 100%;
    height: 100%;
  }
  .smile-lp .hero-bg .hero-img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .smile-lp .hero-bg .hero-img {
    display: none;
  }
  @media (min-width: 1024px) {
    .smile-lp .hero-bg .hero-img-mobile {
      display: none;
    }
    .smile-lp .hero-bg .hero-img {
      display: inline;
    }
  }
  .smile-lp .hero-bg .hero-image-content {
    height: 0;
    padding: 0;
  }
  .smile-lp .hero-bg .hero-text-content {
    padding: 30px 19px 50px;
  }
  .smile-lp .hero-bg h2 {
    font-size: 36px;
    line-height: 1.1;
    color: #ffffff;
    margin: 0 0 20px;
  }
  .smile-lp .hero-bg h2 i {
    display: block;
    color: #2031BA;
  }
  .smile-lp .hero-bg h2 i:before {
    margin: 0;
  }
  .smile-lp .hero-bg .intro {
    font-size: 16px;
    line-height: 2;
    color: #ffffff;
    max-width: 400px;
    margin-bottom: 30px;
  }
  .smile-lp .hero-bg .btn {
    background: #2031BA;
    border-color: #2031BA;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    width: 180px;
    padding: 15px 36px;
    border-radius: 80px;
    margin: 0;
    text-transform: uppercase;
  }
  @media (min-width: 540px) {
    .smile-lp .hero-bg .hero-text-content {
      padding: 60px 19px 50px;
    }
    .smile-lp .hero-bg h2 {
      font-size: 50px;
      line-height: 1.43;
      margin: 0;
    }
    .smile-lp .hero-bg h2 i {
      display: inline;
    }
    .smile-lp .hero-bg .intro {
      font-size: 18px;
      max-width: 400px;
      margin-bottom: 30px;
    }
    .smile-lp .hero-bg .btn {
      font-size: 18px;
      width: 220px;
      padding: 20px 36px;
    }
  }
  @media (min-width: 992px) {
    .smile-lp .hero-bg .hero-text-content {
      padding: 122px 19px 120px;
    }
  }
  @media (min-width: 1200px) {
    .smile-lp .hero-bg .hero-text-content {
      padding: 122px 19px 196px;
    }
    .smile-lp .hero-bg h2 {
      font-size: 56px;
    }
    .smile-lp .hero-bg .intro {
      font-size: 20px;
      max-width: 500px;
      margin-bottom: 30px;
    }
    .smile-lp .hero-bg .btn {
      font-size: 18px;
      width: 240px;
      padding: 26px 36px;
    }
  }
  @media (min-width: 1400px) {
    .smile-lp .hero-bg .btn {
      text-transform: capitalize;
    }
  }*/
  .smile-lp .referral-section-refer {
    background: #F8F5F5;
  }
  .smile-lp .referral-section-refer .sectionInnerWrapper,
  .smile-lp .referral-section-earning .sectionInnerWrapper {
    padding: 70px 5rem 90px;
  }
  .smile-lp .referral-section-refer h3,
  .smile-lp .referral-section-easy h3,
  .smile-lp .referral-section-earning h3 {
    font-size: 34px;
    line-height: 1.1;
  }
  .smile-lp .referral-section-refer .referralProgramOfferings,
  .smile-lp .referral-section-earning .referralProgramOfferings {
    width: 100%;
  }
  .smile-lp .referral-section-refer .referralProgramOfferings {
    margin: 70px auto 56px;
  }
  .smile-lp .referral-section-earning .referralProgramOfferings {
    margin: 60px auto 56px;
  }
  .smile-lp .referral-section-refer .sectionInnerWrapper .referralProgramOfferings ul,
  .smile-lp .referral-section-easy .sectionInnerWrapper .referralProgramOfferings ul,
  .smile-lp .referral-section-earning .sectionInnerWrapper .referralProgramOfferings ul {
    margin: 0;
  }
  .smile-lp .referral-section-refer .sectionInnerWrapper .referralProgramOfferings ul,
  .smile-lp .referral-section-earning .sectionInnerWrapper .referralProgramOfferings ul {
    align-items: flex-start;
  }
  .smile-lp .referral-section-refer .referralProgramOfferings ul .offeringWrapper,
  .smile-lp .referral-section-earning .referralProgramOfferings ul .offeringWrapper {
    padding: 0;
    max-width: 100%;
    flex-direction: column;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
  }
  .smile-lp .referral-section-refer .referralProgramOfferings ul .offeringWrapper .offeringContent,
  .smile-lp .referral-section-earning .referralProgramOfferings ul .offeringWrapper .offeringContent {
    width: 100%;
  }
  .smile-lp .referral-section-refer .referralProgramOfferings ul .offeringWrapper .number,
  .smile-lp .referral-section-earning .referralProgramOfferings ul .offeringWrapper .number {
    margin-bottom: 30px;
  }
  .smile-lp .referral-section-refer .referralProgramOfferings ul .offeringWrapper .offeringContent p,
  .smile-lp .referral-section-earning .referralProgramOfferings ul .offeringWrapper .offeringContent p {
    font-size: 16px;
    line-height: 1.75;
  }
  .smile-lp .referral-section-refer .referralProgramOfferings ul .offeringWrapper .offeringContent p.headlineCopy,
  .smile-lp .referral-section-earning .referralProgramOfferings ul .offeringWrapper .offeringContent p.headlineCopy {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 11px;
  }
  @media (min-width: 540px) {
    .smile-lp .referral-section-refer h3,
    .smile-lp .referral-section-easy h3,
    .smile-lp .referral-section-easy h3,
    .smile-lp .referral-section-earning h3 {
      font-size: 40px;
      line-height: 2;
    }
    .smile-lp .referral-section-refer .referralProgramOfferings ul .offeringWrapper .offeringContent,
    .smile-lp .referral-section-earning .referralProgramOfferings ul .offeringWrapper .offeringContent {
      width: 70%;
    }
  }
  @media (max-width: 769px) {
    .smile-lp .referral-section-refer .referralProgramOfferings ul .offeringWrapper:not(:last-of-type),
    .smile-lp .referral-section-earning .referralProgramOfferings ul .offeringWrapper:not(:last-of-type) {
      padding-bottom: 50px;
    }
  }
  .smile-lp .referral-section-easy .sectionInnerWrapper {
    padding: 100px 2rem 150px;
  }
  .smile-lp .referral-section-easy .referralProgramOfferings {
    margin: 60px auto 0;
  }
  .smile-lp .referral-section-easy .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper {
    align-items: flex-start;
    max-width: 300px;
  }
  .smile-lp .referral-section-easy .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringIcon {
    width: 64px;
    margin-right: 30px;
  }
  .smile-lp .referral-section-easy .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringContent p {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
  }
  .smile-lp .referral-section-easy .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringContent p.headlineCopy {
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0.75rem;
  }
  @media (min-width: 540px) {
    .smile-lp .referral-section-easy .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringContent p {
      font-size: 20px;
    }
    .smile-lp .referral-section-easy .sectionInnerWrapper .referralProgramOfferings ul .offeringWrapper .offeringContent p.headlineCopy {
      font-size: 28px;
    }
  }
  @media (max-width: 769px) {
    .smile-lp .referral-section-easy .sectionInnerWrapper {
      padding: 80px 2rem 100px;
    }
    .tabs .tab a,
    p.header {
    	font-size:1.6rem;
    }
  }
</style>
<div class="smile-lp">
  <section class="referral-section referral-section-easy">
    <div id="get-started-referring" class="sectionInnerWrapper">
      <h3>Try Referring Us</h3>
      <section class="referralMainWrapper">
      	<div class="imgWrapper">
          <img width="500" height="500" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/768---IMG---HOME_FLIP---Cotton_2.0_2x_eb3f58bb-6872-4b0d-9d72-b57d78e0c10d.jpg" alt="EBY Referral Program" title="EBY Referral Program" />
        </div>
      	<div class="formWrapper">
          {% unless customer %}
          <div class="ebyEmbFormWrapper">
            <div class="row">
              <div class="ebytabsWrapper">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a href="#sign_in">Sign In To My Account</a></li>
                    <li class="tab col s3"><a class="active" href="#sign_up">Start A New Account</a></li>
                  </ul>
                </div>
                <div id="sign_in" class="col s12">
                  <section class="ebyPopInnerWrapper">
                    <!--                   <header class="referralFormHeader">
<p class="header">Have an EBY account already?</p>
<p>Please sign in to see your earnings and referral link shares so far.</p>
</header> -->
                    <div class="halfCol ebyFormWrapper">
                      <div class="loginBlock">
                        <div id="frmAccountTabLogin" class="tab-pane{% if isLogin %} active{% endif %}">
                          <div id="ResetPassword" class="resetPassword alert alert-success hidden">
                            {{ 'customer.recover_password.success' | t }}
                          </div>
                          <div id="CustomerLoginForm" class="formAccount formAccountLogin">
                            {% form 'customer_login' %}
                            <div class="formContent">
                              <div class="ebyFormWrapper" style="max-width:300px;margin: 0 auto;">
                                {%- if form.errors -%}
                                <div class="alert alert-danger">
                                  {{ form.errors | default_errors }}
                                </div>
                                {%- endif -%}
                                <div class="referralFieldWrapper fullCol form-group{% if form.errors contains 'email' %} has-error{% endif %}">
                                  <label for="CustomerEmail" class="hidden">{{ 'customer.login.email' | t }}</label>
                                  <input autocomplete="off" type="email" name="customer[email]" id="CustomerEmail" class="referralFieldInput form-control" placeholder="{{ 'customer.login.email' | t }}" required {% if isLogin %}autofocus{% endif %}>
                                </div>
                                {%- if form.password_needed -%}
                                <div class="referralFieldWrapper fullCol form-group form-group--pasword{% if form.errors contains 'password' %} has-error{% endif %}">
                                  <label for="CustomerPassword" class="hidden">{{ 'customer.login.password' | t }}</label>
                                  <input autocomplete="off" type="password" value="" name="customer[password]" id="CustomerPassword" class="referralFieldInput form-control" placeholder="{{ 'customer.login.password' | t }}" required>
                                  {% comment %}
                                  <a href="javascript:void(0)" class="velaShowPassword">{{ 'customer.account.show_password' | t }}</a>
                                  {% endcomment %}
                                </div>
                                {%- endif -%}
                                <div class="referralFieldWrapper submitWrapper submit form-button">
                                  <input type="submit" class="btn btnVelaOne" value="{{ 'customer.login.sign_in' | t }}">
                                </div>
                                {%- if form.password_needed -%}
                                <div class="forgetPassword">
                                  <a href="/account/login#recover" class="velaRecoverPassword">Forgot Password?</a>
                                </div>
                                {%- endif -%}
                              </div>
                            </div>
                            {% endform %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div id="sign_up" class="col s12">
                  <section class="ebyPopInnerWrapper referralFormWrapper">
                    <!--                   <header class="referralFormHeader">
<p class="header">New or don't have an EBY account yet?</p>
<p>Please provide your information below to get a referral link. We will email you to confirm your email for the EBY account.</p>
</header> -->
                    <div class="halfCol ebyFormWrapper">
                      <form class="esu-form" id="esu-form">
                        <input type="hidden" name="form_type" value="create_customer">
                        <div class="erp-fieldsWrapper">
                          <div class="referralFieldWrapper email">
                            <label class="hidden" for="email">Email</label>
                            <input class="referralFieldInput email-input" type="email" name="customer[email]" placeholder="Email">
                          </div>

                          <div class="referralFieldWrapper first-name">
                            <label class="hidden" for="first-name">First name</label>
                            <input class="referralFieldInput name-input" type="text" name="customer[first_name]" placeholder="First Name" />
                          </div>

                          <div class="referralFieldWrapper password">
                            <label class="hidden" for="password">Password</label>
                            <input class="referralFieldInput pass-input" type="password" name="customer[password]" placeholder="Password" />
                          </div>
                        </div>

                        <div class="hidden">
                          <label class="hidden" for="note">Note</label>
                          <input type="text" name="customer[note]" value="referral_program_customer">
                        </div>

                        <div class="referralFieldWrapper submitWrapper submit">
                          <input type="submit" value="Sign Up!" class="btn referralCreateAccountBtn" />
                        </div>

                        <p class="context">** You can update your account later at any time.</p>
                      </form>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>	
          {% else %}
          <div class="buttonWrapper">
            <a class="btn hero-btn btn-rev" href="#" data-lion-refer>Share My Link</a>
          </div>
          {% endunless %}
        </div>
      </section>
    </div>
  </section>
</div>

<script type="text/javascript" defer>
  var ready = (callback) => {
    if (document.readyState != "loading") callback();
    else document.addEventListener("DOMContentLoaded", callback);
  }

  ready(() => { 
    /* Do things after DOM has fully loaded */ 
    document.querySelectorAll(".smile-lp .btn").forEach(cta => {
      cta.addEventListener("click", (e) => {
        console.log('trigger custom-launcher-button');
        //e.preventDefault();
        jQuery('.custom-launcher-button.open').trigger('click');
      });
    })
  });
</script>
<div style="display:none;" class="erpWrapper referralFormWrapper" data-width="640" data-height="auto" id="erpWrapper">
  <header class="referralFormHeader">
    <p class="header">Refer friends &amp; earn rewards</p>
    <p>Please sign in or make an account to use our referral program.</p>
  </header>
  <section class="ebyPopInnerWrapper">
    <div class="halfCol ebyCtaWrapper">
      	<a href="/account/login" class="ebyBtn btn sign_in_btn">Sign In</a>
    </div>
    <div class="colDivider">&nbsp;</div>
  	<div class="halfCol ebyFormWrapper">
      
      <form class="eca-form" id="eca-form-referral" method="post">
        <div class="erp-fieldsWrapper">
          <div class="referralFieldWrapper email">
            <label class="hidden" for="email">Email</label>
            <input class="referralFieldInput email" type="email" name="customer[email]" placeholder="Email">
          </div>

          <div class="referralFieldWrapper first-name">
            <label class="hidden" for="first-name">First name</label>
            <input class="referralFieldInput name" type="text" name="customer[first_name]" placeholder="First Name" />
          </div>

          <div class="referralFieldWrapper password">
            <label class="hidden" for="password">Password</label>
            <input class="referralFieldInput pass" type="password" name="customer[password]" placeholder="Password" />
          </div>
        </div>

        <div class="hidden">
          <label class="hidden" for="note">Note</label>
          <input type="text" name="customer[note]" value="referral_program_customer">
        </div>

        <div class="referralFieldWrapper submitWrapper submit">
          <input type="submit" value="Sign Up!" class="referralCreateAccountBtn" />
        </div>

        <p class="context">** You can update your account later at any time.</p>
      </form>
    </div>
  </section>
</div>
<script type="text/javascript" defer>
  
  document.addEventListener("DOMContentLoaded", function () {
    
//     $('.tabs').tabs({
//       swipeable: true
//     });
    
    $('body').on('click', '.tabs a', function (e) {
      	console.log('log', e);
    	e.preventDefault();
      	e.stopPropagation();
     	return false;
    });
    var instance = M.Tabs.init(document.querySelector('.tabs'));
    
    $('#esu-form').submit(function (ev) {
      ev.preventDefault();
      console.log(":: form submit attempt ::", ev.target);
      
      var scope = this;
      var form = ev.target;

      
      let payloadReady = true;
      
      var formData = {
        "first_name": jQuery('#esu-form .name-input').val(),
        "email" : jQuery('#esu-form .email-input').val(),
        "password" : jQuery('#esu-form .pass-input').val(),
        "password_confirmation" : jQuery('#esu-form .pass-input').val(),
        "verified_email" : true,
        "send_email_welcome" : false
      };
      
      if (!!payloadReady) {
        jQuery.ajax({
          type: "POST",
          crossDomain : true,
          url: window.APIDomain+window.otherAPI+"eby_customer_helper.php",
          data: {data: formData},
          dataType: 'json',
          success: function(data){
            console.log("::eby customer save success::", data);

            if(!!data){
              console.log('check data', data);
            }
            
            
            var customer = {
              "email" : jQuery('#esu-form .email-input').val(),
              "password" : jQuery('#esu-form .pass-input').val()
            };
            
            // clear data
            jQuery('#esu-form .name-input').val('');
            jQuery('#esu-form .email-input').val('');
            jQuery('#esu-form .pass-input').val('');
            jQuery('#esu-form .pass-input').val('');
            
            jQuery.ajax({
              type: "POST",
              crossDomain : true,
              url: "/account/login",
              data: {              
                "utf8": "",
              	"form_type": "customer_login",
              	"recaptcha-v3-token": Shopify.recaptchaV3.siteKey,
                "customer": customer
              },
              dataType: 'json',
              success: function(data){
                console.log("::eby customer login success::", data);

                window.location.replace('/account');
              },
              error: function(xhr, text) {
                
                window.location.replace('/account');

//                 console.log("::eby customer login failure::", {
//                   text : text,
//                   xhr : xhr
//                 });

              }
            });
            
            M.toast({html: '<span class="atcNoteAvatar"><header><p class="bold">ACCOUNT CREATED</p><p>Sign in anytime to check your referrals.</p></header></span>', classes: 'ebyAtcAlert ebyReferralMsg success'});
          },
          error: function(xhr, text) {

            console.log("::eby customer save failure::", {
              text : text,
              xhr : xhr
            });
            
            //jQuery('#esu-form .name-input').val(''),
            //jQuery('#esu-form .email-input').val(''),
            jQuery('#esu-form .pass-input').val('');
            jQuery('#esu-form .pass-input').val('');
            
            if (xhr.responseText.indexOf('has already been taken') > 0) {
            	// this is a person that needs to sign in
              M.toast({html: '<span class="atcNoteAvatar"><header><p class="bold">OOPS!</p><p>Looks like you already have an account; try signing in with that email.</p></header></span>', classes: 'ebyAtcAlert ebyReferralMsg error'});
            }

          }
        });
        
      }
      
    });
    
    
  	$('body').on('click', '.ebyFancyBtn', function (ev) {
          console.log('::ebyfancyBtn init - referral::');
          ev.preventDefault();

          // show popup
          var popupId = !!ev.target.getAttribute('src') ? ev.target.getAttribute('src') : ev.target.getAttribute('data-src');
          $.fancybox.open(jQuery(popupId));

          // if its select-styleGroup, then show s&d options
          var btnType = ev.target.getAttribute('data-type');
          var btnVal = ev.target.getAttribute('data-value');
          console.log('::button data::', {btnVal:btnVal,btnType:btnType });
    });
    $('body').on('submit', '.referralFormWrapper form', function () {
      
      window.localStorage.setItem('err',true);
      //yahooTracking
      console.log(':: referral tracking init ::');
      window.dotq = window.dotq || [];
      window.dotq.push({
        'projectId' : "10000",
        'properties' : {
          'pixelId' : "10172108",
          'qstrings' : {
            "et" : "custom",
            "ec" : "shopping",
            "ea" : "yn-new_referral_account",
            "el" : "sign up",
            "ev" : "",
            "gv" : "",
          }
        }
      });
    });
  });
</script>