{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}
{%- assign file_extension = 'png' -%}
{% capture variantsswatch %} {% endcapture %}
{% unless vela_swatch %}
    {%- assign vela-swatch = blank -%}
{% else %}
    {%- assign vela-swatch = vela_swatch -%}
{% endunless %}
{% unless product_first %}
    {%- assign product_first = false -%}
{% endunless %}
{% capture variantsswatch %}{{ vela-swatch }}{% endcapture %}
{%- if vela-swatch == blank -%}
    <div class="swatch error">
        <p>You must include the snippet vela-swatch.liquid with the name of a product option.</p> 
        <p>Use: <code>{% raw %}{% include 'vela-swatch' with 'name of your product option here' %}{% endraw %}</code></p>
        <p>Example: <code>{% raw %}{% include 'vela-swatch' with 'Color' %}{% endraw %}</code></p>
    </div>
{%- else -%}
    {%- assign found_option = false -%}
    {%- assign is_color = false -%}
    {%- assign option_index = 0 -%}
    {%- assign indexChild = 0 -%}
    {% for option in product_target.options %}
        {%- if option == vela-swatch -%}
            {%- assign found_option = true -%}
            {%- assign option_index = forloop.index0 -%}
    		{%- assign indexChild = forloop.index -%}
    		<style rel="stylesheet" type="text/css" >
              	.proVariants .selector-wrapper:nth-child({{ indexChild }}){display: none;}
            </style>
            {%- assign downcased_option = vela-swatch | downcase -%}
            {%- if downcased_option contains 'color' or downcased_option contains 'colour' -%}
                {%- assign is_color = true -%}
            {%- endif -%}
        {%- endif -%}
    {% endfor %}
    {% unless found_option %}
        
    {% else %}
      {%- assign size_guid_product = '' -%}
      {%- case product_target.type -%}
        {%- when 'Core Underwear' or 'Premium Underwear' -%}
          {%- assign size_guid_product = ' ebyPantyPdp' -%}
        {%- when 'Bralette & Panty Set' -%}
          {%- assign size_guid_product = ' ebyBraPantySetPdp' -%}
        {%- when 'Panty Pack' -%}
          {%- assign size_guid_product = ' ebyPantyPackPdp' -%}
        {%- when 'Core Bralette' or 'Premium Bralette' or 'Core Bra' -%}
          {%- assign size_guid_product = ' ebyBralettePdp' -%}
		{%- when 'Wrap Top' -%}
          {%- assign size_guid_product = ' ebyWrapGuide' -%}
      {%- endcase -%}
        <div class="js-swatch swatches{% if product_first%} swatch-{% endif %} hover-enabled swatch-bundle clearfix {% if is_color %}color{% else %}size{% endif %}" data-option-index="{{ option_index }}" style="flex-direction: column;">
          <div class="header">{{ product_target.title }}<br><small style="width: 100%;">{{ variantsswatch }} <span class="js-swatch-display text"></span> <a class="siz_guid size_guid_pdp{{ size_guid_product}}" href="#">Size Guide</a></small>
            {% if is_color %}
            {% else %}
            {% comment %}
            <a class="siz_guid" href="#">Size Guide</a>
            {% endcomment %}
            {% endif %}
          </div>
          <ul class="swatch-view">
            {%- assign values = '' -%}
            {% for variant in product_target.variants %}
              {%- assign value = variant.options[option_index] -%}
              {%- unless values contains value -%}
                {%- if variant.available -%}
                  {%- assign values = values | join: ',' -%}
                  {%- assign values = values | append: ',' | append: value -%}
                  {%- assign values = values | split: ',' -%}
                  <li data-value="{{ value | escape }}" class="swatch-element-bundle swatch-view-item {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
                    {%- assign min = 1 -%}
                    {%- assign max = 100 -%}
                    {%- assign diff = max | minus: min -%}
                    {%- assign random_number = "now" | date: "%N" | modulo: diff | plus: min -%}
                    <div data-value="{{ value | escape }}" class="{% if product_first %}swatch-element- {% endif %}swatch-selector swatch-button swatch-allow-animation star-btn-text-upper star-set-btn {% if is_color %}color {% endif %}{{ value | handle }} {% if forloop.first %}swatch-selected{% endif %} {% if variant.available %}available{% else %}soldout{% endif %}" product-id="{{ variant.id }}" data-association="{{ random_number }}">
                      {%- if is_color -%}
                        <div class="tooltip">{{ value }}</div>
                      {%- endif -%}
                        <input class="swatchItem" style="display: none;" id="swatch-{{ option_index }}-{{ value | handle }}-{{ product_target.id }}-{% if block.id != blank %}{{ block.id }}{% endif %}" type="radio" name="option-{{ option_index }}-{{ product_target.id }}-{% if block.id != blank %}{{ block.id }}{% endif %}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
                      {%- if is_color -%}
                        <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product_target.id }}-{% if block.id != blank %}{{ block.id }}{% endif %}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({% if variant.image.src != blank %}{{ variant.image.src | product_img_url:'small' }}{% else %}{{ value | handle | append: '.png' | file_url }}{% endif %})">
                            <img class="crossed-out" alt="" src="{{ 'soldout_new.png' | asset_url }}" />
                        </label>
                      {%- else -%}
                        <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product_target.id }}-{% if block.id != blank %}{{ block.id }}{% endif %}">
                            {{ value }}
                            <img class="crossed-out" alt="" src="{{ 'soldout_new.png' | asset_url }}" />
                        </label>
                      {%- endif -%}
                    </div>
                  </li>
                {%- endif -%}
              {%- endunless -%}
              {%- if variant.available -%}
                <script>
                  jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                </script>
              {%- endif -%}
            {% endfor %}
          </ul>
        </div>
    {% endunless %}
{%- endif -%}