<section class="alala-hero-section">
  <div class="section-wrap">
    <div class="col-group">
      <div class="col left-col">
        <div class="col-wrap">
          {% if section.settings.desktop-image != blank %}
          <img src="{{ section.settings.desktop-image | img_url: 'master'}}" class="desktop-image" alt="">
          {% endif %}
          {% if section.settings.mobile-image != blank %}
          <img src="{{ section.settings.mobile-image | img_url: 'master'}}" class="mobile-image" alt="">
          {% else %}
          <img src="{{ section.settings.desktop-image | img_url: 'master'}}" class="mobile-image" alt="">
          {% endif %}
        </div>
      </div>
      <div class="col right-col">
        <div class="col-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/alala-dektop-right-image.jpg?v=1626187741" class="desktop-image" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/alala-mobile-right-image.jpg?v=1626191950" class="mobile-image" alt="">
          <div class="col-content">
            <div class="col-content-wrap">
              {% if section.settings.title != blank %}
              <h6 class="sub-title">{{ section.settings.title }}</h6>
              {% endif %}
              <div class="section-logo">
                <svg width="109" class="eby_logo" height="69" viewBox="0 0 109 69" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M109 17.1742H100.241L103.203 0L91.7895 24.7056H99.8049L97.0859 41.0538L109 17.1742ZM70.1572 17.1684L82.7272 47.5201V68.9994H93.6763V47.0627L81.643 17.1684H70.1572ZM55.0662 56.1587C55.0662 58.7268 53.9947 60.2837 51.1607 60.2837H46.8064V46.8191H50.7018C53.5345 46.8191 55.0662 48.3759 55.0662 51.4112V56.1587ZM46.8064 25.8847H50.9319C53.7646 25.8847 54.8374 27.5193 54.8374 30.0874V34.6004C54.8374 37.6363 53.3057 39.1147 50.4717 39.1147H46.8064V25.8847ZM58.1291 42.4616C63.3362 41.5274 65.251 37.7134 65.251 32.811V29.0748C65.251 21.6827 60.7329 17.1684 52.4636 17.1684H35.7796V68.9994H52.6918C60.9618 68.9994 65.5564 64.5641 65.5564 57.0916V52.1115C65.5564 47.2862 63.5657 43.629 58.1291 42.4616ZM0 17.1684V69H22.839L24.7207 59.4952H10.9497V46.2743H22.9716V37.8695H10.9497V26.5067H25.0993V17.1684H0Z" fill="#000C48"/></svg>
                <span class="section-logo-text">X</span>
                <svg width="232" class="alala_logo" height="52" viewBox="0 0 232 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M206.115 0L232 52H223.775L203.575 11.1776L183.253 52H180.229L206.115 0ZM151.562 0V49.2056H178.294V52H144.184V0H151.562ZM116 0L141.885 52H133.66L113.46 11.1776L93.1387 52H90.1147L116 0ZM61.4473 0V49.2056H88.1797V52H54.0688V0H61.4473ZM25.8853 0L51.7706 52H43.5454L23.3452 11.1776L3.02398 52H0L25.8853 0Z" fill="#000C48"/></svg>
              </div>
              {% if section.settings.content != blank %}
              <div class="section-dec only-dektop">
                {{ section.settings.content }}
              </div>
              {% endif %}
            </div>
            <div class="section-footer">
              {% if section.settings.content != blank %}
              <div class="section-dec only-mobile">
                {{ section.settings.content }}
              </div>
              {% endif %}
              <div class="home-content">
                <div class="arrow-sep"></div>
              </div>
              {% if section.settings.button_link != blank and section.settings.button_text != blank %}
              <a class="btn scroll_btn" data-style="Custom Styles" href="{{ section.settings.button_link }}">
                <span>{{ section.settings.button_text }}</span>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Banner Section",
    "settings": [
	  {
		"type": "image_picker",
		"id": "desktop-image",
		"label": "Desktop Image"
	  },
	  {
		"type": "image_picker",
		"id": "mobile-image",
		"label": "Mobile Image"
	  },
	  {
		"type": "text",
		"id": "title",
		"label": "Title"
	  },
	  {
		"type": "richtext",
		"id": "content",
		"label": "Content"
	  },
	  {
        "id": "button_link",
        "type": "url",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }	
	]
  }
{% endschema %}