{% if section.settings.desk_img != blank %}
<section class="permium_hero_section small_con">
  <div class="section-wrap">
    <div class="section_image">
      {% if section.settings.desk_img != blank %}
      <img width="1680" height="993" data-src="{{ section.settings.desk_img | img_url: 'master' }}" class="desktop_image lazyload" alt="{{ section.settings.desk_img.alt }}">
      {% endif %}
      {% if section.settings.ipad_img != blank %}
      <img width="762" height="762" data-src="{{ section.settings.ipad_img | img_url: 'master' }}" class="ipad_image lazyload" alt="{{ section.settings.ipad_img.alt }}">
      {% elsif section.settings.desk_img != blank %}
      <img width="762" height="762" data-src="{{ section.settings.desk_img | img_url: 'master' }}" class="ipad_image lazyload" alt="{{ section.settings.desk_img.alt }}">
      {% else %}
      {% endif %}
      {% if section.settings.mob_img != blank %}
      <img width="376" height="478" data-src="{{ section.settings.mob_img | img_url: 'master' }}" class="mobile_image lazyload" alt="{{ section.settings.mob_img.alt }}">
      {% elsif section.settings.desk_img != blank %}
      <img width="376" height="478" data-src="{{ section.settings.desk_img | img_url: 'master' }}" class="mobile_image lazyload" alt="{{ section.settings.desk_img.alt }}">
      {% else %}
      {% endif %}
    </div>
        <div class="section_content {{ section.settings.text_align }}">
      <div class="content_top">
        <div class="titleSvgImg">
          <img class="lazyload desktop_only" height="48" width="270" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_TITLE_headline_-_1440_-_25_2_7963b7bc-c0d5-4a47-a88b-ca58071ae124.svg" />
          <img class="lazyload mobile_only" height="48" width="270" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP_-_TITLE_headline_-_376_-_25_2.svg" />
<!--           <img class="lazyload mobile_image" height="48" width="270" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/376_-_TANK_-_title.svg?v=1642005425" /> -->
<!--           <div class="textWrap">{{ section.settings.sub_title }}</div> -->
        </div>
      </div>
      {% if section.settings.button_text != blank  and section.settings.button_link != blank %}
      <div class="content_bottom">
        <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Hero Banner",
    "settings": [
	  {
		"type": "image_picker",
		"id": "desk_img",
		"label": "Desktop Image"
	  },
	  {
		"type": "image_picker",
		"id": "ipad_img",
		"label": "Ipad Image"
	  },
	  {
		"type": "image_picker",
		"id": "mob_img",
		"label": "Mobile Image"
	  },
	  {
		"type": "text",
		"id": "title",
		"label": "Title"
	  },
	  {
		"type": "text",
		"id": "sub_title",
		"label": "Sub Title"
	  },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "text_left",
            "label": "Left"
          },
          {
            "value": "text_center",
            "label": "Center"
          },
          {
            "value": "text_right",
            "label": "Right"
          }
        ],
        "default": "text_center"
      },
	  {
        "type": "url",
        "id": "button_link",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }	
	]
  }
{% endschema %}