<div class="cotton-two product-grid premium_product_section">
  <div class="container">
    {% if section.settings.title != blank %}
    <div class="collection_group_head">
      <h2 class="text-center">{{ section.settings.title }}</h2>
    </div>
    {% endif %}
    <div class="cotton-twos">
      <div class="cotton-left product-grd collection_group fullwidth">
        <div class="products_cols collection_group_list">
        {% assign collection = collections[section.settings.collection_1] %}
        {% for product in collection.products limit: 2 %}
          {% if product.type contains "Bralette" %}
          	{%- assign prodNameTitle = "bralette" -%}
          	{% for prodTag in product.tags %}
          		{% if prodTag contains "braletteColor-" %}
          			{%- assign prodColorTitle = prodTag | replace: "braletteColor-", "" | replace: "_", " " -%}
          		{% endif %}
          		{% if prodTag contains "newCustomBoxPrice-" %}
          			{%- assign prodDealPrice = prodTag | replace: "newCustomBoxPrice-", "" | replace: "_", " " -%}
          		{% endif %}
          	{% endfor %}
          {% endif %}
          {% if product.type contains "Tank" %}
          	{%- assign prodNameTitle = "tank" -%}
          	{% for prodTag in product.tags %}
          		{% if prodTag contains "tankColor-" %}
          			{%- assign prodColorTitle = prodTag | replace: "tankColor-", "" | replace: "_", " " -%}
          		{% endif %}
          		{% if prodTag contains "newCustomBoxPrice-" %}
          			{%- assign prodDealPrice = prodTag | replace: "newCustomBoxPrice-", "" | replace: "_", " " -%}
          		{% endif %}
          	{% endfor %}
          {% endif %}

          {% assign prdImgFileName = prodNameTitle %}

          {% assign premImgFileName = prodColorTitle | replace: " ", "" | append: "---" | append: prdImgFileName | append: "---missy---tile_fr.jpg" %}
          {% if prodNameTitle == "bralette"%}
          	{% assign prodNameKey = "ajbralette" %}
          {% else %}
          	{% assign prodNameKey = prodNameTitle %}
          {% endif %}

          <div class="col products_col velaProBlock quickadd{% if prodNameTitle == "bralette" or prodNameTitle == "tank"%} topProd{% endif %}" data-size-guid="{% render 'collection-selectors-charts', product_target: product %}">
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
                <a class="proFeaturedImage" href="{{ product.url }}">
                  {% for image in product.images %}
                  	{%- assign itemNumber = forloop.index | modulo:5 -%}
                      {%- if itemNumber == 2 -%}
                  		  {% assign featImg = "PROD---black--seamless--" | append: prodNameKey | append: "--missy---feat.jpg" %}
                          <img class="img-responsive lazyload" alt="{{ image.alt }}" title="{{ image.alt }}" data-src="{{ featImg | file_img_url : "500x500", crop: "center" }}" />
                      {%- endif -%}
                  {% endfor %}
                </a>
              </div>
              <div class="col-pro-details">
                <h4><a href="{{ product.url }}">{{ product.title | replace: " Cotton", "" }}</a></h4>
                <div class="priceWrapper">
                  {% if customer.tags contains 'Active Subscriber' %}
                  <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                  {% else %}
                  <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                  {% endif %}
                </div>
              </div>
              <div class="product-details proButton clearfix">
                <div class="quick_btn pre-btn">
                  <div class="productQuickAdd">
                    <button class="btn btnProduct btnProductQuickAdd" data-href="#velaQuickAdd-{{ product.id }}-1" data-handle="{{ product.handle }}" title="Quick Add +">
                      <i class="icons icon-eye"></i>
                      <span class="text">Quick Add +</span>
                    </button>
                    <div class="selection-wrapper" id="velaQuickAdd-{{ product.id }}-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
<!--         <div class="col products_col velaProBlock premProdCopyTile desktop-only" style="flex:1;max-width: 100%;margin-top:2rem;padding:0;">
          <div class="col-wrap velaProBlockInner">
            <div class="product-image proHImage d-flex flexJustifyCenter">
              <img width="363" height="155" class="lazyload" alt="10% of every purchase empowers women out of poverty" title="10% of every purchase empowers women out of poverty" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/TILE-2-alt---flocking-alt2.jpg" />
            </div>
            <div class="product-details proButton clearfix">

            </div>
          </div>
        </div> -->
      </div>
      <div class="cotton-left product-grd collection_group">
        <div class="products_cols collection_group_list quarters">
          {% assign collection = collections[section.settings.collection_1] %}

          {% for product in collection.products limit: 14 %}
          {% if product.type contains "Bralette" or product.type contains "Tank" %}
          	{% continue %}
          {% endif %}
          
          {% if product.type contains "Underwear" %}
          {% for prodTag in product.tags %}
          {% if prodTag contains "pantyType-" %}
          {%- assign prodNameTitle = prodTag | replace: "pantyType-", "" -%}
          {% endif %}
          {% if prodTag contains "pantyColor-" %}
          {%- assign prodColorTitle = prodTag | replace: "pantyColor-", "" | replace: "_", " " -%}
          {% endif %}
          {% if prodTag contains "newCustomBoxPrice-" %}
          {%- assign prodDealPrice = prodTag | replace: "newCustomBoxPrice-", "" | replace: "_", " " -%}
          {% endif %}
          {% endfor %}
          {% elsif product.type contains "Bralette" %}
          {%- assign prodNameTitle = "bralette" -%}
          {% for prodTag in product.tags %}
          {% if prodTag contains "braletteColor-" %}
          {%- assign prodColorTitle = prodTag | replace: "braletteColor-", "" | replace: "_", " " -%}
          {% endif %}
          {% if prodTag contains "newCustomBoxPrice-" %}
          {%- assign prodDealPrice = prodTag | replace: "newCustomBoxPrice-", "" | replace: "_", " " -%}
          {% endif %}
          {% endfor %}
          {% endif %}

          {% if prodNameTitle == "highwaisted_thong" %}
          {% assign prdImgFileName = "hwthong" %}
          {% else %}
          {% assign prdImgFileName = prodNameTitle %}
          {% endif %}

          {% assign premImgFileName = "PROD---" | append: prodColorTitle | replace: " ", "" | append: "---" | append: prdImgFileName | append: ".jpg" %}

          <div class="col products_col velaProBlock quickadd{% if prodNameTitle == "bralette"%} topProd{% endif %}" data-size-guid="{% render 'collection-selectors-charts', product_target: product %}">
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
                <a class="proFeaturedImage" href="{{ product.url }}">
                  {% for image in product.images %}
                  	{%- assign itemNumber = forloop.index | modulo:5 -%}
                      {%- if itemNumber == 2 -%}
                          <img class="img-responsive lazyload" alt="{{ image.alt }}" title="{{ image.alt }}" data-src="{{ image.src | product_img_url: "1000x" }}" />
                      {%- endif -%}
                  {% endfor %}
<!--                   <div class="col-pro-details">
                    <h3>{{ product.title | replace: "Highwaisted Thong", "HW Thong" }}</h3>
                    <p class="price bfx-price">{{ product.price | money_without_trailing_zeros  }}</p>
                  </div> -->
                </a>
              </div>
              <div class="col-pro-details">
                <h4><a href="{{ product.url }}">{{ product.title | replace: " Cotton", "" }}</a></h4>
                <div class="priceWrapper">
                  {% if customer.tags contains 'Active Subscriber' %}
                  <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                  {% else %}
                  <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                  {% endif %}
                </div>
              </div>
              <div class="product-details proButton clearfix">
                <div class="quick_btn pre-btn">
                  {% include 'vela-product-quickadd' %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
<!--           <div class="col products_col velaProBlock premProdCopyTile desktop-only" >
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
                <img width="155" height="363" class="lazyload" alt="10% of every purchase empowers women out of poverty" title="10% of every purchase empowers women out of poverty" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/premLuxeCopyTile-1.jpg" />
              </div>
              <div class="product-details proButton clearfix">
                
              </div>
            </div>
          </div>
          <div class="col products_col velaProBlock premProdCopyTile mobile-only" style="flex:1;max-width: 100%;">
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
              	<img width="363" height="155" class="lazyload" alt="10% of every purchase empowers women out of poverty" title="10% of every purchase empowers women out of poverty" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/TILE-2-alt---flocking-alt2.jpg" />
              </div>
              <div class="product-details proButton clearfix">
                
              </div>
            </div>
		  </div>
          <div class="col products_col velaProBlock premProdCopyTile mobile-only" style="flex:1;max-width: 100%;">
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
                <img width="363" height="155" class="lazyload" alt="10% of every purchase empowers women out of poverty" title="10% of every purchase empowers women out of poverty" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/TILE-2-alt---flocking-alt2.jpg" />
              </div>
              <div class="product-details proButton clearfix">

              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %}
<div class="cotton-two product-grid premium_product_section secondCollection" style="padding-top:3rem;">
<!--   <div class="collection_group_head">
    {% if section.settings.banner_title_1 != blank %}
    <h2 class="text-center">{{ section.settings.banner_title_1 }}</h2>
    {% endif %}
  </div> -->
  <div class="container">
    <div class="cotton-twos">
      <div class="cotton-left product-grd collection_group fullwidth">
        <div class="products_cols collection_group_list">
        {% assign collection = collections[section.settings.collection_2] %}
        {% for product in collection.products limit: 1 %}
          {% if product.type contains "Tank" %}
          	{%- assign prodNameTitle = "tank" -%}
          	{% for prodTag in product.tags %}
          		{% if prodTag contains "tankColor-" %}
          			{%- assign prodColorTitle = prodTag | replace: "tankColor-", "" | replace: "_", " " -%}
          		{% endif %}
          		{% if prodTag contains "newCustomBoxPrice-" %}
          			{%- assign prodDealPrice = prodTag | replace: "newCustomBoxPrice-", "" | replace: "_", " " -%}
          		{% endif %}
          	{% endfor %}
          {% endif %}

          {% assign prdImgFileName = prodNameTitle %}

          {% assign premImgFileName = prodColorTitle | replace: " ", "" | append: "---" | append: prdImgFileName | append: "---missy---tile_fr.jpg" %}

          <div class="col products_col velaProBlock quickadd{% if prodNameTitle == "bralette"%} topProd{% endif %}" data-size-guid="{% render 'collection-selectors-charts', product_target: product %}">
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
                <a class="proFeaturedImage" href="{{ product.url }}">
                  {% for image in product.images %}
                  	{%- assign itemNumber = forloop.index | modulo:5 -%}
                      {%- if itemNumber == 2 -%}
                          <img class="img-responsive lazyload" alt="{{ image.alt }}" title="{{ image.alt }}" data-src="{{ image.src | img_url: "500x500", crop: "center" }}" />
                      {%- endif -%}
                  {% endfor %}
                </a>
              </div>
              <div class="col-pro-details">
                <h4><a href="{{ product.url }}">{{ product.title | replace: " Cotton", "" }}</a></h4>
                <div class="priceWrapper">
                  {% if customer.tags contains 'Active Subscriber' %}
                  <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                  {% else %}
                  <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                  {% endif %}
                </div>
              </div>
              <div class="product-details proButton clearfix">
                <div class="quick_btn pre-btn">
                  <div class="productQuickAdd">
                    <button class="btn btnProduct btnProductQuickAdd" data-href="#velaQuickAdd-{{ product.id }}-1" data-handle="{{ product.handle }}" title="Quick Add +">
                      <i class="icons icon-eye"></i>
                      <span class="text">Quick Add +</span>
                    </button>
                    <div class="selection-wrapper" id="velaQuickAdd-{{ product.id }}-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="cotton-left product-grd collection_group">
        <div class="products_cols collection_group_list">
         {% assign collection = collections[section.settings.collection_2] %}

          {% for product in collection.products limit: 8 %}
          {% if product.type contains "Tank" %}
          	{% continue %}
          {% endif %}

          {% if product.type contains "Underwear" %}
          {% for prodTag in product.tags %}
          {% if prodTag contains "pantyType-" %}
          {%- assign prodNameTitle = prodTag | replace: "pantyType-", "" -%}
          {% endif %}
          {% if prodTag contains "pantyColor-" %}
          {%- assign prodColorTitle = prodTag | replace: "pantyColor-", "" | replace: "_", " " -%}
          {% endif %}
          {% if prodTag contains "newCustomBoxPrice-" %}
          {%- assign prodDealPrice = prodTag | replace: "newCustomBoxPrice-", "" | replace: "_", " " -%}
          {% endif %}
          {% endfor %}
          {% elsif product.type contains "Bralette" %}
          {%- assign prodNameTitle = "bralette" -%}
          {% for prodTag in product.tags %}
          {% if prodTag contains "braletteColor-" %}
          {%- assign prodColorTitle = prodTag | replace: "braletteColor-", "" | replace: "_", " " -%}
          {% endif %}
          {% if prodTag contains "newCustomBoxPrice-" %}
          {%- assign prodDealPrice = prodTag | replace: "newCustomBoxPrice-", "" | replace: "_", " " -%}
          {% endif %}
          {% endfor %}
          {% endif %}

          {% if prodNameTitle == "highwaisted_thong" %}
          {% assign prdImgFileName = "hwthong" %}
          {% else %}
          {% assign prdImgFileName = prodNameTitle %}
          {% endif %}

          {% assign premImgFileName = "PROD---" | append: prodColorTitle | replace: " ", "" | append: "---" | append: prdImgFileName | append: ".jpg" %}

          <div class="col products_col velaProBlock quickadd{% if prodNameTitle == "bralette"%} topProd{% endif %}" data-size-guid="{% render 'collection-selectors-charts', product_target: product %}">
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
                <a class="proFeaturedImage" href="{{ product.url }}">
                  {% for image in product.images %}
                  	{%- assign itemNumber = forloop.index | modulo:5 -%}
                      {%- if itemNumber == 2 -%}
                          <img class="img-responsive lazyload" alt="{{ image.alt }}" title="{{ image.alt }}" data-src="{{ image.src | product_img_url: "1000x" }}">
                      {%- endif -%}
                  {% endfor %}
<!--                   <div class="col-pro-details">
                    <h3>{{ product.title | replace: "Highwaisted Thong", "HW Thong" }}</h3>
                    <p class="price bfx-price">{{ product.price | money_without_trailing_zeros  }}</p>
                  </div> -->
                </a>
              </div>
              <div class="col-pro-details">
                <h4><a href="{{ product.url }}">{{ product.title | replace: " Cotton", "" }}</a></h4>
                <div class="priceWrapper">
                  {% if customer.tags contains 'Active Subscriber' %}
                  <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                  {% else %}
                  <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                  <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                  {% endif %}
                </div>
              </div>
              <div class="product-details proButton clearfix">
                <div class="quick_btn pre-btn">
                  <div class="productQuickAdd">
                    <button class="btn btnProduct btnProductQuickAdd" data-href="#velaQuickAdd-{{ product.id }}-1" data-handle="{{ product.handle }}" title="Quick Add +">
                      <i class="icons icon-eye"></i>
                      <span class="text">Quick Add +</span>
                    </button>
                    <div class="selection-wrapper" id="velaQuickAdd-{{ product.id }}-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
<!--           <div class="col products_col velaProBlock premProdCopyTile desktop-only" >
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter desktop-only">
                <img width="155" height="363" class="lazyload desktop-only" alt="Velvet No-Slip Grip" title="Velvet No-Slip Grip" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/premLuxeCopyTile-1-alt.jpg" />
              </div>
              <div class="product-details proButton clearfix">
                
              </div>
            </div>
          </div> -->
<!--           <div class="col products_col velaProBlock premProdCopyTile mobile-only" style="flex:1;max-width: 100%;">
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
                <img width="363" height="155" class="lazyload mobile-only" alt="Velvet No-Slip Grip" title="Velvet No-Slip Grip" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/TILE-2-alt---flocking-alt.jpg" />
              </div>
              <div class="product-details proButton clearfix">
                
              </div>
            </div>
          </div> -->
          <div class="col products_col velaProBlock premProdCopyTile desktop-only" >
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
                <img width="155" height="363" class="lazyload" alt="10% of every purchase empowers women out of poverty" title="10% of every purchase empowers women out of poverty" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/premLuxeCopyTile-1.jpg" />
              </div>
              <div class="product-details proButton clearfix">
                
              </div>
            </div>
          </div>
          <div class="col products_col velaProBlock premProdCopyTile mobile-only" style="flex:1;max-width: 100%;">
            <div class="col-wrap velaProBlockInner">
              <div class="product-image proHImage d-flex flexJustifyCenter">
<!--               	<img width="363" height="155" class="lazyload" alt="10% of every purchase empowers women out of poverty" title="10% of every purchase empowers women out of poverty" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/TILE-2-alt---flocking-alt2.jpg" /> -->
                <img width="155" height="363" class="lazyload" alt="10% of every purchase empowers women out of poverty" title="10% of every purchase empowers women out of poverty" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/premLuxeCopyTile-1.jpg" />
              </div>
              <div class="product-details proButton clearfix">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
<div class="cotton-two image-grid mobile_grid">
  
  <div class="container">
    <div class="cotton-twos">
      {% for i in (2..2) %}
      {% capture img %}banner_image_{{i}}{% endcapture %}
      {% capture url %}banner_url_{{i}}{% endcapture %}
      {% capture title %}banner_title_{{i}}{% endcapture %}
      {% if section.settings[img] != blank %}
      <a href="{% if section.settings[url] != blank %}{{ section.settings[url] }}{% else %}#{% endif %}" class="cotton-left">
        <img width="490" height="533" data-src="{{ section.settings[img] | img_url: 'original' }}" class="lazyload" alt="{{ section.settings[img].alt }}">
        {% if section.settings[title] != blank %}
        <div class="cotton_overlay_text">
          {{ section.settings[title] }}
        </div>
        {% endif %}
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Product Section 2"
      },
      {
        "type": "image_picker",
        "id": "second_image_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "second_text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "second_img_url_1",
        "label": "URL 1"
      },
      {
        "type": "image_picker",
        "id": "second_image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "second_text_1",
        "label": "Text"
      },	
      {
        "type": "url",
        "id": "second_img_url_2",
        "label": "URL 2"
      },
	  {
        "type": "collection",
        "id": "collection_1",
        "label": "Collection 1"
      },
      {
        "type": "header",
        "content": "Product Section 3"
      },
      {
        "type": "image_picker",
        "id": "third_image_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "third_text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "third_img_url_1",
        "label": "URL 1"
      },
      {
        "type": "image_picker",
        "id": "third_image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "third_text_1",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "third_img_url_2",
        "label": "URL 2"
      },
	  {
        "type": "collection",
        "id": "collection_2",
        "label": "Collection 2"
      },
      {
        "type": "header",
        "content": "Mobile Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "mobile_title_1",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "mobile_url_1",
        "label": "URL"
      },
      {
        "type": "header",
        "content": "Banner Section"
      },
      {
        "type": "image_picker",
        "id": "banner_image_1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "banner_title_1",
        "label": "Title 1"
      },
      {
        "type": "url",
        "id": "banner_url_1",
        "label": "URL 1"
      },
      {
        "type": "image_picker",
        "id": "banner_image_2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "banner_title_2",
        "label": "Title 2"
      },
      {
        "type": "url",
        "id": "banner_url_2",
        "label": "URL 2"
      },
      {
        "type": "image_picker",
        "id": "banner_image_3",
        "label": "Image 3"
      },
      {
        "type": "text",
        "id": "banner_title_3",
        "label": "Title 3"
      },
      {
        "type": "url",
        "id": "banner_url_3",
        "label": "URL 3"
      }
    ]
  }
{% endschema %}