<style type="text/css">
/* mobile */
.bkgrn-transparent-color-dark,.bkgrn-white-color-dark,.eby-light-theme-22,.eby-right-icon-sbscrb,.nv-lst-22 .nav-column-header{color:var(--eby-main-dark-color)}#cls-mne-id,.btnMenuMobile{cursor:pointer}.nav-wrapperhrd22.scrollDown-anim22,.nav-wrapperhrd22.scrollUp-anim22{animation-duration:1s;animation-fill-mode:forwards;easing-function:ease-in}.cartiborn213{border:none}.activate-dark-logo,.activate-white-logo,.burger-close-laptop,.burger-close-laptop.active,.burger-menu,.eby-header .ebyMicroBtn.joinNow span:after,.eby-header nav.eby-header-nav .ebyHeaderCtaWrapper,.eby-header nav.eby-header-nav .ebyMicroBtn.joinNow:after,.eby-header nav.eby-header-nav a.nav-logo,.ebyGlobalSearchbar.mobileVer,.ebyMicroBtn.joinNow.buy,.ebyMinicart.isEmpty .item-count,.header_center.eby-nav-laptop,.header_right.eby-nav-laptop,.join .item-count,.loggedIn .gamification.wrapper.gamification_side,.menuMobileActive .not_empty_cart .ebyMicroBtn,.menuMobileActive nav.eby-mobile-nav .burger-menu .menuBtnMobile{display:none}.activate-dark-logo.active,.activate-white-logo.active,.buy .ebyMinicart.isEmpty .item-count,.buy .item-count,.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column.active ul,.eby-header nav.eby-header-nav .mega-nav-container.active div.mega-nav{display:block}.cart-link>span,.eby-header nav.eby-header-nav .header_right a>span,.nav-animahdr22{position:relative}.nav-wrapperhrd22{position:absolute;width:100%;top:0}.ebyMicroBtn.joinNow *{pointer-events:none}.sticky-page-menu-22{z-index:90;width:100%;opacity:1;top:91px;height:53px;border:none;-o-transition:top .5s ease-in-out;-moz-transition:top .5s ease-in-out;-webkit-transition:top .5s ease-in-out;transition:top .5s ease-in-out}.sticky-page-menu-22 .nav-promotion-images{height:50px;margin-left:20px;display:flex;align-items:center}.sticky-page-menu-22 .esn-container li:last-child{padding-right:37px}.eby-logo-22{width:60px;height:33px}.bkgrn-white-color-dark{background-color:#fff}.bkgrn-dark-color-white{background-color:gray}.bkgrn-transparent-color-dark{background-color:transparent}.bkgrn-transparent-color-white{background-color:transparent;color:#fff}.motivator-bar__wrapper,.style-left-sbmnbr{background-color:var(--eby-main-dark-color)}.motivator-bar.ribbonTwo{position:absolute;left:0}.motivator-bar__wrapper{height:48px}.grid-wrppr-sbmnsbmn{display:flex;position:relative}.style-left-sbmnbr{height:auto;width:2px;border-radius:1px;display:block;margin:6px 9px -1px}.eby-dark-theme-22,.motivator-bar__wrapper__fixedLink,.motivator-bar__wrapper__fixedLink:hover{color:#fff}.eby-dark-theme-22{color:#FFF}.eby-border-dark-22{border:1px solid var(--eby-main-dark-color)!important}.eby-border-light-22{border:1px solid #fff}.eby-light-theme-bkgr-22{background-color:#fff}.eby-dark-theme-bkgr-22{background-color:#000c48}.btnMenuMobile,.eby-header.scrolled .eby-header-nav-container,.eby-header:hover .eby-header-nav-container{background-color:transparent}.btnMenuMobile .iconMenu{width:25px;height:2px;display:none;margin:3px 0}.btnMenuMobile:before{width:24px;margin-right:0;line-height:15px;margin-left:0}.btnMenuMobile{display:inline-block;vertical-align:middle;margin:0;padding:0;font-size:20px;line-height:27px;text-align:left}.eby-coll-list .collapsible-body,.eby-header nav.eby-header-nav .velaCartTop,.mobile-nav-container-22.collapsible-header,.mobile-nav-desktop .collapsible,.mobile-nav-desktop .nv-grp-22{padding:0}.mobile-nav-desktop .collapsible li.active~li .eby-mobile-submenu-title{color:#a6a9b6}.mobile-nav-desktop li{list-style-type:none}.eby-header nav.eby-header-nav .cart-link span.item-count span,.eby-mobile-submenu-title-2,.mobile-nav-desktop .collapsible li.active .eby-mobile-submenu-title,.template-index .eby-header-nav a:hover{font-weight:700}.burger-menu.active{display:block;width:30px}.nv-impact-22{padding:25px 0 0 20px}.nv-nosmnue{padding:0 0 0 20px}.eby-mobile-submenu-title{color:var(--eby-main-dark-color);line-height:1.71;font-size:14px;height:24px}.eby-mobile-submenu-title-2,.eby-mobile-submenu-title-3{line-height:1.71;font-size:14px;height:32px;display:block}.nv-lst-22{height:32px;font-size:12px;font-family:inherit}.nv-lst-22:last-child{height:17px}.eby-coll-list.active .mega-nav-column.nv-nosmnue:first-child,.mobile-nav-desktop .collapsible .eby-coll-list:nth-child(n+1){margin-top:24px}.mbl-nv-wrapper{padding:24px 20px 0}.ebyMicroBtn.joinNow{border-radius:4px;padding:3.5px 12.02px;font-size:12px;margin:1rem 0 1rem 1rem}.esn-wrapper{margin-bottom:0}.eby-header nav.eby-header-nav{flex-wrap:wrap;padding:0 20px}.mobile-nav-desktop{margin-top:19px}.nav-main-wrapper{width:100%}.template-index .eby-header{height:auto!important}.nav_image_wrapper{display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap}.home_promotion .nav_image_wrapper{flex-wrap:nowrap;overflow:auto;align-items:flex-start;padding:0 14px}.nav_image_wrapper .image_block{padding:0 6px;margin-bottom:27px;height:auto!important;display:unset!important}.nav_image_wrapper .image_block h4{font-size:12px;font-weight:500;line-height:1.67;letter-spacing:normal;padding:.75rem 0;margin:0 0 1rem;border:none;border-radius:4px;text-align:center}.home_promotion .nav_image_wrapper .image_block h4{text-align:center}.home_promotion.mobile_only .nav_image_wrapper .image_block{flex:none;width:auto;padding:0 10px}a.motivator-bar__wrapper__fixedLink{font-size:12px;font-family:aktiv-grotesk,sans-serif;color:#FFF}.ebyGlobalSearchbar{display:flex;width:100%;justify-content:center;align-items:center;padding:0;position:relative}.item-count{width:16px;height:16px;border-radius:20px;display:inline-block;text-align:center;line-height:16px;font-size:9px;position:absolute;bottom:-1px;right:-8px}.ebyGlobalSearchbar input{padding:.25rem 1rem .25rem 3rem;font-size:1.4rem;width:100%;max-width:380px;color:var(--eby-main-dark-color);border:1px solid #dfe0e5;border-radius:4px;background-color:#dfe0e5}.eby-mobile-nav .cart-link{cursor:pointer;border-radius:100%;width:32px;height:32px;position:relative}.eby-mobile-nav .cartIconWrapper{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}.eby-header{width:100%;position:fixed;height:56px;top:0;left:0;z-index:999;margin:auto;background:0 0;-webkit-transition:.2s ease-in-out;-moz-transition:.2s ease-in-out;transition:.2s ease-in-out;opacity:1;visibility:visible}.eby-header a{-webkit-transition:color .3s;-moz-transition:color .3s;-o-transition:color .3s;transition:color .3s}.eby-header .eby-header-nav-container{width:100%;margin:auto;padding:0}.eby-header nav.eby-mobile-nav{display:flex;align-items:center;justify-content:space-between;padding:0 20px;height:67px;opacity:1;-o-transition:opacity .5s ease-in-out;-moz-transition:opacity .5s ease-in-out;-webkit-transition:opacity .5s ease-in-out;transition:opacity .5s ease-in-out}.eby-header nav.eby-mobile-nav>div{width:33.33%}.eby-header nav.eby-mobile-nav .burger-menu{display:inline-flex}.eby-header nav.eby-mobile-nav .burger-menu .burger-close{display:none;opacity:0}.eby-header nav.eby-mobile-nav .nav-logo-mobile-container{align-items:center;justify-content:center;display:flex}.eby-header nav.eby-mobile-nav a.nav-logo-mobile{margin:auto;display:block;height:42px;width:60px}.eby-header nav.eby-mobile-nav a.nav-logo-mobile img{vertical-align:top;margin-top:-2px;visibility:visible}.eby-header nav.eby-mobile-nav .ebyHeaderCtaWrapper{display:flex;align-items:center;justify-content:flex-end}.eby-header nav.eby-mobile-nav .ebyHeaderCtaWrapper.buy{font-size:14px;margin:0}.eby-header nav.eby-header-nav .ebyHeaderCtaWrapper.join,.eby-header nav.eby-mobile-nav .ebyHeaderCtaWrapper.join{margin:0}.eby-header nav.eby-mobile-nav .ebyHeaderCtaWrapper.join .ebyMicroBtn.joinNow{margin:0;border-color:#0064ff;background-color:transparent}.sngin-clsbtn{height:24px;margin-bottom:17px}.eby-header nav.eby-header-nav .mobileNavMenuDropdown{height:24px;flex-grow:1}.eby-header nav.eby-header-nav .mobileNavMenuDropdown.mini.open:before{width:19px}.eby-header nav.eby-header-nav .mobileNavMenuDropdown.mini.open:after,.eby-header nav.eby-header-nav .mobileNavMenuDropdown.open:after{content:"";display:none}.eby-header nav.eby-header-nav .mobileNavMenuDropdown.open{-o-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);padding:0}.eby-header nav.eby-header-nav .mobileNavMenuDropdown.open:before{content:" ";background:#0064ff;height:1px;width:20px}.nav-logo i{display:inherit}.eby-header nav.eby-header-nav a>span{display:block;line-height:2;pointer-events:none}.mobile-nav-container-22{display:flex;justify-content:space-between}.eby-header nav.eby-header-nav .mega-nav-container>a+div.mega-nav{background:#fff;margin:0;display:none;width:100%}.eby-header nav.eby-header-nav .mega-nav-container>a+div.mega-nav a{color:#000c48;line-height:1;font-size:12px;height:auto;margin-bottom:20px}.eby-header nav.eby-header-nav .mega-nav-container>a+div.mega-nav a.nav-column-header{height:40px;line-height:40px;margin-bottom:0}.menuMobileActive .eby-header nav.eby-header-nav{left:0}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-columns{display:flex;flex-direction:column;max-width:1240px;margin:0 auto}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column{width:auto;flex-shrink:0;margin-right:0;height:32px}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column:last-of-type{margin-right:0}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul{margin:0;padding:0}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul li{list-style:none}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul li a{font-weight:300!important;height:40px;line-height:40px;margin:0}.cb_minicart_exp_data.burger-close{opacity:1}.nav-wrapperhrd22.scrollDown-anim22{animation-name:nav_scrlldown_anim}.nav-wrapperhrd22.scrollUp-anim22{animation-name:nav_scrllup_anim}@keyframes nav_scrlldown_anim{from{top:0}50%{top:-159px}to{top:-121px}}@keyframes nav_scrllup_anim{from{top:-121px}to{top:0}}.snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel button.snize-close-button-arrow:before{content:'\e839';margin:0;-o-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);font-family:eby;font-style:normal;font-weight:400;display:inline-block;text-decoration:inherit;width:1em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;-webkit-font-smoothing:antialiased;font-size:2rem}.snize-ac-results.snize-ac-results-mobile .snize-mobile-top-panel button.snize-close-button-arrow{background:0 0!important;margin:1rem 0 1rem 2rem!important}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul li a span{white-space:nowrap;pointer-events:none}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul li:last-of-type a{margin-bottom:20px}.eby-header nav.eby-header-nav .ebyMicroBtn.joinNow{background:0 0;margin:0}.eby-header nav.eby-header-nav .ebyMicroBtn.joinNow>span{border:0;height:26px;line-height:26px;padding:0}.eby-header .ebyMicroBtn.joinNow{height:32px;width:93px;line-height:1.33;padding:0 8px;display:flex;align-items:center;justify-content:center}.eby-header .ebyMicroBtn.joinNow:after{display:none;content:unset}.eby-header #CartCount,.eby-header #CartCountMobile{display:inline-block;line-height:1;font-weight:700}.menuMobileActive .eby-header,.menuMobileActive .eby-header-nav-container{background:#fff}.menuMobileActive nav.eby-mobile-nav .burger-menu .burger-close{display:block;opacity:0;font-size:14px;color:#000c48;position:absolute;z-index:1000;top:19px;-o-transition:opacity 2s ease-in-out;-moz-transition:opacity 2s ease-in-out;-webkit-transition:opacity 2s ease-in-out;transition:opacity 2s ease-in-out}.menuMobileActive nav.eby-mobile-nav .burger-menu .burger-close:hover{color:#000c48}.loggedIn .mainContent,.mainContent.noTopBanner{padding-top:152px}.loggedIn .mainContent .ebyCustomBoxModalBtnWrapper,.mainContent.noTopBanner .ebyCustomBoxModalBtnWrapper{top:7rem}.motivator-bar__wrapper__fixedLink{line-height:2.8rem}#quiz .mainContent,#surprise-and-delight-quiz .mainContent,.template-index .mainContent{padding-top:0}.premium_news .eby-header-nav-container{background:rgba(255,255,255,.5)}.template-index .velaHeader{background:0 0}#premium .eby-header:not(.scrolled) .eby-header-nav:not(:hover) a,#premium .eby-header:not(.scrolled) .eby-header-nav:not(:hover) a:hover{color:#0064ff}
@media (max-width:405px){
  a.motivator-bar__wrapper__fixedLink{
    font-size: 11px;
  }
}
/* table*/
@media (max-width:769px){@keyframes nav_scrlldown_anim{from{top:0}50%{top:-143px}to{top:-116px}}@keyframes nav_scrllup_anim{from{top:-116px}to{top:0}}.pop_productQuickAdd .selection-wrapper,.productQuickAdd .selection-wrapper{min-width:300px}.right_text.header_search{display:flex;justify-content:flex-start;margin-top:1.5rem;flex-direction:column;align-items:flex-start}.home_promotion.nav-promotion-images{padding:10px 84px}.home_promotion .nav_image_wrapper .image_block{flex:0 0 120px;width:120px;margin-bottom:0}.motivator-bar__wrapper__fixedLink{line-height:2rem}.loggedIn .mainContent .ebyCustomBoxModalBtnWrapper,.mainContent.noTopBanner .ebyCustomBoxModalBtnWrapper{top:6.5rem}}@media (max-width:1023px){.eby-header nav.eby-header-nav{display:flex;justify-content:space-between;align-items:flex-start;position:absolute;left:-100vw;margin:0 auto;width:100%;height:100vh;background:#fff;max-width:1920px;top:0;z-index:100;-o-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out}.eby-header nav.eby-header-nav .ebyMicroBtn.joinNow{display:none}.header_right{padding-right:45px}.mega-nav .text-cols{padding-left:36px;padding-right:45px;text-align:right}.eby-header nav.eby-header-nav .mega-nav-container>a+div.mega-nav{background:0 0}.eby-header nav.eby-header-nav .header_right a{justify-content:flex-start}}@media (max-width:1024px){.eby-header nav.eby-header-nav .mega-nav-container>a+div.mega-nav h4 a{flex-direction:row-reverse}.eby-header .ebyMicroBtn.joinNow,.ebyGlobalSearchbar.desktopVer{display:none}.ebyGlobalSearchbar.mobileVer{display:block;margin-top:3.5rem}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul{margin:0;padding:0 9px;border-left:2px solid var(--eby-main-dark-color)}.ebyGlobalSearchbar input{max-width:100%}.noTopBanner nav.eby-header-nav{top:55px;overflow-y:scroll;max-height:calc(100vh - 55px)}nav.eby-header-nav{overflow-y:scroll;max-height:calc(100vh - 90px);padding-bottom:100px!important}}
/* loptop desktop */
@media (min-width:1024px){.dsktsbmnspan{text-transform:capitalize}.jsDrawerOpenRight.ebyMinicart{position:absolute;left:50%;top:59%;transform:translate(-50%,-59%)}.eby-header .eby-header-nav-container,.eby-nav-laptop .animate.mega-nav-container{position:relative}.eby-header nav.eby-header-nav .nav-main-wrapper.mobile_only,.eby-header nav.eby-mobile-nav,.eby-header nav.eby-mobile-nav .burger-menu{display:none}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul li a{color:#000c48;height:auto;line-height:1;margin-bottom:20px}.menuMobileActive .eby-header{background:0 0}.eby-mobile-submenu-title:hover{font-weight:700}.eby-right-icon-contianer-22{width:213px;float:right}.eby-icon-center-nav-22,.eby-right-icon-wrpper-22{width:33.33%}.eby-icon-center-nav-22{text-align:center}.eby-header{height:60px}.nv-icn-opncls{width:33.33%;z-index:2}.mobile-nav-desktop{left:-500px;position:absolute;top:-48px;opacity:0;width:25%;max-width:376px;background-color:#fff;padding:19px 20px;height:100vh;z-index:2;margin-top:0;overflow:auto;-o-transition:.5s ease-in-out,opacity .5s ease-in-out,top .65s ease-out;-moz-transition:left .5s ease-in-out,opacity .5s ease-in-out,top .65s ease-out;-webkit-transition:left .5s ease-in-out,opacity .5s ease-in-out,top .65s ease-out;transition:left .5s ease-in-out,opacity .5s ease-in-out,top .65s ease-out}.eby-header nav.eby-header-nav .nav-main-wrapper{padding:0 32px;top:0;left:unset;margin:0 auto;height:72px;display:flex;flex-direction:row;align-items:center;justify-content:space-between}.mobile-nav-desktop .collapsible{margin-left:0}.eby-header nav.eby-header-nav{padding:0}.nv-laptop-a-link{font-size:14px;display:flex;justify-content:right}.eby-header nav.eby-header-nav a.nav-logo{display:inline-flex;height:37px}.activate-dark-logo,.activate-white-logo{width:60px}.eby-header nav.eby-header-nav a.nav-logo img{visibility:visible}.header_left{width:26%;flex:0 0 26%;justify-content:flex-start;align-items:center;display:flex}.header_center{justify-content:center}.header_center.eby-nav-laptop{display:flex;flex-direction:row;align-items:center;width:100%;gap:10px;height:48px}.header_right.eby-nav-laptop{display:flex;flex-direction:row;align-items:center}.right_text.sign_in_btn{margin:0 24px 0 32px}.header_right{justify-content:flex-end}.eby-nv-laptop-title{letter-spacing:.4px;font-size:12px;text-transform:uppercase;text-align:center;min-width:80px;max-width:115px}.dsktsbmn-span{border:1px solid #000}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-columns{justify-content:space-between}}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul,.eby-header nav.eby-header-nav .mega-nav-container>a+div.mega-nav:hover,.eby-header nav.eby-header-nav .mega-nav-container>a.hoverTemp+div.mega-nav,.eby-header nav.eby-header-nav .mega-nav-container>a:hover+div.mega-nav{display:block}.eby-header nav.eby-header-nav a:hover>span:after{transform:scaleX(1)}.eby-header nav.eby-header-nav .mega-nav-container>a+div.mega-nav{display:none;padding:20px 31px 36px 20px;position:absolute;top:24px;left:-15px;width:197px;border-radius:12px;z-index:1}.eby-header nav.eby-header-nav .mega-nav-container>a+div.mega-nav a.nav-column-header{height:24px;line-height:2;margin-bottom:4px}.eby-nav-laptop .mega-nav-column:last-child a.nav-column-header{font-weight:700}.eby-header nav.eby-header-nav .ebyHeaderCtaWrapper{display:inline-flex;align-items:center;width:32px;height:32px;position:relative;border-radius:100%}.item-count{width:20px;height:20px;bottom:-8px;right:-8px}.eby-header nav.eby-header-nav .mega-nav-container div.mega-nav-column ul li:last-of-type a{margin-bottom:0}.eby-nv-laptop-title.ehHide{color:var(--eby-main-dark-color)}.header_center.eby-nav-laptop.ehHide{background-color:#fff;height:48px}.eby-icon-menu-22{width:32px;height:32px;border-radius:100%;position:relative;display:block}.eby-icon-menu-22 svg{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}.eby-header #CartCount,.eby-header #CartCountMobile{position:absolute;left:53%;top:54%;transform:translate(-50%,-50%)}.template-index .eby-header-nav{color:#000c48}#premium .eby-header:not(.scrolled) .eby-header-nav:not(:hover) a{color:#0064ff}.template-index .eby-header .header_search svg path{fill:#000C48}.template-index .eby-header.scrolled .eby-header-nav .header_right a.right_text,.template-index .eby-header:hover .eby-header-nav .header_right a.right_text{color:#000c48!important}.template-index .eby-header.scrolled .header_search svg path,.template-index .eby-header:hover .header_search svg path{fill:#0064ff}.template-index .eby-header.scrolled nav.eby-header-nav .ebyMicroBtn.joinNow{border-color:#000c48;color:#000c48}.nav-column-header:hover,.nv-laptop-a-link:hover{font-weight:700;font-size:11.9px}
 
  
</style>

<div class="hidden_data_two" style="display: none;">
  {% assign trueCartCount = 0 %}
  {% for cartItem in cart.items %}
    {% unless cartItem.properties == empty %}
      {% assign itemProps = cartItem.properties | join: ', ' %}
      {% unless itemProps contains "hidden_collateral" or itemProps contains "included_in_custombox" or itemProps contains "included_in_membershipbox" or itemProps contains "Sub Subscription" or itemProps contains "sub_bundle" or itemProps contains "included_in_pack"%}
      {% assign trueCartCount = trueCartCount | plus: cartItem.quantity %}
      {% endunless %}
    {% endunless %}
  {% endfor %}
  {{ trueCartCount }}
</div>

<header 
  class="eby-header{% if template != 'page.poppy-red-and-pose' and template != 'page.blue-meadow' and template != 'page.parisian-summer-luxury' and template != 'page.premium_new' and  template.name != 'index' %}
    scrolled{% endif %}{% if template.suffix contains 'holidaydeal' %} noTopBanner {% endif %}">
    <div class="nav-animahdr22">
    <div class="nav-wrapperhrd22">
    <!-- motivator -->
    <div 
      class="ebyTopBannerWrapper "
      {% if template != 'page.poppy-red-and-pose' and template != 'page.blue-meadow' and 
        template != 'page.parisian-summer-luxury' and template != 'page.premium_new' %} 
          style="min-height: 32px;"
      {% endif %}>
      {% render 'eby-motivator-nav' %}
    </div>
    <!-- nav starts -->
    <div class="eby-header-nav-container">
      <!-- mobile icons fc 010323-->
      {% if template == 'index' %}
        {% render 'eby-mobile-icon-nav', trueCartCount: trueCartCount %}   
      {% else %}
        {% render 'eby-mobile-icon-nav-dark', trueCartCount: trueCartCount %}   
      {% endif %}
      <!-- fc 010323 bkgrn-white-color-dar-->
      <nav class="eby-header-nav {% if template != 'index' %} bkgrn-white-color-dark{% endif %}">
        <!-- burger dsk -->
          <div class="header_center mobile-nav-desktop laptop_only">
            <div class="mobile-nav-container-22 sngin-clsbtn">
                <div class="cb_minicart_exp_data burger-close" id="cls-mne-id">
                  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="#04081C" fill="none" fill-rule="evenodd">
                      <path d="m6 6 12 12M18 6 6 18"/>
                    </g>
                  </svg>
                </div>
                {%- if customer -%}
                    <a id="link-dsk-accusr22" href="/account" title="{{ 'layout.header.account' | t }}">
                        <span class="mnLink account-link">Account</span>
                    </a>
                {%- else -%}
                    <a id="link-dsk-siginusr22" href="/account/login" title="Sign In">
                      <span class="mnLink sign_in-link">Sign In</span>
                    </a>
                {%- endif -%}
            </div>
            {% assign newNavLink = linklists["mobile-menu-22"].links %}
            <div class="deskSearchWrapper  inactive">
               <form class="search ebyGlobalSearchbar" action="/search">
                  <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}"  />
               </form>
            </div>
            <ul class="collapsible ">
               {% render 'eby-iphone-nav', navLinks: newNavLink, trueCartCount: trueCartCount %}
            </ul>
          </div>
        <div class="nav-main-wrapper">
          <!-- burger menu laptop -->
            <div class="laptop_only nv-icn-opncls">
              <div class="burger-menu active" id="btnBurgerMenu">
                <div class="menuBtnMobile d-flex flexAlignCenter">
                  <div class="btnMenuMobile ebyicon-hamburger{% if template == 'index' %} eby-dark-theme-22{% else %} eby-light-theme-22 {% endif %}">
                    <span class="iconMenu"></span>
                    <span class="iconMenu"></span>
                    <span class="iconMenu"></span>
                    <span class="iconMenu"></span>
                  </div>
                </div>
              </div>
               
            </div>
          <!-- logo -->
          <div class="header_center eby-icon-center-nav-22">
            <a class="nav-logo" href="/">
              {% if page.handle == 'premium' %}
                <i class="ebyicon-eby premium" ></i>
              {% else %}
                {% if template == 'index' %}
                  <div class="activate-white-logo active">
                      <img width="60" height="60" alt="logo" title="EBY" src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/white-logo.svg?v=1628239045"/>
                  </div> 
                  <div class="activate-dark-logo">
                      <img width="60" height="60" alt="logo" title="EBY" src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/logo-dark-22.svg?v=1666920606"/>
                  </div> 
                  {% else %}    
                     <div class="eby-logo-22">
                       <img width="60" height="60" alt="logo" title="EBY" src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/logo-22.svg?v=1666904211"/>
                   </div>
                  {% endif %}
              {% endif %}
            </a>
          </div>
          <!-- burger mobile  -->
          <div data-cymenu="burgerMenu" class="header_center mobile-nav-desktop iphones_only">
            <div class="mobile-nav-container-22 sngin-clsbtn">
                <div class="cb_minicart_exp_data burger-close" id="cls-mne-id">
                  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="#04081C" fill="none" fill-rule="evenodd">
                      <path d="m6 6 12 12M18 6 6 18"/>
                    </g>
                  </svg>
                </div>
                {%- if customer -%}
                    <a id="link-accnusr22" href="/account" title="{{ 'layout.header.account' | t }}">
                        <span class="">Account</span>
                    </a>
                {%- else -%}
                    <a id="link-siginusr22" href="/account/login" title="Sign In">
                      <span class="">Sign In</span>
                    </a>
                {%- endif -%}
            </div>
            {% assign newNavLink = linklists["mobile-menu-22"].links %}
            <div class="deskSearchWrapper  inactive">
               <form class="search ebyGlobalSearchbar" action="/search">
                  <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}"  />
               </form>
            </div>
            <ul class="collapsible ">
               {% render 'eby-iphone-nav', navLinks: newNavLink, trueCartCount: trueCartCount %}
            </ul>
          </div>
          <!-- right icons -->
          {% if template == 'index' %}
              {% render 'eby-right-icons-nav', border_color: 'eby-border-light-22', theme_color:'bkgrn-transparent-color-white', stroke_svg:'#FFF', theme_background:'eby-dark-theme-bkgr-22', cart_index: 'eby-dark-theme-22', trueCartCount: trueCartCount %}
          {% else %} 
              {% render 'eby-right-icons-nav', border_color: 'eby-border-dark-22', theme_color:'eby-light-theme-22', stroke_svg:'#04081c', theme_background:'eby-dark-theme-bkgr-22', cart_index: 'eby-dark-theme-22', trueCartCount: trueCartCount %}
          {% endif %}
        </div>
        <!-- desktop nav -->
        <div class="header_center eby-nav-laptop">
          {% assign newNavLink = linklists["new-mobile-subnav-june-22"].links %}
          
              {% render 'eby-desktop-nav', navLinks: newNavLink, trueCartCount: trueCartCount   %}
           

        </div>
    </nav>
    <!--  mobile menu fc 010323-->
    <nav class="esn-wrapper sticky-page-menu-22 mobile_only {% if template != 'index' %} bkgrn-white-color-dark{% endif %}">
      <ul id="esn-outer_wrapper" class="nav-promotion-images mobile_only desktop_promotion home_promotion esn-outer_wrapper">
        <li id="esn-inner_wrapper" class="nav_image_wrapper esn-inner_wrapper">
          <ul id="esn-container" class="esn-container">
            {% assign subnavLinks = linklists["new-mobile-subnav-june-22"].links %}
            {%- for link in subnavLinks -%}
              {% if link.url contains "underwear-subscription-membership" %}
                {% if customer.tags contains 'Active Subscriber' %}
                {% else %}
                  <li>
                      <a class="image_block ms_link" href="{{ link.url }}">
                      <div>
                        <h4 class="nav-title-hs02 ">{{ link.title }}</h4>
                      </div>
                    </a>
                  </li>
                {% endif %}
              {% else %}
                <li>
                  <a class="image_block ms_link" href="{{ link.url }}">
                    <div>
                      <h4 class="nav-title-hs02{% if template == 'index' %} bkgrn-transparent-color-white {%endif%} ">{{ link.title }}</h4>
                    </div>
                  </a>
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        </li>
      </ul>
    </nav>            
  </div>
  </div>
  </div>
  {% render 'vela-template' %}
</header>

<script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems);
      var instance2 = M.Collapsible.getInstance(elems);
   });
  
   burgerMenuDesktop();
   styleNestedSubmenu();
   titleMenuOverflowing();
    
    window.addEventListener('resize', () => titleMenuOverflowing(), 'passive'); /* fc 110222 */
    function titleMenuOverflowing(){
      // check size of titles 
      const sizeDesktopTitles = document.querySelectorAll('.eby-nv-laptop-title');
      // set new with for title
      for(element of sizeDesktopTitles){
        element.style.width = `${element.clientWidth + 10}px`;
      }
    }

   function burgerMenuDesktop(){
      const $buttonBurger = document.getElementById('btnBurgerMenu');
      const $buttonClose = document.getElementById('cls-mne-id');
      const $mobile_desk_btn = document.querySelector('.mobile-nav-desktop');
      // set up global for btnBurgerToggleState

      var btnBurgerToggleState = false;

      // helper function when either is touch flip them
      $buttonBurger.addEventListener('click', flipBurger, 'passive' );
      $buttonClose.addEventListener('click', flipClose, 'passive' );


      function flipBurger(event){
       btnBurgerToggleState = btnBurgerToggleState === false ? true : false;
       checkBurgerActive($buttonBurger);
      }
      function flipClose(event){
       btnBurgerToggleState = btnBurgerToggleState === false ? true : false;
       checkBurgerActive($buttonClose);
      }
      // check if the have a class active
      function checkBurgerActive(element){
       const test = $buttonBurger.className.indexOf('active');

       if(test >= 0){
         $buttonBurger.classList.remove('active');
         $buttonClose.classList.add('active');
         // left = 0
         $mobile_desk_btn.style.left = 0;
         $mobile_desk_btn.style.opacity = 1;
       } else {
         $buttonBurger.classList.add('active');
         $buttonClose.classList.remove('active');

         // left = -4000
         $mobile_desk_btn.style.left = -500 + 'px';
         $mobile_desk_btn.style.opacity = 0;
       }

       return test;
      } 
   }

  function styleNestedSubmenu(){
   const nestedSbmenuChild = document.querySelectorAll('.eby-coll-list .nv-nosmnue');

     for(let i = 0; i < nestedSbmenuChild.length; i++){
         const typeElement = nestedSbmenuChild[i].innerText.trim();
         const nestedSbmnCss = (typeElement === 'Shop All Bras') || (typeElement === 'Bra Packs') || 
            (typeElement === 'Panty Packs') || (typeElement === 'Shop All Apparel'); /* fc 110222 */

         if(nestedSbmnCss){
            nestedSbmenuChild[i].style.marginTop = '24px';
         } 

     }
  }
</script>

{% schema %}
  {
    "name": "Header",
    "settings": [],
    "blocks": [
      {
        "type": "manu1",
        "name": "Add Menu style 1",
        "settings": [
          {
            "type": "text",
            "label": "Add menu item name",
            "id": "menuItem",
            "info": "add exact manu name which you want to set as mega menu. make sure this is single level menu."
          },
          {
            "type": "header",
            "content": "Menu items"
          },
          {
            "type": "link_list",
            "id": "style-menu1",
            "label": "Select menu 1"
          },
          {
            "type": "link_list",
            "id": "style-menu2",
            "label": "Select menu 2"
          },
          {
            "type": "link_list",
            "id": "style-menu3",
            "label": "Select menu 3"
          },
          {
            "type": "link_list",
            "id": "style-menu4",
            "label": "Select menu 4"
          },
          {
            "type": "header",
            "content": "Image items"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "manu2",
        "name": "Add Menu style 2",
        "settings": [
          {
            "type": "text",
            "label": "Add menu item name",
            "id": "menuItem",
            "info": "add exact manu name which you want to set as mega menu. make sure this is single level menu."
          },
          {
            "type": "header",
            "content": "Reviews items 1"
          },
          {
            "type": "text",
            "id": "rev_title1",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "rev_title1_link",
            "label": "Button Link"
          },
          {
            "type": "richtext",
            "id": "rev_text1",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "name1",
            "label": "Auther Name"
          },
          {
            "type": "header",
            "content": "Reviews items 2"
          },
          {
            "type": "text",
            "id": "rev_title2",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "rev_text2",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "name2",
            "label": "Auther Name"
          },
          {
            "type": "header",
            "content": "Image items"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "pro_image",
        "name": "Add promotion image",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }  
        ]
      }
    ]
  }
{% endschema %}
