{%- unless proImageSize -%}
  {%- assign proImageSize = '800x' -%}
{%- endunless -%}

<section class="premium_product_section same__cols">
  <div class="section-wrap">
    {% for block in section.blocks %}
      {% assign collection = collections[block.settings.collection] %}
      <div class="collection_group" id="{% if block.settings.collection contains "port" %}port-assortment{% else %}parisiansummer-assortment{% endif %}">
        <div class="collection_group_head">
          <h4 class="text-sectiontlt23">We're taking sheer to the next level</h4>
          <p class="text-sectiontxt23">Astonishing comfort spiced with an extra "OMG, so sexy" bite</p>
        </div>
        <div class="infoGraphicWrapper">
          <img class="lazyload desktop_only" width="400" height="130" alt="Silky Soft. Sexy. Seamless" title="Silky Soft. Sexy. Seamless" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP---1440---sheer2---infographic.jpg"/>
          <img class="lazyload mobile_only" width="400" height="130" alt="Silky Soft. Sexy. Seamless" title="Silky Soft. Sexy. Seamless" data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP---376---sheer2---infographic.jpg"/>
        </div>
        <div class="premium_product_section" id="product_listing_section">
          <div class="product-grd collection_group fullwidth">
            <div class="products_cols collection_group_list">
              {% for product in collection.products limit: block.settings.pdp_range %}
                {%- assign prodNameTitle = "" -%}
                {% if product.type contains "Bralette" %}
                  {%- assign prodNameTitle = "bralette" -%}
                  {% for prodTag in product.tags %}
                    {% if prodTag contains "braletteColor-" %}
                      {%- assign prodColorTitle = prodTag | replace: "braletteColor-", "" | replace: "_", " " -%}
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {% assign premImgFileName = prodColorTitle | replace: " ", "" | append: "---" | append: prdImgFileName | append: "---missy---tile_fr.jpg" %}

                <div class="col products_col velaProBlock quickadd{% if prodNameTitle == "bralette"%} topProd{% endif %}" data-size-guid="{% render 'collection-selectors-charts', product_target: product %}">
                  <div class="col-wrap velaProBlockInner">
                    <div class="product-image proHImage d-flex flexJustifyCenter">
                      <a class="proFeaturedImage" href="{{ product.url }}">
                        {% for image in product.images %}
                          {%- assign itemNumber = forloop.index | modulo:5 -%}
                          {%- if itemNumber == 2 -%}
                            {% if prodNameTitle == "bralette"%}
                              <img class="img-responsive lazyload" alt="{{ image.alt }}" title="{{ image.alt }}" data-src="{{ image | img_url: "500x500", crop: "center"  }}">
                            {% else %}
                              <img class="img-responsive lazyload" alt="{{ image.alt }}" title="{{ image.alt }}" data-src="{{ image | img_url: 'master' }}">
                            {% endif %}
                          {%- endif -%}
                        {% endfor %}
                      </a>
                    </div>
                    <div class="col-pro-details">
                      <h4>
                        <a href="{{ product.url }}">{{ product.title | replace: "Highwaisted", "High Cut Highwaisted" | replace: "Mesh ", "" }}</a>
                      </h4>
                      <div class="priceWrapper">
                        {% if customer.tags contains 'Active Subscriber' %}
                          <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                          <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                        {% else %}
                          <p class="bfx-price">{{ product.price | money_without_trailing_zeros }}</p>
                          <p class="priceProduct vipHighlight bfx-price">{{ product.metafields.ebyacf.vip_product_price | replace: '/ ', '' }}</p>
                        {% endif %}
                      </div>
                    </div>
                    <div class="product-details proButton clearfix">
                      <div class="quick_btn pre-btn">
                        <div class="productQuickAdd">
                          <button class="btn btnProduct btnProductQuickAdd" data-href="#velaQuickAdd-{{ product.id }}-1" data-handle="{{ product.handle }}" title="Quick Add +">
                            <i class="icons icon-eye"></i>
                            <span class="text">Quick Add +</span>
                          </button>
                          <div class="selection-wrapper" id="velaQuickAdd-{{ product.id }}-1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Collection",
    "settings": [],
    "blocks": [
      {
        "type": "tab",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Title"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "caption",
            "label": "Caption"
          }, {
            "type": "range",
            "id": "pdp_range",
            "min": 2,
            "max": 50,
            "step": 1,
            "label": "Show Product",
            "default": 8
          }
        ]
      }
    ]
  }
{% endschema %}