<section class="alala-hero-section">
  <div class="section-wrap">
    <div class="col-group">
      <div class="col left-col">
        <div class="col-wrap">
          {% if section.settings.desktop-image != blank %}
          <img data-src="{{ section.settings.desktop-image | img_url: 'master'}}" class="desktop-image lazyload" alt="">
          {% endif %}
          {% if section.settings.mobile-image != blank %}
          <img data-src="{{ section.settings.mobile-image | img_url: 'master'}}" class="mobile-image lazyload" alt="">
          {% else %}
          <img data-src="{{ section.settings.desktop-image | img_url: 'master'}}" class="mobile-image lazyload" alt="">
          {% endif %}
        </div>
      </div>
      <div class="col right-col">
        <div class="col-wrap">
          <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LAND-2---1440_2x_f127b3c0-5409-400c-883e-a3a85ffa287a.jpg?v=1630467563" class="desktop-image lazyload" alt="">
          <img data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LAND-2---768_2x_ad990746-30c4-4cf4-aa78-76f3cec7c641.jpg?v=1630467563" class="mobile-image lazyload" alt="">
          <div class="col-content">
            <div class="col-content-wrap">
              {% if section.settings.title != blank %}
              <h6 class="sub-title">{{ section.settings.title }}</h6>
              {% endif %}
              <div class="section-logo">
                <svg width="408px" height="154px" viewBox="0 0 408 154" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
                  <title>M+B - Title</title>
                  <desc>Created with Sketch.</desc>
                  <g id="M+B---Title" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group-8-Copy" transform="translate(1.500000, 1.000000)" fill-rule="nonzero">
                      <path d="M240.129409,152 C244.42177,152 255.796527,150.92823 264.595867,143.640197 C277.687569,132.922501 283.911493,117.703372 281.550694,101.412474 C279.189895,82.9780367 267.385902,66.6871385 245.49486,57.2555659 C252.577256,53.8259031 264.595867,55.3263805 273.18059,55.5407345 L280.692222,55.5407345 L287.130764,27.2460166 C269.532083,29.3895558 256.440381,38.6067745 244.42177,56.826858 L222.530728,49.1101168 C227.037707,45.0373922 230.04236,41.3933755 231.544686,37.9637127 C238.197846,22.3158763 230.471596,10.5264105 221.028401,4.73885461 C209.868262,-1.90611701 192.269581,-2.54917878 181.967914,9.24028701 C177.675553,13.7417194 174.241664,22.3158763 174.241664,28.5321401 C174.241664,50.1818864 201.068922,69.2593856 224.891526,79.7627278 L230.471596,82.3349749 C233.261631,76.7617729 221.243019,101.412474 216.521422,110.844047 L209.00979,94.9818564 C197.635033,72.0459866 180.680206,55.3263805 156.642983,55.3263805 C135.181177,55.3263805 118.226351,70.3311552 113.290135,91.1234858 C110.714719,102.055536 112.431663,113.845002 117.367879,123.490928 C126.167219,140.424888 143.122046,151.142584 162.223053,151.142584 C175.958609,151.142584 190.123401,146.855506 200.854304,136.13781 C211.585207,147.712922 223.603818,152 240.129409,152 Z M221.135381,48.8242424 C208.624315,44.2984709 196.976081,39.7726995 189.210591,34.3848763 C183.386474,30.2901307 181.445102,24.6867946 182.307934,18.6524326 C183.170766,10.0319155 191.799088,1.84242424 205.388694,1.84242424 C210.781395,2.05793717 216.174096,3.78204059 220.488257,6.58370865 C229.547994,11.9715318 236.666359,22.9626911 230.410826,37.6175702 C228.90087,40.8502641 225.880958,44.7294968 221.135381,48.8242424 Z M161.931925,150.157576 C133.455048,150.157576 120.394224,126.015465 118.895441,123.213256 C114.18498,113.94441 112.686197,102.520018 115.041428,91.9578445 C119.323665,75.5756979 129.386922,62.6424242 145.873535,62.6424242 C161.717813,62.6424242 170.068176,80.3178982 180.131433,101.873354 C188.267684,118.039946 191.479361,126.23102 199.615612,135.499866 C189.766467,144.984266 177.347979,150.157576 161.931925,150.157576 Z M242.525395,146.259299 C232.000908,142.206592 224.698203,127.062266 218.039855,112.771142 L232.86005,82.9090909 C253.264667,92.5076073 267.870078,108.291834 270.232718,123.43616 C272.810143,138.367185 259.27866,151.378508 242.525395,146.259299 Z" id="&amp;" fill="#E5E6EC"></path>
                      <path d="M186.644945,62.6424242 L186.644945,55.6780606 L170.033648,62.0233697 L170.033648,41.3366303 L183.033794,47.6303515 L183.033794,40.6659879 L170.033648,40.7175758 L170.033648,27.1499636 L183.033794,33.4952727 L183.033794,26.5309091 L160.541479,26.5309091 L163.327224,29.6777697 L163.327224,59.4955636 L160.541479,62.6424242 L186.644945,62.6424242 Z M207.795976,62.6424242 C213.986521,62.6424242 219.042133,57.6384 219.042133,51.4994424 C219.042133,46.1858909 213.986521,40.9239273 208.724558,40.9239273 C208.053915,40.9239273 207.383273,40.9755152 206.609455,41.1302788 C209.446788,40.0985212 213.006352,38.2413576 213.006352,34.1659152 C212.954764,29.7809455 209.3952,26.5309091 204.597527,26.5309091 L188.502109,26.5309091 L191.287855,29.6777697 L191.287855,59.4955636 L188.502109,62.6424242 L207.795976,62.6424242 Z M198.097455,47.5271758 L198.097455,26.9436121 C203.30783,27.3563152 206.351515,30.812703 206.351515,36.0230788 C206.351515,39.7889939 204.133236,41.6461576 203.101479,42.3168 C200.8832,43.7612606 198.974448,45.1541333 198.097455,47.5271758 Z M204.442764,62.2297212 L198.097455,62.2297212 L198.097455,50.0033939 C198.097455,46.2374788 200.676848,44.3803152 203.204655,42.729503 C203.978473,42.2136242 204.700703,41.9556848 205.526109,41.9556848 C209.188848,41.9556848 212.284121,47.011297 212.284121,51.4994424 C212.284121,56.8129939 209.240436,62.2297212 204.442764,62.2297212 Z M235.550255,62.6424242 L232.764509,59.4955636 L232.764509,54.1820121 L240.244752,31.9992242 L245.351952,26.5309091 L234.724848,26.5309091 L239.780461,32.1024 L232.558158,53.5113697 L224.149333,29.6777697 L226.935079,26.5309091 L214.399224,26.5309091 L217.18497,29.6777697 L226.058085,55.0590061 L226.058085,59.4955636 L223.272339,62.6424242 L235.550255,62.6424242 Z M10.6786909,124.363636 L5.57149091,118.792145 L5.57149091,93.9783758 L18.0557576,124.363636 L23.3177212,124.363636 L23.3177212,119.565964 L32.9130667,92.1728 L32.9130667,121.216776 L30.1273212,124.363636 L42.4052364,124.363636 L39.6194909,121.216776 L39.6194909,91.3989818 L42.4052364,88.2521212 L29.9725576,88.2521212 L32.7067152,91.4505697 L23.0597818,118.895321 L10.3691636,88.2521212 L2.6825697,88.2521212 L5.1072,93.2045576 L5.1072,118.792145 L0,124.363636 L10.6786909,124.363636 Z M57.0046061,124.621576 C64.3300848,124.621576 70.1595152,118.740558 70.1595152,111.466667 C70.1595152,104.244364 64.3300848,98.3117576 57.0046061,98.3117576 C49.7307152,98.3117576 43.9012848,104.244364 43.9012848,111.466667 C43.9012848,118.740558 49.7307152,124.621576 57.0046061,124.621576 Z M60.3062303,123.486642 C55.7149091,123.486642 49.5243636,114.304 49.5243636,105.688824 C49.5243636,102.129261 50.8656485,99.4466909 53.7029818,99.4466909 C58.294303,99.4466909 64.4848485,108.629333 64.4848485,117.244509 C64.4848485,120.804073 63.1435636,123.486642 60.3062303,123.486642 Z M83.8818909,124.363636 L81.0961455,121.216776 L81.0961455,103.057842 C82.1794909,101.768145 83.3144242,101.097503 84.3977697,101.097503 C86.3581091,101.097503 87.6993939,103.264194 87.6993939,105.792 L87.6993939,121.216776 L84.9136485,124.363636 L97.1915636,124.363636 L94.4058182,121.216776 L94.4058182,105.740412 C94.4058182,104.81183 94.2510545,103.934836 93.9931152,103.10943 C95.0764606,101.768145 96.2629818,101.097503 97.3979152,101.097503 C99.5646061,101.097503 100.854303,103.470545 100.854303,105.792 L100.854303,121.216776 L98.0685576,124.363636 L110.346473,124.363636 L107.560727,121.216776 L107.560727,105.740412 C107.560727,101.974497 105.290861,98.4149333 101.318594,98.4149333 C98.8423758,98.4149333 96.1598061,99.8593939 93.8383515,102.593552 C92.9613576,100.014158 90.8978424,98.4149333 88.2152727,98.4149333 C85.8422303,98.4149333 83.3144242,99.8078061 81.0961455,102.3872 L81.0961455,98.569697 L71.6039758,102.077673 L74.3897212,103.934836 L74.3897212,121.216776 L71.6039758,124.363636 L83.8818909,124.363636 Z M122.211685,124.363636 C127.009358,124.363636 131.239564,121.423127 131.239564,116.934982 C131.239564,113.788121 128.092703,111.053964 124.378376,109.093624 L121.231515,107.442812 C117.310836,105.379297 114.576679,103.934836 114.576679,101.510206 C114.576679,99.5498667 117.310836,99.0339879 119.322764,99.0339879 C120.14817,99.0339879 121.128339,99.1371636 121.59263,99.2403394 L129.433988,106.617406 L128.40223,98.569697 L119.322764,98.569697 C114.989382,98.569697 111.223467,101.149091 111.223467,105.276121 C111.223467,108.319806 113.441745,110.8992 116.691782,112.704776 L119.116412,114.046061 C122.418036,115.903224 127.576824,118.069915 127.576824,120.907248 C127.576824,122.764412 125.152194,123.899345 122.211685,123.899345 C121.489455,123.899345 120.8704,123.847758 120.251345,123.744582 L111.532994,115.903224 L112.409988,124.363636 L122.211685,124.363636 Z M153.216,120.288194 L153.216,111.518255 L161.985939,111.518255 L161.985939,110.434909 L153.216,110.434909 L153.216,101.66497 L152.132655,101.66497 L152.132655,110.434909 L143.362715,110.434909 L143.362715,111.518255 L152.132655,111.518255 L152.132655,120.288194 L153.216,120.288194 Z M192.938667,124.363636 C199.129212,124.363636 204.184824,119.359612 204.184824,113.220655 C204.184824,107.907103 199.129212,102.645139 193.867248,102.645139 C193.196606,102.645139 192.525964,102.696727 191.752145,102.851491 C194.589479,101.819733 198.149042,99.9625697 198.149042,95.8871273 C198.097455,91.5021576 194.537891,88.2521212 189.740218,88.2521212 L173.6448,88.2521212 L176.430545,91.3989818 L176.430545,121.216776 L173.6448,124.363636 L192.938667,124.363636 Z M183.240145,109.248388 L183.240145,88.6648242 C188.450521,89.0775273 191.494206,92.5339152 191.494206,97.7442909 C191.494206,101.510206 189.275927,103.36737 188.24417,104.038012 C186.025891,105.482473 184.117139,106.875345 183.240145,109.248388 Z M189.585455,123.950933 L183.240145,123.950933 L183.240145,111.724606 C183.240145,107.958691 185.819539,106.101527 188.347345,104.450715 C189.121164,103.934836 189.843394,103.676897 190.6688,103.676897 C194.331539,103.676897 197.426812,108.732509 197.426812,113.220655 C197.426812,118.534206 194.383127,123.950933 189.585455,123.950933 Z M222.859636,113.117479 C221.260412,106.978521 217.339733,105.018182 215.843685,104.450715 C216.462739,101.768145 217.9072,98.9308121 220.435006,98.9308121 C222.03423,98.9308121 222.859636,100.220509 222.859636,102.851491 L222.859636,113.117479 Z M218.474667,121.474715 C215.018279,121.474715 212.026182,116.934982 212.026182,112.859539 C212.026182,109.91903 213.573818,107.133285 216.307976,107.133285 C220.073891,107.133285 222.756461,111.930958 222.756461,115.645285 C222.756461,118.482618 221.415176,121.474715 218.474667,121.474715 Z M222.859636,118.070836 L222.859636,124.363636 L232.351806,124.363636 L229.566061,121.216776 L229.566061,105.379297 C229.566061,100.323685 225.232679,98.3117576 220.58977,98.3117576 C215.946861,98.3117576 211.149188,100.839564 209.188848,104.399127 L213.057939,104.399127 C216.978618,104.399127 219.403248,107.236461 220.33183,108.577745 C219.300073,107.597576 218.268315,106.617406 215.018279,106.617406 C210.014255,106.617406 205.835636,110.434909 205.835636,115.593697 C205.835636,120.597721 209.601552,124.5184 214.450812,124.5184 C217.880833,124.5184 221.113571,122.693539 222.750516,118.368674 L222.859636,118.070836 Z M248.911515,124.621576 C254.689358,124.621576 259.383855,118.68897 259.383855,111.466667 C259.383855,104.244364 254.689358,98.3117576 248.911515,98.3117576 C245.816242,98.3117576 243.391612,99.5498667 241.586036,101.66497 L241.586036,88.768 L232.093867,91.9148606 L234.879612,93.7720242 L234.879612,124.363636 L237.665358,124.363636 L241.224921,120.855661 C243.185261,123.383467 245.86783,124.621576 248.911515,124.621576 Z M246.228945,123.435055 C244.474958,123.435055 242.824145,122.09377 241.586036,120.494545 L241.586036,102.438788 C242.824145,100.839564 244.474958,99.4982788 246.228945,99.4982788 C250.201212,99.4982788 252.625842,106.049939 252.625842,111.466667 C252.625842,116.883394 250.201212,123.435055 246.228945,123.435055 Z M275.685624,124.621576 C283.526982,124.621576 287.860364,119.823903 287.860364,114.923055 C287.860364,109.351564 283.526982,105.637236 276.614206,104.450715 L286.622255,104.450715 C284.146036,100.581624 279.967418,98.3117576 275.479273,98.3117576 C268.205382,98.3117576 262.272776,104.192776 262.272776,111.518255 C262.272776,118.792145 268.102206,124.621576 275.685624,124.621576 Z M278.780897,104.038012 L268.102206,104.038012 C268.463321,100.994327 270.062545,99.2403394 272.951467,99.2403394 C275.634036,99.2403394 277.955491,101.355442 278.780897,104.038012 Z M279.967418,121.629479 C272.538764,121.629479 267.328388,112.756364 268.050618,104.450715 L272.745115,104.450715 C280.225358,104.450715 287.241309,108.21663 287.241309,114.097648 C287.241309,118.018327 284.197624,121.629479 279.967418,121.629479 Z M300.550982,124.363636 C305.348655,124.363636 309.578861,121.423127 309.578861,116.934982 C309.578861,113.788121 306.432,111.053964 302.717673,109.093624 L299.570812,107.442812 C295.650133,105.379297 292.915976,103.934836 292.915976,101.510206 C292.915976,99.5498667 295.650133,99.0339879 297.662061,99.0339879 C298.487467,99.0339879 299.467636,99.1371636 299.931927,99.2403394 L307.773285,106.617406 L306.741527,98.569697 L297.662061,98.569697 C293.328679,98.569697 289.562764,101.149091 289.562764,105.276121 C289.562764,108.319806 291.781042,110.8992 295.031079,112.704776 L297.455709,114.046061 C300.757333,115.903224 305.916121,118.069915 305.916121,120.907248 C305.916121,122.764412 303.491491,123.899345 300.550982,123.899345 C299.828752,123.899345 299.209697,123.847758 298.590642,123.744582 L289.872291,115.903224 L290.749285,124.363636 L300.550982,124.363636 Z M340.273648,124.363636 C346.464194,124.363636 351.519806,119.359612 351.519806,113.220655 C351.519806,107.907103 346.464194,102.645139 341.20223,102.645139 C340.531588,102.645139 339.860945,102.696727 339.087127,102.851491 C341.924461,101.819733 345.484024,99.9625697 345.484024,95.8871273 C345.432436,91.5021576 341.872873,88.2521212 337.0752,88.2521212 L320.979782,88.2521212 L323.765527,91.3989818 L323.765527,121.216776 L320.979782,124.363636 L340.273648,124.363636 Z M330.575127,109.248388 L330.575127,88.6648242 C335.785503,89.0775273 338.829188,92.5339152 338.829188,97.7442909 C338.829188,101.510206 336.610909,103.36737 335.579152,104.038012 C333.360873,105.482473 331.452121,106.875345 330.575127,109.248388 Z M336.920436,123.950933 L330.575127,123.950933 L330.575127,111.724606 C330.575127,107.958691 333.154521,106.101527 335.682327,104.450715 C336.456145,103.934836 337.178376,103.676897 338.003782,103.676897 C341.666521,103.676897 344.761794,108.732509 344.761794,113.220655 C344.761794,118.534206 341.718109,123.950933 336.920436,123.950933 Z M366.841406,124.621576 C374.166885,124.621576 379.996315,118.740558 379.996315,111.466667 C379.996315,104.244364 374.166885,98.3117576 366.841406,98.3117576 C359.567515,98.3117576 353.738085,104.244364 353.738085,111.466667 C353.738085,118.740558 359.567515,124.621576 366.841406,124.621576 Z M370.14303,123.486642 C365.551709,123.486642 359.361164,114.304 359.361164,105.688824 C359.361164,102.129261 360.702448,99.4466909 363.539782,99.4466909 C368.131103,99.4466909 374.321648,108.629333 374.321648,117.244509 C374.321648,120.804073 372.980364,123.486642 370.14303,123.486642 Z M388.301964,124.363636 L384.536048,119.101673 L389.12737,113.788121 L394.9568,121.990594 L393.048048,124.363636 L404.139442,124.363636 L393.873455,109.712679 L403.365624,98.569697 L394.389333,98.569697 L398.155248,103.883248 L393.563927,109.1968 L388.044024,101.458618 L390.262303,98.569697 L378.397091,98.569697 L388.766255,113.32383 L379.274085,124.363636 L388.301964,124.363636 Z" id="EBYMoms+BabesBox" fill="#000C48"></path>
                            </g>
                    </g>
                    </svg>
              </div>
              {% if section.settings.content != blank %}
              <div class="section-dec only-dektop">
                {{ section.settings.content }}
              </div>
              {% endif %}
            </div>
            <div class="section-footer">
              {% if section.settings.content != blank %}
              <div class="section-dec only-mobile">
                {{ section.settings.content }}
              </div>
              {% endif %}
              <div class="home-content">
                <div class="arrow-sep"></div>
              </div>
              {% if section.settings.button_link != blank and section.settings.button_text != blank %}
              <a class="btn scroll_btn" data-style="Custom Styles" href="{{ section.settings.button_link }}">
                <span>{{ section.settings.button_text }}</span>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Banner Section",
    "settings": [
	  {
		"type": "image_picker",
		"id": "desktop-image",
		"label": "Desktop Image"
	  },
	  {
		"type": "image_picker",
		"id": "mobile-image",
		"label": "Mobile Image"
	  },
	  {
		"type": "text",
		"id": "title",
		"label": "Title"
	  },
	  {
		"type": "richtext",
		"id": "content",
		"label": "Content"
	  },
	  {
        "id": "button_link",
        "type": "url",
        "label": "Button URL"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }	
	]
  }
{% endschema %}