{% if product.type == "Core Underwear" or product.type == "Cotton Underwear" %}

    {% for prodTag in product.tags %}
        {% if prodTag contains "pantyType-" %}
            {%- assign prodNameTitle = prodTag | replace: "pantyType-", "" -%}
        {% endif %}
        {% if prodTag contains "pantyColor-" %}
            {%- assign prodColorTitle = prodTag | replace: "pantyColor-", "" -%}
        {% endif %}
    {% endfor %}

{% elsif product.type == "Core Bralette" or product.type == "Cotton Bralette"  %}
	{%- assign prodNameTitle = "bralette" -%}

    {% for prodTag in product.tags %}
        {% if prodTag contains "braletteColor-" %}
            {%- assign prodColorTitle = prodTag | replace: "braletteColor-", "" -%}
        {% endif %}
    {% endfor %}

{% elsif product.type == "Mask" %}
	{%- assign prodNameTitle = "mask" -%}

    {% for prodTag in product.tags %}
        {% if prodTag contains "maskColor-" %}
            {%- assign prodColorTitle = prodTag | replace: "maskColor-", "" -%}
        {% endif %}
    {% endfor %}

{% elsif product.type == "Panty Pack" %}
	{%- assign prodNameTitle = "3 panty pack" -%}

    {% for prodTag in product.tags %}
        {% if prodTag contains "packColor-" %}
            {%- assign prodColorTitle = prodTag | replace: "packColor-", "" -%}
        {% endif %}
    {% endfor %}


{% elsif product.type == "Mask Pack" %}
	{%- assign prodNameTitle = "3 mask pack" -%}

    {% for prodTag in product.tags %}
        {% if prodTag contains "packColor-" %}
            {%- assign prodColorTitle = prodTag | replace: "packColor-", "" -%}
        {% endif %}
    {% endfor %}

{% elsif product.type == "Premium Bra & Panty Set" %}
	{%- assign prodNameTitle = "Premium Set" -%}

    {% for prodTag in product.tags %}
        {% if prodTag contains "setColor-" %}
            {%- assign prodColorTitle = prodTag | replace: "setColor-", "" -%}
        {% endif %}
    {% endfor %}

{% endif %}

{%- assign proImageSize = section.settings.image_size -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- if product.description contains '[SHORTDESCRIPTION]' -%}
  {%- assign shortDescription = product.description | split:'[SHORTDESCRIPTION]' | first -%}
  {%- assign fullDescription = product.description | split:'[SHORTDESCRIPTION]' | last -%}
{%- else -%}
  {%- assign shortDescription = '' -%}
  {%- assign fullDescription = product.description -%}
{%- endif -%}
<div class="container-full">
  <div class="pageCollectionInner">
    <div class="productBox pdp" itemscope itemtype="http://schema.org/Product">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
      <meta itemprop="brand" content="EBY">
      <meta itemprop="sku" content="{{ product.selected_or_first_available_variant.sku }}">
      <meta itemprop="gtin8" content="{{ product.selected_or_first_available_variant.sku }}">
      
      <div class="breadcrumbs ebyBreadcrumbs">
        {% if product.type == 'Core Underwear' or product.type == 'Cotton Underwear' %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections/seamless-underwear">Shop All</a></li>
          <li><a href="/collections/seamless-panties">Shop Panties</a></li>
          {% if product.type == 'Cotton Underwear' %}
          		<li><a href="/collections/invisible-cotton-panties">Invisible Cotton</a></li>
          {% else %}
          		{% comment %
                {% for collection in product.collections %}
               		{% if collection.metafields.ebyacf.collection_tier_level == "two" or collection.metafields.ebyacf.collection_tier_level == "three" %}
          				{% if collection.handle != "seamless-panties" %}
                          	{% assign collectionParentTitle = collection.title %}
                          	{% assign collectionParentHandle = collection.handle %}
          				{% endif %}
          			{% endif %}
                {% endfor %}
          		{% endcomment %}
          		<li><a href="/collections/signature-seamless-underwear">Signature Seamless</a></li>
<!--           		<li><a href="/collections/{{ collectionParentHandle }}">{{ collectionParentTitle }}</a></li> -->
          {% endif %}
        </ul>
        {% endif %}
        {% if product.type == 'Core Bralette' or product.type == 'Cotton Bralette' %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections/seamless-underwear">Shop All</a></li>
          <li><a href="/collections/bralettes-for-women">Shop Bralettes</a></li>
          {% if product.type == 'Cotton Bralette' %}
          		<li><a href="/collections/invisible-cotton-bralettes">Invisible Cotton</a></li>
          {% else %}
          		<li><a href="/collections/signature-bralettes">Signature Seamless</a></li>
          {% endif %}
        </ul>
        {% endif %}
        {% if product.type == 'Panty Pack' %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections/seamless-underwear">Shop</a></li>
          <li><a href="/collections/seamless-panties-packs">Seamless Panties Packs</a></li>
        </ul>
        {% endif %}
        {% if product.type == 'EBY Mask' or product.type == 'Mask'  %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections/seamless-underwear">Shop</a></li>
<!--           <li><a href="/collections/eby-masks">EBY Masks</a></li> -->
        </ul>
        {% endif %}
        {% if product.type == 'Bra & Panty Set'  %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections/seamless-underwear">Shop</a></li>
<!--           <li><a href="/collections/bra-and-panty-set">Bra & Panty Set</a></li> -->
        </ul>
        {% endif %}
        {% if product.type contains 'Premium'  %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections/seamless-panties">Shop</a></li>
          <li><a href="/collections/seamless-luxe">Seamless Luxe</a></li>
        </ul>
        {% endif %}
        {% if product.type == 'Tank'  %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/collections/seamless-underwear">Shop</a></li>
          <li><a href="/collections/seamless-tank-top">Tank Tops</a></li>
        </ul>
        {% endif %}
      </div>
      {%- if section.settings.prodetail_style == "detail_style1" -%}
        <div class="proBoxPrimary mb30 {{ section.settings.prodetail_style }}">
          <div class="row">
              <div class="mobile-intro">
                
                {% if product.metafields.ebyacf.alt_seo_rich_title %}
                    <div class="subtitle"><h1 itemprop="name">{{ product.metafields.ebyacf.alt_seo_rich_title }}</h1></div>
                {% else %}
                    {% if product.type contains "Cotton" %}
                    <div class="subtitle"><h1 itemprop="name">EBY invisible cotton {{ prodNameTitle | replace: "_", " " }} in {{ prodColorTitle | replace: "_", " " }}</h1></div>
                    {% else %}
                    <div class="subtitle"><h1 itemprop="name">EBY seamless {{ prodNameTitle | replace: "_", " " }} in {{ prodColorTitle | replace: "_", " " }}</h1></div>
                    {% endif %}
                {% endif %}
                <h2 class="product-name">
                  {% if product.type == "Panty Pack" or product.type == "Premium Bra & Panty Set" %}
                    {% if product.type contains "Cotton" %}Cotton {% endif %}{{ product.title  | replace: "_", " " | capitalize }}
                  {% else %}
                  	{% if product.type contains "Cotton" %}Cotton {% endif %}{{ prodNameTitle  | replace: "_", " " | capitalize }}
                  {% endif %}
                    
                    <!-- <img src="{{ 'arrow-point-to-down.svg' | asset_url }}" alt="Arrow" class="changer-arrow-mobile"/> -->
                </h2>
                  <!-- <div class="style-changer style-changer-mobile">
                      <div class="single-type">Bikini</div>
                      <div class="single-type">Cheeky</div>
                      <div class="single-type">Highwaisted</div>
                      <div class="single-type">Thong</div>
                      <div class="single-type">Highwaisted Thong</div>
                  </div> -->
                  <div class="proPrice flexRow flexAlignCenter">
                    {% if customer.tags contains 'Active Subscriber' %}
                    {% else %}
                        {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                            <div class="priceProduct holidaySale {% if on_sale %}priceSale{% endif %}">{{ product.price | money | remove: ".00" }}</div>
                        {% else %}
                            <div class="priceProduct {% if on_sale %}priceSale{% endif %}">{{ product.price | money | remove: ".00" }}</div>
                        {% endif %}
                    {% endif %}
                        {% if customer.tags contains 'Active Subscriber' %}
                            {% if product.type == "Mask"%}
                                {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                <div class="priceProduct {% if on_sale %}priceSale{% endif %} holidaySale"><p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p></div>
                                {% else %}
                                    <div class="priceProduct {% if on_sale %}priceSale{% endif %}">{{ product.price | money }}</div>
                                {% endif %}

                                <div class="ebyProdTile-vipPriceWrapper">
                                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                        {%- assign discount = product.price | times: shop.metafields.ebyacf.sitewide_discount_price | divided_by: 100 -%}
                                        {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                                        <p><span class="ebyHolidayPrice">${{holidayPrice}}</span> <span class="ebyHolidayDiscount">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                                  {% else %}
                                  		{% if product.metafields.ebyacf.vip_member_price %}
                                        <p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p>
                                  		{% endif %}
                                  {% endif %}
                                </div>
                            {% elsif product.type == "Core Bralette"%}
                                {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                    <div class="priceProduct {% if on_sale %}priceSale{% endif %} holidaySale"><p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p></div>
                                {% else %}
                                    <div class="priceProduct {% if on_sale %}priceSale{% endif %}">{{ product.price | money }}</div>
                                {% endif %}

                                <div class="ebyProdTile-vipPriceWrapper">
                                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                        {%- assign discount = product.price | times: shop.metafields.ebyacf.sitewide_discount_price | divided_by: 100 -%}
                                        {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                                        <p><span class="ebyHolidayPrice">${{holidayPrice}}</span> <span class="ebyHolidayDiscount">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                                  {% else %}
                                  		{% if product.metafields.ebyacf.vip_member_price %}
                                        <p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p>
                                  		{% endif %}
                                  {% endif %}
                                </div>
                            {% elsif product.type == "Core Underwear" and product.tags contains "Featured Style" %}
                                {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                <div class="priceProduct {% if on_sale %}priceSale{% endif %} holidaySale"><p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p></div>
                                {% else %}
                                <div class="priceProduct {% if on_sale %}priceSale{% endif %}">{{ product.price | money }}</div>
                                {% endif %}

                                <div class="ebyProdTile-vipPriceWrapper">
                                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                        {%- assign discount = product.price | times: shop.metafields.ebyacf.sitewide_discount_price | divided_by: 100 -%}
                                        {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                                        <p><span class="ebyHolidayPrice">${{holidayPrice}}</span> <span class="ebyHolidayDiscount">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                                  {% else %}
                                  		{% if product.metafields.ebyacf.vip_member_price %}
                                        <p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p>
                                  		{% endif %}
                                  {% endif %}
                                </div>
                            {% elsif product.type == "Core Underwear" %}
                                {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                    <div class="priceProduct {% if on_sale %}priceSale{% endif %} holidaySale"><p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p></div>
                                {% else %}
                                <div class="priceProduct {% if on_sale %}priceSale{% endif %}">{{ product.price | money }}</div>
                                {% endif %}

                                <div class="ebyProdTile-vipPriceWrapper">
                                  {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                        {%- assign discount = product.price | times: shop.metafields.ebyacf.sitewide_discount_price | divided_by: 100 -%}
                                        {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                                        <p><span class="ebyHolidayPrice">${{holidayPrice}}</span> <span class="ebyHolidayDiscount">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                                  {% else %}
                                  		{% if product.metafields.ebyacf.vip_member_price %}
                                        <p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p>
                                  		{% endif %}
                                  {% endif %}
                                </div>
                            {% else %}
                                {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                <div class="priceProduct {% if on_sale %}priceSale{% endif %} holidaySale"></div>
                                {% else %}
                                <div class="priceProduct {% if on_sale %}priceSale{% endif %}">{{ product.price | money }}</div>
                                {% endif %}

                                <div class="ebyProdTile-vipPriceWrapper">
                                    {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                          {%- assign discount = product.price | times: shop.metafields.ebyacf.sitewide_discount_price | divided_by: 100 -%}
                                          {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                                    <p><span class="ebyHolidayPrice">${{holidayPrice}}</span> <span class="ebyHolidayDiscount">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                                    {% else %}
                                  			{% if product.metafields.ebyacf.vip_member_price %}
                                    		<p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p>
                                  			{% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="ebyProdTile-vipPriceWrapper">
                              {% if shop.metafields.ebyacf.enable_holiday_mode-vip_pg or shop.metafields.ebyacf.enable_holiday_mode-coll_pg %}
                                    {%- assign discount = product.price | times: shop.metafields.ebyacf.sitewide_discount_price | divided_by: 100 -%}
                                    {%- assign holidayPrice = product.price | minus: discount | money_without_currency -%}
                              <p><span class="ebyHolidayPrice">${{holidayPrice}}</span> <span class="ebyHolidayDiscount">{{ shop.metafields.ebyacf.sitewide_discount_price }} Off</span></p>
                              {% else %}
                              		{% if product.metafields.ebyacf.vip_member_price %}
                             			<p class="ebyMemberPriceWrapper">( <span>{{ product.metafields.ebyacf.vip_member_price }}</span> <span class="fontMinor">Members</span> )</p>
                              		{% endif %}
                              {% endif %}
                            </div>
                        {% else %}
                        <p id="ProductPrice" class="priceProduct {% if product.compare_at_price > product.price %}priceSale{% endif %}" itemprop="price">
                          {{ current_variant.price | money }}
                        </p>
                        {% endif %}

                    {%- if product.compare_at_price > product.price -%}
                    <span id="ComparePrice" class="priceProduct priceCompare">
                      {{ current_variant.compare_at_price | money }}
                    </span>
                    {%- endif -%}
                  </div>

                  {%- if settings.product_reviews_enable -%}
                  <div class="proReviews">
                      <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.selected_or_first_available_variant.sku }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}" style="display: inline-block;"></span>
                      {% comment %}<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>{% endcomment %}
                  </div>
                  {%- endif -%}
              </div>
            <div class="ab proBoxImage col-xs-12 col-md-12 col-lg-12 mb30">
              {% include 'vela-prodetail-image-lite' %}
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 mb30 proBoxInfo_outr">
              <div class="proBoxInfo">
                {% include 'vela-prodetail-info' %}
              </div>
            </div>
          </div>
        </div>

        <div class="pdpBodyContentWrapper">
            <div class="flex-wrap">                
                <div class="ebyPdpRelatedProductsWrapper">
                    <h2>You might also like</h2>
                  	<div data-rebuy-id="5675" id="rebuy-id-5675">
                      <div class="rebuy-widget"
                           v-cloak
                           v-on:click="stopPropagation($event)"
                           v-bind:id="'rebuy-widget-' + id"
                           v-bind:class="['widget-type-' + config.type.replace('_','-'), 'widget-display-' + config.display_type, products.length > 0 ? 'is-visible' : 'is-hidden']">

                        <div
                             class="rebuy-widget-container"
                             v-cloak
                             v-bind:class="['widget-display-' + config.display_type, visible ? 'is-visible' : 'is-hidden' ]"
                             v-on:click.self="hide()">

                          <div class="rebuy-widget-content">
                            <div class="rebuy-modal-close" v-on:click="hide()">
                              <i class="fas fa-times"></i>
                            </div>

                            <h4 class="super-title" v-if="config.language.super_title != ''" v-html="config.language.super_title"></h4>

                            <h3 class="primary-title" v-if="config.language.title != ''" v-html="config.language.title"></h3>

                            <div class="description" v-if="config.language.description != ''" v-html="config.language.description"></div>

                            <div class="rebuy-product-grid" v-bind:class="layoutClasses">

                                  <div class="rebuy-product-block" v-bind:data-prdId="product.id" v-for="product in products" v-bind:class="[product.handle, 'product-id-' + product.id, cartHasProduct(product) ? 'cart-has-item' : '']">
                          <div class="rebuy-product-media">
                              <a class="rebuy-product-image" v-bind:style="imageStyles" v-bind:class="[hasLearnMore() ? 'clickable' : '']">
                                  <img v-bind:src="itemImage(product, product.selected_variant, '400x400')" v-bind:alt="product.title">
                              </a>
                              <div class="rebuy-product-options" v-if="showVariantSelect(product)">
                                  <div class="rebuy-select-block">
                                      <div class="rebuy-title-container">
                                          <a class="rebuy-variant-title rebuy-select-size" v-html="product.selected_variant.title"></a>
                                          <img src="{{ 'arrow-point-to-down.svg' | asset_url }}" alt="Arrow" class="rebuy-arrow"/>
                                      </div>
                                      <div class="rebuy-select-options">
                                          <div class="current-size" v-html="product.selected_variant.title"></div>
                                          <div class="siz-guid-container" v-if="product.product_type == 'Core Bralette' || product.product_type == 'Core Underwear' || product.product_type == 'Surprise Panty Pack'">
                                              <a class="siz_guid rebuy" v-bind:data-product-type="product.product_type" href="#">Size Guide</a>
                                          </div>
                                          <div class="options">
                                              <div class="single-select" v-for="variant in product.variants" 
                                              v-bind:data-value="variant.id">{% raw %}{{ variant.title }}{% endraw %}</div>
                                              <select
                                              class="rebuy-select"
                                              v-model="product.selected_variant_id"
                                              v-on:change="selectVariant(product);">
                                              <option v-for="variant in product.variants" v-bind:value="variant.id">{% raw %}{{ variant.title }}{% endraw %}</option>
                                              </select>                                                
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="rebuy-product-actions">
                                  <button
                                      class="rebuy-button"
                                      v-bind:class="{ working: (product.status != 'ready' && product.status != 'selecting') }"
                                      v-bind:disabled="!(variantAvailable(product.selected_variant)) || (product.status != 'ready' && product.status != 'selecting')"
                                      v-on:click="addUpsellToCart(product)"
                                      type="button">
                                          <span v-html="!(variantAvailable(product.selected_variant)) || (product.status != 'ready' && product.status != 'selecting') ? '...' : 'Add'"></span>
                                  </button>
                              </div>
                          </div>
                          <div class="rebuy-product-info">
                              <!-- <div class="description" v-if="config.language.description != ''" v-html="config.language.description"></div> -->
                              <a class="rebuy-product-title" v-html="product.title" v-bind:class="[hasLearnMore() ? 'clickable' : '']"></a>
                              <div class="rebuy-product-review" v-if="hasProductReviews(product)">
                                  <span class="rebuy-star-rating">
                                      <span class="rebuy-star-rating-background"></span>
                                      <span class="rebuy-star-rating-foreground" v-bind:style="{ width: productReviewRatingPercentage(product) }"></span>
                                  </span>
                                  <span class="rebuy-review-count" v-html="productReviewCount(product)"></span>
                              </div>
                              <div class="rebuy-product-price bfx-price-container">
                                  <div v-if="variantOnSale(product, product.selected_variant)">
                                      <span class="rebuy-money sale bfx-sale-price bfx-price" v-html="formatMoney(variantPrice(product, product.selected_variant)).replace('.00', '')"></span>
                                      <span class="rebuy-money compare-at bfx-old-price bfx-price" v-html="formatMoney(variantCompareAtPrice(product, product.selected_variant)).replace('.00', '')"></span>
                                  </div>
                                  <div v-if="!(variantOnSale(product, product.selected_variant))">
                                      <span class="rebuy-money bfx-price" v-html="formatMoney(variantPrice(product, product.selected_variant)).replace('.00', '')"></span>
                                  </div>
                              </div>
                              <div class="rebuy-select-color">
                                <a class="rebuy-select-colors" v-bind:href="learnMoreURL(product)" v-on:click="learnMore(product);">More colors</a>
                              </div>
                          </div>                                                       
                      </div>

                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="product-details-tab">
                    <div class="product-details">product details +</div>
                    <div class="details-content-background">
                        <div class="details-content" itemprop="description">
                            <h3>Details</h3>
                            {{ product.metafields.ebyacf.new_desc_details.en }}
                            <div class="multiple-details">
                              	{{ product.metafields.ebyacf.new_spec_details.en }}
                            </div>
                            <h3>Mission</h3>
                          	<div class="ebyProductPromiseWrapper">
                         		{{ product.metafields.ebyacf.new_women_empower_details.en }}	
                          	</div>
                          	<div class="ebyProductPromiseWrapper">
                          		{{ product.metafields.ebyacf.new_manufacture_rule_details.en }}
                          	</div>
                        </div>
                    </div>
                </div>
                <div class="guarantee-block">
                    <h2>100% Fit Guarantee</h2>
                    <p>Love how your EBY products fit or your money back… that’s it.</p>
                </div>
            </div>
            {% if product.type == "Premium Bra & Panty Set" %}
              <div class="resource-conscious">
                  <div class="resource-row">
                      <div class="resource-col">
                          <div class="column-image">
                              <img class="lazyload" data-src="{{ "STATIC---" | append: "afbralette" | append: "---1.jpg" | file_img_url: 'master' }}" alt="" title=""/>
                          </div>
                      </div>
                      <div class="resource-col">
                          <div class="column-image">
                              <img class="lazyload" data-src="{{ "STATIC---" | append: "afbralette" | append: "---2.jpg" | file_img_url: 'master' }}" alt="" title=""/>
                          </div>
                      </div>
                      <div class="resource-col">
                          <div class="column-image">
                              <img class="lazyload" data-src="{{ "STATIC---" | append: "afbralette" | append: "---3.jpg" | file_img_url: 'master' }}" alt="" title=""/>
                          </div>
                      </div>
                      <div class="resource-col">
                          <div class="column-image">
                              <img class="lazyload" data-src="{{ "STATIC---" | append: "afbralette" | append: "---4.jpg" | file_img_url: 'master' }}" alt="" title=""/>
                          </div>
                      </div>
                  </div>
              </div>
          	{% endif %}
        </div>


        {% if section.settings.image_picker_1 != blank %}
          <div class="cus-image-section cus-image-section-1">
          <a href="{% if section.settings.image_picker_1_url != blank %}{{ section.settings.image_picker_1_url }}{% else %}javascript:void(0);{% endif %}" ><img class="lazyloaded" src="{{ 'blank.png' | asset_url }}" data-src="{{ section.settings.image_picker_1 | img_url:'master' }}" style="width:100%" alt="Image 1" /></a>
        </div>
        {% endif %}
        {% if section.settings.image_picker_2 != blank %}
          <div class="cus-image-section cus-image-section-2">
          <a href="{% if section.settings.image_picker_2_url != blank %}{{ section.settings.image_picker_2_url }}{% else %}javascript:void(0);{% endif %}" ><img class="lazyloaded" src="{{ 'blank.png' | asset_url }}" data-src="{{ section.settings.image_picker_2 | img_url:'master' }}" style="width:100%" alt="Image 2" /></a>
        </div>
        {% endif %}
        {% if section.settings.image_picker_3 != blank %}
          <div class="cus-image-section cus-image-section-3">
            <a href="{% if section.settings.image_picker_3_url != blank %}{{ section.settings.image_picker_3_url }}{% else %}javascript:void(0);{% endif %}" ><img class="lazyloaded" src="{{ 'blank.png' | asset_url }}" data-src="{{ section.settings.image_picker_3 | img_url:'master' }}" style="width:100%" alt="Image 3" /></a>
      	  </div>
        {% endif %}
      {%- elsif section.settings.prodetail_style == "detail_style2" -%}
        <div class="row">
          <div class="proBoxImage col-xs-12 col-md-6 col-lg-6 col-xl-5 mb30">
            {% include 'vela-prodetail-image' %}
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6 col-xl-7 mb30">
            <div class="proBoxInfo">
              {% include 'vela-prodetail-info' %}
              <div class="mt30">
                {% include 'vela-prodetail-tabdesc'%}
              </div>
            </div>
          </div>
        </div>
      {%- elsif section.settings.prodetail_style == "detail_style3" -%}
        <div class="row">
          <div class="proBoxImage col-xs-12 col-md-6 col-lg-6 col-xl-5 mb30">
            {% include 'vela-prodetail-image' %}
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6 col-xl-7 mb30">
            <div class="proBoxInfo">
              {% include 'vela-prodetail-info' %}
            </div>
          </div>
        </div>
        <div class="mb30 pt-md-30">
          {% include 'vela-prodetail-tabdesc'%}
        </div>
      {%- else -%}
        <div class="row">
          <div class="proBoxImage col-xs-12 col-md-6 col-lg-5 mb30">
            {% include 'vela-prodetail-image' %}
          </div>
          <div class="col-xs-12 col-md-6 col-lg-7 mb30">
            <div class="proBoxInfo">
              {% include 'vela-prodetail-info' %}
              <div class="mt30">
                {% include 'vela-prodetail-tabdesc'%}
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
    {% include 'vela-product-related' %}
  </div>
</div>

{% comment %}
<div class="pdp-reviews-block">
    {%- if section.settings.product_review_section_enable -%}
    <div class="testm_slider">
        <h2>{{ section.settings.product_review_section_title }}</h2>
        <div class="rev_sect">
            <h2>Reviews</h2>

            <div id="stamped-main-widget"
                 class="custom1"
                 data-widget_show_avatar="false"
                 data-product-id="{{ product.id }}"
                 data-product-title="{{product.title}}"
                 data-name="{{ product.title | escape }}"
                 data-url="{{ shop.url }}{{ product.url }}"
                 data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product.description | escape }}"
            data-product-sku="{{product.selected_or_first_available_variant.sku}}">
        </div>
    </div>
</div>
{%- endif -%}
</div>
{% endcomment %}

<div class="pop_size size_guid_pdp">
  <div class="pop_inner">
    <div class="pop_wrap">
      <span class="colz_pop size_guid_pdp">&times;</span>
      <div class="ebyGuideChartWrapper">
        {{ shop.metafields.ebyacf.eby_size_chart-panty.en }}
      </div>
    </div>
    <div class="pop_wrapper_backing size_guid_pdp">&nbsp;</div>
  </div>
</div>

<div class="pop_size rebuy" style="display: none;" >
  <div class="pop_inner">
    <div class="pop_wrap">
      <span class="colz_pop rebuy">×</span>
      <div class="ebyGuideChartWrapper">
        <div class="ebyDesktop-guideWrapper">
          <p class="ebyPantyGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/EBY---SizeGuide---Panty.jpg?v=1608664423" class="fr-fic fr-dib lazyload"></p>
          <p class="ebyBraletteGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/EBY---SizeGuide---Bralette.jpg?v=1608664424" class="fr-fic fr-dib ls-is-cached lazyloaded"></p>
          <p class="ebyWrapGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/SizeGuide---wrap_top_2x_12c18509-670b-4eba-ba3b-dbfc2bdcd9cb.jpg?v=1639404435" class="fr-fic fr-dib ls-is-cached lazyloaded"></p>
        </div>
        <div class="ebyTablet-guideWrapper">
          <p class="ebyPantyGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/EBY---SizeGuide---Panty.jpg?v=1608664423" class="fr-fic fr-dib lazyload"></p>
          <p class="ebyBraletteGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/EBY---SizeGuide---Bralette.jpg?v=1608664424" class="fr-fic fr-dib ls-is-cached lazyloaded"></p>
          <p class="ebyWrapGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/SizeGuide---wrap_top_2x_12c18509-670b-4eba-ba3b-dbfc2bdcd9cb.jpg?v=1639404435" class="fr-fic fr-dib ls-is-cached lazyloaded"></p>
        </div>
        <div class="ebyMobile-guideWrapper">
          <p class="ebyPantyGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/EBY---SizeGuide---Panty.jpg?v=1608664423" class="fr-fic fr-dib lazyload"></p>
          <p class="ebyBraletteGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/EBY---SizeGuide---Bralette.jpg?v=1608664424" class="fr-fic fr-dib ls-is-cached lazyloaded"></p>
          <p class="ebyWrapGuide"><img src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/SizeGuide---wrap_top_2x_12c18509-670b-4eba-ba3b-dbfc2bdcd9cb.jpg?v=1639404435" class="fr-fic fr-dib ls-is-cached lazyloaded"></p>
        </div>
      </div>
    </div>
    <div class="pop_wrapper_backing rebuy">&nbsp;</div>
  </div>
</div>

<style>
  .container-full {
    padding-left: 0px;
    padding-right: 0px;
  }
</style>
{%- if section.settings.product_instagram_enable -%}
    {% include 'vela-instagram' %}
{%- endif -%}


{% schema %}
    {
        "name": "Vela Product Page",
        "settings": [
            {
                "type": "header",
                "content": "Settings"
            },
            {
                "type": "select",
                "id": "prodetail_style",
                "label": "Product Layout",
                "default": "detail_default",
                "options": [
                    {
                        "value": "detail_default",
                        "label": "Layout Default"
                    },
                    {
                        "value": "detail_style1",
                        "label": "Layout Style1"
                    },
                    {
                        "value": "detail_style2",
                        "label": "Layout Style2"
                    },
                    {
                        "value": "detail_style3",
                        "label": "Layout Style3"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "product_available_enable",
                "label": "Show product available",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_type_enable",
                "label": "Show product type",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_vendor_enable",
                "label": "Show product vendor",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_sku_enable",
                "label": "Show product SKU",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_countdown_enable",
                "label": "Show Countdown",
                "default": true
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Image size",
                "default": "480x480",
                "info": "Image size is required."
            },
            {
                "type": "header",
                "content": "Product Zoom"
            },
            {
                "type": "checkbox",
                "id": "product_zoom_enable",
                "label": "Enable",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_scroll_zoom",
                "label": "Scroll zoom",
                "info": "Allow zoom on mousewheel, true to activate",
                "default": true
            },
            {
                "type": "select",
                "id": "product_zoom_type",
                "label": "Zoom type",
                "default": "window",
                "options": [
                    {
                        "value": "window",
                        "label": "Window"
                    },
                    {
                        "value": "inner",
                        "label": "Inner"
                    },
                    {
                        "value": "lens",
                        "label": "Lens"
                    }
                ]
            },
            {
                "type": "text",
                "id": "product_zoom_width",
                "label": "Zoom window width",
                "info": "Use with zoom type Window",
                "default": "500"
            },
            {
                "type": "text",
                "id": "product_zoom_height",
                "label": "Zoom window height",
                "info": "Use with zoom type Window",
                "default": "600"
            },
            {
                "type": "text",
                "id": "product_lens_size",
                "label": "Lens size",
                "info": "Use with zoom type Lens",
                "default": "200"
            },
            {
                "type": "select",
                "id": "product_lens_type",
                "label": "Lens type",
                "info": "Use with zoom type Lens",
                "default": "square",
                "options": [
                    {
                        "value": "square",
                        "label": "Square"
                    },
                    {
                        "value": "round",
                        "label": "Round"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Product Collections"
            },
            {
                "type": "checkbox",
                "id": "product_collection_enable",
                "label": "Show product collections",
                "default": true
            },
            {
                "type": "text",
                "id": "product_collection_title",
                "label": "Box categoies title"
            },
            {
                "type": "range",
                "id": "product_coll_limit",
                "min": 2,
                "max": 10,
                "step": 1,
                "unit": "pcs",
                "label": "Limit",
                "default": 6
            },
            {
                "type": "header",
                "content": "Product Short Description"
            },
            {
                "type": "radio",
                "id": "product_short_description",
                "label": "Choose type",
                "options": [
                    {
                        "value": "no",
                        "label": "Don't show"
                    },
                    {
                        "value": "yes",
                        "label": "Show short description"
                    },
                    {
                        "value": "full",
                        "label": "Show full description"
                    }
                ],
                "default": "yes",
                "info": "Use tag [SHORTDESCRIPTION] on product description."
            },
            {
                "type": "header",
                "content": "Product More Info"
            },
            {
                "type": "radio",
                "id": "product_tab_type",
                "label": "Choose type",
                "options": [
                    {
                        "value": "disable",
                        "label": "Don't Show"
                    },
                    {
                        "value": "protab",
                        "label": "Tab More Info"
                    },
                    {
                        "value": "propanel",
                        "label": "Panel More Info"
                    }
                ],
                "default": "protab"
            },
            {
                "type": "checkbox",
                "id": "product_tab1_enable",
                "label": "1st Enable tab",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tab1_title",
                "label": "1st Heading tab",
                "default": "Details"
            },
            {
                "type": "checkbox",
                "id": "product_tab2_enable",
                "label": "2nd Enable tab"
            },
            {
                "type": "text",
                "id": "product_tab2_title",
                "label": "2nd Heading tab"
            },
            {
                "type": "textarea",
                "id": "product_tab2_content",
                "label": "2nd Tab content"
            },
            {
                "type": "checkbox",
                "id": "product_tab3_enable",
                "label": "3rd Enable FAQs"
            },
            {
                "type": "text",
                "id": "product_tab3_title",
                "label": "3rd Heading tab"
            },
            {
                "type": "checkbox",
                "id": "product_tab4_enable",
                "label": "4th Enable tab",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tab4_title",
                "label": "4th Title tab",
                "default": "Reviews"
            },
			{
                "type": "header",
                "content": "Dynamic checkout buttons"
            },
            {
                "type": "checkbox",
                "id": "dynamic_check_enable",
                "label": "Enable Dynamic Checkout Button",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "buyit_check_enable",
                "label": "Enable Buy It Now Button",
                "default": true
            },
            {
                "type": "header",
                "content": "Product Social Sharing"
            },
            {
                "type": "checkbox",
                "id": "product_social_enable",
                "label": "Enable",
                "default": true
            },
            {
                "type": "text",
                "id": "product_social_title",
                "label": "Heading"
            },
            {
                "type": "checkbox",
                "id": "product_social_facebook_enable",
                "label": "Show facebook sharing",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_twitter_enable",
                "label": "Show twitter sharing",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_google_enable",
                "label": "Show google plus sharing",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_linkedin_enable",
                "label": "Show linkedin sharing"
            },
            {
                "type": "checkbox",
                "id": "product_social_pinterest_enable",
                "label": "Show pinterest sharing"
            },
            {
                "type": "header",
                "content": "Product Related"
            },
            {
                "type": "checkbox",
                "id": "product_related_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "product_related_title",
                "placeholder": "Title for Block",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "product_related_limit",
                "placeholder": "Number. Ex: 8",
                "label": "Limit"
            },
            {
                "type": "header",
                "content": "Vela Instagram"
            },
            {
                "type": "checkbox",
                "id": "product_instagram_enable",
                "label": "Enable"
            },
            {
                "type": "checkbox",
                "id": "instagram_full",
                "label": "Full Width?"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "placeholder": "Title"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "SubTitle",
                "placeholder": "SubTitle"
            },
			{
                "type": "text",
                "id": "userid",
                "label": "User Id (*)",
                "placeholder": "User Id",
                "default": "2292239002",
                "info": "[Where do I find User ID?](https:\/\/codeofaninja.com\/tools\/find-instagram-user-id)"
            },
            {
                "type": "text",
                "id": "accessToken",
                "label": "Access token (*)",
                "placeholder": "Access Token",
                "default": "2292239002.1677ed0.fac0c0ffe73643cd8f4838b89b4c11a3",
                "info": "[Where do I find Access Token?](http:\/\/instagram.pixelunion.net\/)"
            },
            {
                "type": "text",
                "id": "limited",
                "placeholder": "Ex:8",
                "label": "Limit The Number of Images",
                "default": "8"
            },
			{
                "type": "select",
                "id": "resolution",
                "label": "Resolution of images",
                "options": [
                    {
                      	"value": "thumbnail",
                      	"label": "Thumbnail (150x150)"
                    },
                    {
                      	"value": "low_resolution",
                      	"label": "Low Resolution (320x320)"
                    },
                    {
                      	"value": "standard_resolution",
                      	"label": "Standard Resolution (640x640)"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "show_loadmore",
                "label": "Show Loadmore?",
                "default": true
            },
            {
                "type": "text",
                "id": "loadmore",
                "label": "Load more",
                "placeholder": "Button load more text"
            },
            {
                "type": "image_picker",
                "id": "image_picker_1",
                "label": "Image 1"
            },
            {
                "type": "url",
                "id": "image_picker_1_url",
                "label": "Image 1 URL"
            },
            {
                "type": "image_picker",
                "id": "image_picker_2",
                "label": "Image 2"
            },
            {
                "type": "url",
                "id": "image_picker_2_url",
                "label": "Image 2 URL"
            },
            {
                "type": "image_picker",
                "id": "image_picker_3",
                "label": "Image 3"
            },
            {
                "type": "url",
                "id": "image_picker_3_url",
                "label": "Image 3 URL"
            },
			{
              "type": "header",
              "content": "Product Review Section"
            },
            {
              "type": "checkbox",
              "id": "product_review_section_enable",
              "label": "Show product review section",
              "default": true
            },
            {
              "type": "text",
              "id": "product_review_section_title",
              "label": "Heading",
              "default": "What our customers are saying"
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "FAQ Item",
                "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question"
                },
                {
                    "type": "textarea",
                    "id": "answer",
                    "label": "Answer"
                }
                ]
            },
            {
                "type": "item_size",
                "name": "Size Guide",
                "settings": [
                    {
                        "type": "collection",
                        "id": "size_collection",
                        "label": "Collection"
                    },
                    {
                        "type": "image_picker",
                        "id": "size_image",
                        "label": " Size Guide"
                    },
                    {
                        "type": "html",
                        "id": "size_desc",
                        "label": "Description",
                        "info": "Use HTML to format your text so it can be easily read"
                    }
                ]
            },
            {
                "type": "item_bundle",
                "name": "Bundle",
                "settings": [
                    {
                        "type": "paragraph",
                        "content": "This is only activated with the products that have the template product.bundle-2"
                    },
                    {
                        "type": "product",
                        "id": "target_product",
                        "label": "Target product"
                    },
                    {
                        "type": "product",
                        "id": "first_product",
                        "label": "First product"
                    },
                    {
                        "type": "product",
                        "id": "second_product",
                        "label": "Second product"
                    }
                ]
            }
        ]
    }
{% endschema %}




{%- assign product_target = product -%}
{%- assign isBundle = false -%}
{%- if template.suffix == "bundle" or template.suffix == "bundle-2" or template.suffix == "bundle-lite" -%}
  {% for block in section.blocks %}
    {%- if block.type == "item_bundle" -%}
      {%- assign b_target_product = all_products[block.settings.target_product] -%}
      {%- if b_target_product.handle == product.handle -%}
        {%- assign b_first_product = all_products[block.settings.first_product] -%}
        {%- assign b_second_product = all_products[block.settings.second_product] -%}
        {%- assign product_target = b_first_product -%}
        {%- assign isBundle = true -%}
        {%- break -%}
      {%- endif -%}
    {%- endif -%}
  {% endfor %}

  <style>
    @media (min-width: 992px) {
      .template-product .proBoxInfo .formAddToCart-bundle {
        margin-top: 12px;
        margin-bottom: 40px;
      }
    }
    .template-product .proBoxInfo .formAddToCart-bundle > .swatches {
      margin: 0;
    }
    .template-product .proBoxInfo .formAddToCart-bundle .proVariants {
      display: block !important;
      width: inherit !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .template-product .proBoxInfo .formAddToCart-bundle .js-swatch.swatches {
      border: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 4rem;
    }
    .template-product .proBoxInfo .formAddToCart-bundle .js-swatch.swatches:before {
      display: none;
    }
    .template-product .proBoxInfo .formAddToCart-bundle .js-swatch.swatches .header {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: normal;
      color: #00435f;
      font-weight: normal;
      font-style: normal;
    }
    .template-product .proBoxInfo .formAddToCart-bundle .js-swatch.swatches .header .siz_guid {
      position: static !important;
    }
    .template-product .proBoxInfo .formAddToCart-bundle .js-swatch.swatches .swatch-selector {
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
    }
    .template-product .proBoxInfo .formAddToCart-bundle .js-swatch.swatches .swatch-selector label {
      cursor: pointer;
    }
  </style>

  <script type="text/javascript" async>
      
    /*$.get('https://inventorylocations.checkmyapp.net/inventory/products/eby-by-sofia-vergara.myshopify.com/[{{ product_target.id }}]', function (data, textStatus, jqXHR) {
            window.productInfo = data[{{ product_target.id }}].product;
            console.log(window.productInfo);
            var s = data[{{ product_target.id }}].product.variants[v.id].inventoryItem.locations;
            if(s == 0 || s < 0){
          $('#AddToCart').addClass('disabled').prop('disabled', true);
          $('#AddToCartText').html("Sold Out");
        }
      });*/
      var v = null;
      var v2 = null;
      var product = {{ product_target | json }};//console.log(product);
      var product2 = {{ b_second_product | json }};//console.log(product2);
      window.productInfo = null;
      window.product2Info = null;
      var selectCallback = function(variant, selector) {
        //v = variant;
        //console.log('variant',variant,'selector',selector);     
        vela.productPage({
          money_format: '{{ shop.money_format }}',
          variant: variant,
          selector: selector
        });
      };
    //document.addEventListener('load', function(){    
    //});
      
    /*document.addEventListener('tomitProductLoaded', function(e) {
      var variantStock = tomitProductInventoryInfo.activeProduct;
      window.productInfo = variantStock;
      //console.log(tomitProductInventoryInfo.activeProduct);
      //console.log(v);
      var s = variantStock.variants[v.id].inventoryItem.locations[0].available;
      if(s == 0 || s < 0){
        $('#AddToCart').addClass('disabled').prop('disabled', true);
        $('#AddToCartText').html("Sold Out");
      }
    });*/
    $(document).ready(function() {
      console.log('ee');
      /*$('body').addClass('velaCartAdding');
      jQuery.ajax({
        url: "https://inventorylocations.checkmyapp.net/inventory/products/eby-by-sofia-vergara.myshopify.com/[{{ product_target.id }}]",
        beforeSend: function(){
          $('body').addClass('velaCartAdding');
        },
        success: function(data){
          window.productInfo = data[{{ product_target.id }}].product;
          console.log('productInfo',window.productInfo);
          var s = data[{{ product_target.id }}].product.variants[v.id].inventoryItem.locations;
          console.log('available',s[0].available);
          if(s[0].available == 0 || s[0].available < 0){
            $('#AddToCart').addClass('disabled').prop('disabled', true);
            $('#AddToCartText').html("Sold Out");
          }
          $('body').removeClass('velaCartAdding');
        }
      });*/
      $('body').addClass('velaCartAdding');
      {% unless settings.free_gift_enabled == true and product.id == all_products[settings.free_gift_product].id -%}
      jQuery.ajax({
        url: "https://inventorylocations.checkmyapp.net/inventory/products/eby-by-sofia-vergara.myshopify.com/[{{ product_target.id }}]",
        beforeSend: function(){
          $('body').addClass('velaCartAdding');
        },
        success: function(data){
          window.productInfo = data[{{ product_target.id }}].product;
          jQuery.ajax({
            url: "https://inventorylocations.checkmyapp.net/inventory/products/eby-by-sofia-vergara.myshopify.com/[{{ b_second_product.id }}]",
            success: function(data2){
              window.product2Info = data2[{{ b_second_product.id }}].product;
              if(window.productInfo == null && window.product2Info == null){
                $('#AddToCart').addClass('disabled').prop('disabled', true);
                $('#AddToCartText').html("Sold Out");
              }
              $('body').removeClass('velaCartAdding');
            },
            error: function(){
              $('#AddToCart').addClass('disabled').prop('disabled', true);
              $('#AddToCartText').html("Sold Out");
              $('body').removeClass('velaCartAdding');
            }
          });
        },
        error: function(){
          $('#AddToCart').addClass('disabled').prop('disabled', true);
          $('#AddToCartText').html("Sold Out");
          $('body').removeClass('velaCartAdding');
        }
      });
  
      new Shopify.OptionSelectors('productSelect', {
        product: {{ product_target | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
      });
      {%- endunless %}
  
      /*{% if product_target.available and product_target.options.size > 1 %}
        if (!window.swatch_show_unvailable) {
          Shopify.linkOptionSelectors({{ product_target | json }});
        } else if (window.swatch_enable) {
          Shopify.linkOptionSelectors({{ product_target | json }});
        }
      {% endif %}
      {% if product_target.options.size == 1 and product_target.options.first != 'Title' %}
        $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
      {% endif %}
      {% if product_target.variants.size == 1 and product_target.variants.first.title contains 'Default' %}
        $('.selector-wrapper').hide();
        $('.swatch').hide();
      {% endif %}*/
      $('.velaProductNavTabs li:first, .proDetailInfo .tab-content .tab-pane:first').addClass('active');
      $('.proDetailInfo .velaPanel:first .panel-collapse').addClass('in');
    });


    function searchStocks() {
      if(v != null && v2 != null && $('body').hasClass('velaCartAdding') == false) {
        //console.log('productInfo',window.productInfo);
        //console.log('product2Info',window.product2Info);
        if(window.productInfo != null && window.product2Info != null) {
          $('body').addClass('velaCartAdding');
          var s = window.productInfo.variants[v].inventoryItem.locations;
          //console.log('available',s[0].available);
          var s2 = window.product2Info.variants[v2].inventoryItem.locations;
          //console.log('available2',s2[0].available);
          if((s[0].available == 0 || s[0].available < 0) || (s2[0].available == 0 || s2[0].available < 0)){
            $('#AddToCart').addClass('disabled').prop('disabled', true);
            $('#AddToCartText').html("Sold Out");
          } else {
            $('#AddToCart').removeClass('disabled').prop('disabled', false);
            $('#AddToCartText').html("Add to Cart");
          }
        } else {
          $('#AddToCart').addClass('disabled').prop('disabled', true);
          $('#AddToCartText').html("Sold Out");
        }
        $('body').removeClass('velaCartAdding');
      } else {
        $('#AddToCart').removeClass('disabled').prop('disabled', false);
        $('#AddToCartText').html("Add to Cart");
      }
    };

    $(".template-product .proBoxInfo .swatch-element-bundle .swatch-selector").off('click').on('click', function() {
      $(this).parent().siblings().each(function( index ) {
        $( this ).find('.swatch-selector').removeClass('swatch-selected');
      });
      $(this).addClass('swatch-selected');
      if ($(this).closest('.proVariants').length > 0) {
        v = $(this).attr("product-id");
        $('.single-option-selector').val($(this).attr("data-value")).trigger('change');
      } else {
        v2 = $(this).attr("product-id");
      }
      searchStocks();
    });

    let p1Select = false;
    let p2Select = false;
    function validateProduct1(state){
      if($('.proVariants .swatches .swatch-selector').hasClass('swatch-selected')){
        state = true;
        return state
      }else{
        state = false;
        return state
      }
    }
    function validateProduct2(state){
      if($('.proVariants-2 .swatches .swatch-selector').hasClass('swatch-selected')){
        state = true;
        return state
      }else{
        state = false;
        return state
      }
    }
    function ajaxAddToCart(){
      $('#AddToCart').attr('disable', true);
      $('#AddToCart').removeClass('is-added').addClass('is-adding');
      $('.qtyError').remove();

      var viewData = { 
        items : []
      };
      var slides = $('.swatches .swatch-selector.swatch-selected');
      let property = $('.swatches .swatch-selector.swatch-selected').attr("data-association");
      for (var i = 0; i < slides.length; i++) {
        var jsonData = {};
        jsonData['quantity'] = 1;
        jsonData['id'] = slides[i].getAttribute('product-id');
        jsonData['properties'] = {
          'Related product': property,
          'promotion': 'eby_sets'
        }
        viewData.items.push(jsonData);
      }
      var obj=$(this);
      console.log(viewData.items);
      $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
          items : viewData['items']
        },
        dataType: 'json', 
        beforeSend: function() {
          $('body').addClass('velaCartAdding');
        },
        success: function (data) {
          $('body').removeClass('velaCartAdding');
          ajaxCart.load();
        },
        error: function(XMLHttpRequest, textStatus) {
          $('body').removeClass('velaCartAdding');
          var data = eval('(' + XMLHttpRequest.responseText + ')');
          $('#AddToCart').removeClass('is-adding is-added');
          if (!!data.message) {
            if (data.status == 422) {
              $(form).after('<div class="alert alert-danger qtyError">'+ data.description +'</div>')
            }
          }
        }
      });

      if ($('form[action^="/cart/add"]').hasClass('form-ajaxtocart')) {
        $("#velaQuickView").fadeOut(500);
        $(".jsQuickview").html("");
        $(".jsQuickview").fadeOut(500);
      }
      $('#AddToCart').attr('disable', false);
    }
    function validateOptionsActive(){
      $('.proVariants .swatches .qtyError').remove();
      $('.proVariants-2 .swatches .qtyError').remove();

      p1Select = validateProduct1(p1Select);
      p2Select = validateProduct2(p2Select);

      //console.log('p1Select: '+ p1Select + ', and p2Select: '+ p2Select);

      if ( p1Select == true & p2Select == true ) {
        ajaxAddToCart();
      } else {
        event.preventDefault();
        if (p1Select == false) {
          $('.proVariants .swatches').append( "<div class='alert alert-danger qtyError'>Please select your " + $('.proVariants .header small').text().replace(': ', '') + " before adding to cart</p>" );
        }
        if (p2Select == false) {
          $('.proVariants-2 .swatches').append( "<div class='alert alert-danger qtyError'>Please select your " + $('.proVariants-2 .header small').text().replace(': ', '') + " before adding to cart</p>" );
        }
      }
    }

    $('.btnAddToCart').on('click', function(event){
      //console.log('button-click');
      event.preventDefault();
      validateOptionsActive();
    });

  </script>
  {% comment %}
  <div data-rebuy-id="1079" data-rebuy-shopify-product-ids="{{ product_target.id }}"></div>
  {% endcomment %}
{%- endif -%}


<script type="text/javascript" async>
  {%- if isBundle == false %}
  jQuery(document).on('click', '.siz_guid.size_guid_pdp', function(){
  if(jQuery('.pop_size.size_guid_pdp').is(':visible'))
  {
     jQuery('.pop_size.size_guid_pdp').fadeOut()
  }
  else{
  jQuery('.pop_size.size_guid_pdp').fadeIn()
  }
  return false;
  });
  {% else -%}
  jQuery(document).on('click', '.siz_guid.size_guid_pdp', function(){
    if(jQuery('.pop_size.size_guid_pdp').is(':visible')) {
      jQuery('.pop_size.size_guid_pdp').fadeOut()
    } else {
      if ($(this).hasClass('ebyPantyPdp')) {
        $('.pop_size.size_guid_pdp .ebyBraletteGuide').hide();
        $('.pop_size.size_guid_pdp .ebyWrapGuide').hide();
        $('.pop_size.size_guid_pdp .ebyPantyGuide').show();
      } else if ($(this).hasClass('ebyBralettePdp')) {
        $('.pop_size.size_guid_pdp .ebyPantyGuide').hide();
        $('.pop_size.size_guid_pdp .ebyWrapGuide').hide();
        $('.pop_size.size_guid_pdp .ebyBraletteGuide').show();
      } else if ($(this).hasClass('ebyWrapGuide')) {
        $('.pop_size.size_guid_pdp .ebyPantyGuide').hide();
        $('.pop_size.size_guid_pdp .ebyBraletteGuide').hide();
        $('.pop_size.size_guid_pdp .ebyWrapGuide').show();
      }
      jQuery('.pop_size.size_guid_pdp').fadeIn();
    }
    return false;
  });
  {%- endif %}
    jQuery('.pop_wrapper_backing').click(function(){
      jQuery('.pop_size.size_guid_pdp').fadeOut();
    });
  jQuery('span.colz_pop').click(function(){
    jQuery('.pop_size.size_guid_pdp').fadeOut();
  });
  
  /**/
  
      window.addEventListener("load", function () {
        var sizeGuide = document.querySelectorAll(".size_guid_pdp.siz_guid");
        var label = document.getElementById("swatch-option1");
        if (!!window.getComputedStyle && !!label) {
        	var style = window.getComputedStyle(label, null);
            var marginTop = parseInt(style["margin-top"]);
        }
        
        if (marginTop > 10) {
          sizeGuide[0].classList.add("extraMargin");
        }

    });
  
  /**/
  
  $(document).ready(function(){
        if (jQuery('.proBoxInfo_outr').length > 0) {
          jQuery('.proBoxInfo_outr').show();
          jQuery('.modelSizeSelection').show();
          jQuery('.pdp-reviews-block').show();
        }
    	if (jQuery('.pdpBodyContentWrapper').length > 0) {
          jQuery('.pdpBodyContentWrapper').show();
        }
    
        const displayProductDetails = (desktopWidth, isDesktop) => {
            if(desktopWidth > 991 && isDesktop !== true){
                $('.product-details').css("display", "none");
                $('.details-content').css("display", "block");
                $('.product-details').prop("onclick", null).off("click");
                $('.details-content').prop("onclick", null).off("click");

                return true
            } else if (desktopWidth <= 991 && isDesktop !== false){
                $('.product-details').css("display", "block");
                $('.details-content').css("display", "none");

                $('.product-details').click(function () {
                    $('.details-content').css("display", "block");
                    $('.product-details').css("display", "none");
                });

                return false
            }
            return isDesktop
        };

        let desktopWidth = $(window).width();
        let isDesktop = null;
        isDesktop = displayProductDetails(desktopWidth, isDesktop);

        $(window).resize(function () {
            desktopWidth = $(window).width();
            isDesktop = displayProductDetails(desktopWidth, isDesktop)
        })
    });
  
  
  	jQuery(document).ready(function(){
        jQuery('.product-name').click(function () {
            if ($('.style-changer-mobile').css("display") === "block"){
                $('.style-changer-mobile').css("display", "none");
                $('.changer-arrow-mobile').css("transform", "rotate(0deg)")
            } else {
                $('.style-changer-mobile').css("display", "block");
                $('.changer-arrow-mobile').css("transform", "rotate(180deg)")
            }
        })

        document.addEventListener('rebuy.ready', function(event) {
            jQuery('.single-select').on("click", function (ev) {
                const variantID = jQuery(this).data("value");
                const currentSelect = jQuery(this).siblings('select.rebuy-select');
                const productID = jQuery(currentSelect[0]).data("id");
              
              	let productTileId = jQuery(this).closest('.rebuy-product-block').attr('data-prdId');
              
                jQuery('select.rebuy-select option[value=' + variantID + ']').attr('selected','selected');
                
                const rebuyWidgets = Rebuy.widgets;
              
              	if (rebuyWidgets && rebuyWidgets.length > 0) {
                      const rebuyWidget = Rebuy.widgets[0];
                  
                  	let widgetProducts = rebuyWidget.data.products;
                  
                    for( var index = 0; index < widgetProducts.length; index++ ){
                      if (widgetProducts[index].id === +productTileId) {
                        
                          // reduce down to find the variant in question by 
                          let selectedVariantProd = widgetProducts[index].variants.reduce(function (acc, variantPrd) {
                            if (variantPrd.id === variantID) {
                              acc.push(variantPrd);
                            }
                            return acc;
                          }, []);

                          // set new values for prod upsell
                          rebuyWidget.data.products[index].selected_variant_id = variantID;
                          rebuyWidget.data.products[index].selected_variant = selectedVariantProd[0];
                      }

                    }
                  
                } else {
                  console.log(':: Error - Rebuy widget not found ::');
                }
              
              	
                currentSelect.val(variantID).change();
            });

            jQuery('div.rebuy-title-container').on("click", function (e) {
                e.preventDefault();

                console.log($('.rebuy-select-options'));

                $('.rebuy-select-options').hide();
                $(this).siblings('.rebuy-select-options').show();
            });

            $(document).bind( "mouseup", function(e){
                    var element = $(".rebuy-select-options");
	                if (!element.is(e.target) && element.has(e.target).length === 0){
		            element.hide();
	            }
            });
          
			jQuery('div.rebuy-select-options').on("click", function (e) {
                e.preventDefault();
                $('.rebuy-select-options').hide();
            });
        });
    });
  
  	jQuery(document).on('click', '.siz_guid.rebuy', function(e) {
      e.preventDefault();

      if (jQuery(this).data('product-type') == 'Core Bralette') {
        jQuery(".ebyPantyGuide").hide();
        jQuery(".ebyBraletteGuide").show();
      } else {
        jQuery(".ebyBraletteGuide").hide();
        jQuery(".ebyPantyGuide").show();
      }

      console.log(jQuery('.pop_size.rebuy').is(':visible'));
      
      if(jQuery('.pop_size.rebuy').is(':visible')) {
        console.log("HIDE");

        jQuery('.pop_size.rebuy').fadeOut()
      } else {
        jQuery('.pop_size.rebuy').fadeIn()
      }
    });
  
    jQuery('.pop_wrapper_backing.rebuy').click(function() {
      jQuery('.pop_size.rebuy').fadeOut();
    });
    
    jQuery('span.colz_pop.rebuy').click(function() {
      jQuery('.pop_size.rebuy').fadeOut();
    });
  
  	var carousel = document.getElementsByClassName("velaProductGallerySlider");
    var prevArrow = document.getElementsByClassName("owl-prev")
    var nextArrow = document.getElementsByClassName("owl-next")
    
    carousel[0].addEventListener("mouseover", function () {
        prevArrow[0].classList.add("visible")
        nextArrow[0].classList.add("visible")
    })
    carousel[0].addEventListener("mouseleave", function () {
        prevArrow[0].classList.remove("visible")
        nextArrow[0].classList.remove("visible")
    })
  	
</script>