<style>
  /* rest of styles */
  .membership-cols-2022 .eby-big-text, .membership-cols-2022 .eby-subtitle-text {color: #FFFFFF;}.mob_img2 {display: block;}.tablet_img2, .desk_img2 {display: none;}.membership-cols-2022 {position: relative;}.membership-img-2022 {width: 100%;}.membership-text-2022 {top: 22%;}.membership-text-2022, .membership-button-2022 {position: absolute;min-width: calc(368px - 20px);width: calc(100% - 40px);margin: 0 auto;right: 0;left: 0;z-index: 1;}.membership-text-span-2022 {width: 338px; margin: 0 auto; padding-top: 10px;}.eby-big-text {font-size: 32px;display: block;font-weight: bold;line-height: 1.13;}.eby-subtitle-text {font-size: 14px;line-height: 1.75;text-align: center;display: block;}.membership-button-2022 {bottom: 28px;}.eby-membership-button.ebyMicroBtn.joinNow {width: 168px;height: 48px;margin: 0 auto;padding: 0 23px;border-radius: 4px;border: solid 1px #FFF;background-color: #FFF;color: var(--eby-main-dark-color);}.eby-membership-button-text {line-height: 1.38;font-size: 14px; letter-spacing: 0.4px;}.membership-button-2022 span {margin-top: 16px;}.membership-text-medium-2022 {margin-top: 14px;}.eby-title-text-m {font-size: 20px;font-weight: bold;line-height: 1.75;}.eby-subtitle-text-m {display: block;line-height: 1.75;font-size: 16px;}.ebyMembershipBoxOptionsWrapper {padding: 144px 20px 95px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid {flex-direction: column; padding-top:20px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid .membershipBoxTile {width: 100%;max-width: 281px;margin: 41px auto 0;}.pro_inner_new .pro_img {min-width: 140px; width: 144px;margin: 0 auto;}.membership-button-box-2022 {min-width: auto;width: 100%;margin: 54px auto 0;}.promo_copy {font-size: 1.2rem;color: rgba(208, 2, 27, 1);line-height: initial;margin-bottom: 1rem;}h4, h3 {margin: 0;}.eby-list-wrapper-2022 img {width: 60px;height: 60px;float: right;}.eby-laptop {display: none;}.eby-mobile .eby-membership-button-container {text-align: center;}.eby-container-why-2022 {margin: auto 20px;}.membership-subtitle-span-2022 {margin-top: 35px;}.content-block, .membership-subtitle-span-2022 h4 {text-align: center;}.eby-2-col-1-sm-2-xl {display: flex;flex-wrap: wrap;row-gap: 36px;min-width: 335px;margin: 44px auto 0;align-items: center;width: 335px;max-width: 460px;justify-content: space-between; padding-left: 29px}.eby-list-wrapper-2022:nth-child(odd) {width: 18%;}.eby-list-wrapper-2022:nth-child(even) {width: 75%;}.eby-list-wrapper-2022 span {font-size: 16px;line-height: 1.5; display: block;}.member-perks-container .member-perks {margin-top: 64px;}.content-block h3 {font-size: 32px;font-weight: bold;line-height: 1.25;}.membership-subtitle-span-2022 h4 {font-size: 20px;font-weight: bold;line-height: 1.4;letter-spacing: normal;width: 65%;margin: 0 auto;}.eby-big-text.text-center-2022 {margin: 73px auto;text-align: center;max-width: 291px;}
  /* solution base */
  .solution-base-section {margin-bottom: 6rem;}.solution-main {display: flex;flex-direction: column; max-width: 514px; margin: 0 auto;}.eby-text-22 {margin-top: 114px;}.eby-fit-main-title {width: 60%;}.eby-fit-main-title span {font-size: 32px;letter-spacing: 0;line-height: 1.25;font-family: "aktiv-grotesk", Arial, sans-serif;}.eby-fit-main-title span, .eby-tech-main-subtitle span, .eby-tech-main-title span {font-weight: 700;color: var(--eby-main-dark-color);}.eby-fit-subtitle span {font-size: 20px;font-weight: 600;line-height: 2.4;color: inherit;}.eby-fit-text-area {margin-top: 15px;}.eby-fit-text-area span {font-size: 16px;line-height: 1.5;color: inherit;}.eby-fit-block {background-color: var(--eby-block-background);margin-top: 42px;border-radius: 20px;padding: 31px 30px 105px;position: relative;}.eby-fit-block-title {font-size: 20px;font-weight: 700;line-height: 1;font-family: aktiv-grotesk, sans-serif;color: var(--eby-semi-dark-color);}.eby-fit-block-subtitle {font-size: 16px;font-weight: 700;line-height: 1.25;}.eby-fit-block-text {font-size: 13px;line-height: 1.54;color: #7f8397;}.eby-fit-block-img {margin-top: 20px;}.eby-fit-block-des {margin-top: 25px;}.eby-fit-block-des-title {font-size: 14px;line-height: 1.71;color: var(--eby-semi-dark-color);font-weight: 700;}.check-list {margin-top: 13px;}.check-list-container {display: flex;flex-wrap: wrap;gap: 4px;align-items: center;}.eby-checklist-item:nth-child(odd) {width: 24px;height: 24px;margin-right: 4px;align-self: flex-start;}.eby-checklist-item:nth-child(2n) {width: 86%;}.eby-checklist-item span {font-size: 12px;line-height: 1.33;display:block; color: var(--eby-semi-dark-color);}.eby-main-button-solution {bottom: 30px;position: absolute;left: 20px;right: 20px;}.eby-shop-all-button {margin: 42px auto 0;}.eby-button-dark {width: 100%;height: 48px;background-color: var(--eby-main-dark-color);border: 1px solid var(--product-name-color);border-radius: 4px;}.eby-button-href {font-size: 14px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.14;letter-spacing: 0.4px;text-align: right;}.eby-button-blue a, .eby-button-blue i, .eby-button-dark a, .eby-button-transparent a, .eby-button-transparent i {color: #fff;}.most-value {position: absolute;top: -29px;text-align: center;width: 80%;}.most-value span {font-size: 10px;font-weight: 700;color: #7f8397;}.eby-fit-block-title-container {display: flex;justify-content: space-between;align-items: center; height: 32px;}.text-style-1 {color: #7f8397;margin-left: 6px;}.eby-fit-block-text {font-size: 13px;line-height: 1.54;color: #7f8397;}.eby-button-blue {width: 100%;height: 48px;background-color: #4a90e2 !important;border: none;border-radius: 4px;}

  .eby-membership-button-container{
    text-align: center;
  }
  .membership-text-2022{
    text-align: center;
  }
  .subscription-block-container .eby-title-margin-2022{
    text-align: center;
  }
  .subscription-block-container .eby-big-text{
    padding-bottom: 20px;
  }
  .main-padding-eby{
    overflow: hidden;
  }
  .member-perks-container .eby-membership-button.ebyMicroBtn.joinNow,
  .ebyMembershipBoxOptionsWrapper .eby-membership-button.ebyMicroBtn.joinNow{
    border: solid 1px var(--eby-main-dark-color);
    background-color: var(--eby-main-dark-color);
    color: #fff;
  }
  .eby-sub-main-desc23{
    font-size: 16px;
    line-height: 1.75;
  }
  .how-it-works-desc-wrap{
    margin-top: 22px;
  }
  .membership-button-box-2022 .eby-subtitle-text{
    padding-top: 21px;
  }
  .subscription-block-container .only-sub-text23{
    font-size: 16px;
  }
  .eby-fit-block-1st23{
    height: 32px;
  }
  .eby-fit-block .ebyMicroBtn.joinNow{
    margin: 0;
  }
  .eby-flag23{
    color: #d0021b;
    background: rgba(255,255,255,0.75);
    border-radius: 4px;
    padding: 1px 4px;
    margin-left: 2px;
    display: inline-block;
  }
  .membership-button-2022 button.ebyMicroBtn.joinNow{
    width: 190px;
  }
  .homepage-video-parent {
    overflow: hidden;
    position: relative;
  }
  video.heroVideo {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    max-height: 696px;
    object-fit: cover;
    min-height: 620px;
  }
  /*************************** Tablet ****************************/
  @media(min-width: 768px) {
    .membership-button-box-2022 {min-width: calc(368px - 20px);width: calc(100% - 40px);margin: 54px auto 0;}.mob_img2, .desk_img2 {display: none;}.tablet_img2 {display: block;}.eby-big-text {font-size: 44px; line-height: 1.09;}.membership-button-2022 span {margin-top: 20px;}.membership-button-2022 {bottom: 76px;}.ebyMembershipBoxOptionsWrapper {padding: 104px 84px 76px;}.pro_inner_new .pro_img {min-width: 184px;min-height: 193px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid {flex-direction: row;max-width: 600px;margin: 0 auto;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid .membershipBoxTile {width: 48%;column-gap: 16px; margin: 65px auto 0;}.membership-text-medium-2022 {margin-top: 22px;}.eby-title-text-m {font-size: 20px;}.eby-subtitle-text-m {font-size: 14px;padding: 0 6%;}.eby-container-2022 {margin: 0;}.member-perks-container .member-perks {margin-top: 67px;}.eby-container-why-2022 {margin: auto 46px;}.eby-big-text.text-center-2022 {margin: 69px auto;max-width: 465px;}.eby-list-wrapper-2022:nth-child(odd) {width: 13.14%;}.eby-list-wrapper-2022:nth-child(even) {width: 80%;}.membership-subtitle-span-2022 {margin-top: 41px;}.membership-subtitle-span-2022 h4 {width: 100%;font-size: 24px;}.eby-2-col-1-sm-2-xl {column-gap: 28px;row-gap: 12px;margin: 0; margin-top: 79px;width: 100%; max-width: 100%;padding-left:79px;}
    .content-block h3{
      font-size: 44px;
      line-height: 1.09;
    }
    .eby-sub-main-desc23{
      font-size: 20px;
    }
    .membership-text-span-2022 .eby-subtitle-text{
      font-size: 20px;
      line-height: 1.6;
    }
    .membership-text-span-2022{
      width: 467px;
      padding-top: 17px;
    }
    /* solution base */
    .eby-fit-main-title span {font-size: 44px;line-height: 1.09;}.eby-fit-main-title{margin: 0 auto;}.eby-text-22{text-align: center;}.eby-fit-subtitle span{font-size: 24px;}.eby-fit-text-area {width: 56%;margin: 0 auto;}.solution-main{flex-direction: row;flex-wrap:wrap;column-gap: 16px; max-width: 100%; margin 0;}.eby-fit-block{width: 48.8%;margin-top: 69px;}.solution-base-section{margin-bottom: 104px;}

  }
  /*************************** Laptop ****************************/
  @media(min-width: 1024px) {
    .mob_img2, .tablet_img2 {display: none;}.desk_img2 {display: block;}.membership-text-2022, .membership-button-2022 { margin: 0 auto; max-width: 1050px;text-align: left;}.eby-subtitle-text {text-align: left;}.eby-membership-button.ebyMicroBtn.joinNow {margin: 0;}.membership-button-2022 {bottom: 44px;}.membership-button-2022 span {margin-top: 16px;}.ebyMembershipBoxOptionsWrapper {padding: 113px 0 116px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid {max-width: 100%;flex-wrap: nowrap;gap: 37px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid .membershipBoxTile {width: 25%;margin-top: 44px;}.ebyMembershipBoxOptionsWrapper {text-align: center;}.membership-text-medium-2022 {margin-top: 14px;}.eby-title-text-m {font-size: 18px;}.membership-button-box-2022 {margin-left: 0;margin-top: 73px;}.membership-button-box-2022 span {margin-top: 28px;}.eby-subtitle-text-m {padding: 0;}.eby-container-2022 {margin: 0 auto; max-width: 1050px; }.eby-mobile {display: none;}.eby-laptop {display: block;}.member-perks-container .member-perks {display: flex;gap: 16px;margin-top: 80px;}.eby-container-why-2022 {margin: 0 auto; max-width: 1050px;}.content-block, .membership-subtitle-span-2022 h4 {text-align: left;}.content-block {width: 38%;}.eby-big-text.text-center-2022 {width: 100%;margin: 87px auto 113px;}.membership-subtitle-span-2022 {margin-top: 0;width: 59%;}.eby-2-col-1-sm-2-xl {row-gap: 26px;margin: 32px 0 auto; padding-left: 0;justify-content: normal;}.eby-laptop {margin-top: 53px;}.solution-main {flex-direction: row;gap: 30px;}
    .eby-list-wrapper-2022:nth-child(odd){
      width: 10%;
    }
    .membership-text-span-2022{
      width: 500px;
      margin-left: 0;
    }
    .eby-membership-button-container{
      text-align: left;
    }
    .eby-text-22{
      margin-top: 0;
      width: 30%;
      text-align: left;
    }
    .eby-fit-block {
      width: 32%;
      margin-top: 0;
    }
    .eby-fit-main-title{
      width: 100%;
    }
    .eby-fit-text-area{
      width: 100%;
    }
    .solution-base-section{
      margin-top: 150px
    }
    .membership-subtitle-span-2022 h4{
      font-size: 24px;
    }
    .new_member_banner,
    .ebyMembershipBoxOptionsWrapper .eby-title-margin-2022,
    .ebyMembershipBoxOptionsWrapper .how-it-works-desc-wrap{
      text-align: left;
    }
  }
  /*************************** Desktop ****************************/
  @media(min-width: 1440px) {
    .eby-big-text {font-size: 3em;}.membership-text-medium-2022 {margin-top: 22px;}.eby-title-text-m {font-size: 20px;}.membership-button-box-2022 {margin-top: 54px;}.membership-button-box-2022 span {margin-top: 28px;}.ebyMembershipBoxOptionsWrapper .membershipOfferingGrid {flex-direction: row;max-width: 1080px;flex-wrap: nowrap;gap: 30px;margin: 0;}.member-perks-container .member-perks {gap: 114px;margin-top: 112px;}.content-block {width: 42%;}.content-block h3 {font-size: 48px;}.eby-big-text.text-center-2022 {margin: 83px auto 109px;max-width: 747px;}.eby-2-col-1-sm-2-xl {column-gap: 29px;row-gap: 24px;}.membership-button-box-2022.eby-laptop {margin-top: 49px;}
  }
</style>
<div class="new_member_banner">
  {%- if page.metafields.build_your_box.build_your_box != blank -%}
    <div class="membership-cols-2022">
      <div class="membership-text-2022">
        <div class="eby-title-margin-2022">
          <span class="eby-big-text"> Get 50% OFF </span>
          <span class="eby-big-text"> Your First Box </span>
        </div>

        <div class="membership-text-span-2022">
          <span class="eby-subtitle-text">
            Get 3 panties every 3 months for <s>$39</s> <b class="eby-flag23">Now $19.50</b> Skip or cancel anytime
          </span>
        </div>
      </div>

      <div class="membership-button-2022">
        <div class="eby-membership-button-container">
          <button
            class="eby-membership-button ebyMicroBtn joinNow"
            data-subscribe="default"
            title="Subscribe"
          >
            <span class="eby-membership-button-text"
              >Subscribe & Save <i class="ebyicon-nicon-arrow-forward  arrow-eby-stly"></i>
            </span>
          </button>
        </div>
        <span class="eby-subtitle-text">Use code: SUB50</span>
      </div>

      
      <div class="homepage-video-parent">
        <div class="homepage-video-cont-22">
          <video
            playsInline
            loop
            muted
            autoplay
            preload="none"
            id="homepage-vid"
            class="heroVideo">
            <source
              width="100%"
              height="100%"
              type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  {%- endif -%}
  <!-- 5 reason why you should subscribe to eby -- -->

  <div class="member-perks-container eby-container-why-2022">
    <div class="member-perks">
      <div class="content-block">
        <h3>5 Reasons Why</h3>
        <h3>You Should</h3>
        <h3>Subscribe to EBY</h3>

        <div class="membership-button-box-2022 eby-laptop">
          <div class="eby-membership-button-container">
            <button
              class="eby-membership-button ebyMicroBtn joinNow"
              data-subscribe="default"
              title="Subscribe"
            >
              <span class="eby-membership-button-text"
                >GET STARTED <i class="ebyicon-nicon-arrow-forward  arrow-eby-stly"></i
              ></span>
            </button>
          </div>
        </div>
      </div>

      <div class="membership-subtitle-span-2022">
        <h4>The Perks of Becoming a Subscriber</h4>
        <div class="eby-2-col-1-sm-2-xl">
          <div class="eby-list-wrapper-2022">
            <img
              width="60"
              height="60"
              class="lazyload"
              data-src="{{ 'icon-discount.svg' | asset_url }}"
              alt="discount"
              title="subscriber save 20%"
            >
          </div>
          <div class="eby-list-wrapper-2022">
            <span class="eby-subtitle-text-lg"> Save 20% on all items <u>every time</u> you shop </span>
          </div>

          <div class="eby-list-wrapper-2022">
            <img
              width="60"
              height="60"
              class="lazyload"
              data-src="{{ 'icon-free-delivery.svg' | asset_url }}"
              alt="shipping"
              title="never pay shipping"
            >
          </div>
          <div class="eby-list-wrapper-2022">
            <span class="eby-subtitle-text-lg"> Never pay shipping on any order </span>
          </div>

          <div class="eby-list-wrapper-2022">
            <img
              width="60"
              height="60"
              class="lazyload"
              data-src="{{ 'icon-calendar.svg' | asset_url }}"
              alt="delivery"
              title="skip delivery"
            >
          </div>
          <div class="eby-list-wrapper-2022">
            <span class="eby-subtitle-text-lg"> Skip your delivery anytime you want </span>
          </div>

          <div class="eby-list-wrapper-2022">
            <img
              width="60"
              height="60"
              class="lazyload"
              data-src="{{ 'icon-first.svg' | asset_url }}"
              alt="new"
              title="new colors new products before sell out"
            >
          </div>
          <div class="eby-list-wrapper-2022">
            <span class="eby-subtitle-text-lg"> Get new colors and products before they sell out </span>
          </div>

          <div class="eby-list-wrapper-2022">
            <img
              width="60"
              height="60"
              class="lazyload"
              data-src="{{ 'icon-5-x.svg' | asset_url }}"
              alt="impact"
              title="subscribers generate more impact for woman"
            >
          </div>
          <div class="eby-list-wrapper-2022">
            <span class="eby-subtitle-text-lg"> Subscribers generate 5X more impact for women </span>
          </div>
        </div>
      </div>
    </div>

    <div class="membership-button-box-2022 eby-mobile">
      <div class="eby-membership-button-container">
        <button
          class="eby-membership-button ebyMicroBtn joinNow"
          data-subscribe="default"
          title="Subscribe"
        >
          <span class="eby-membership-button-text"
            >GET STARTED <i class="ebyicon-nicon-arrow-forward  arrow-eby-stly"></i
          ></span>
        </button>
      </div>
    </div>
  </div>
  <!-- - How it works --- -->
  <section class="ebyMembershipBoxOptionsWrapper eby-container-2022">
    <div class="eby-title-margin-2022">
      <span class="eby-big-text"> How it works </span>
    </div>
    <div class="how-it-works-desc-wrap">
      <span class="how-it-works-desc-text eby-sub-main-desc23">You save 40% with each subscription delivery</span>
    </div>

    <div class="membershipOfferingGrid" id="membership-box-options">
      <article class="membershipBoxTile third">
        <div class="pro_inner_new">
          <header class="pro_img">
            <img
              class="lazyload"
              width="140"
              height="129"
              data-src="{{ 'graphic-376-profile@2x.webp' | asset_url }}"
              title="Fill out your profile"
              alt="Fill out your profile"
            >
          </header>
        </div>
        <div class="membership-text-medium-2022">
          <span class="eby-title-text-m">Fill out your profile</span>
          <span class="eby-subtitle-text-m"
            >You can customize your subscription, or select from our curated packages.</span
          >
        </div>
      </article>
      <article class="membershipBoxTile third">
        <div class="pro_inner_new">
          <header class="pro_img">
            <img
              class="lazyload"
              width="140"
              height="129"
              data-src="{{ 'graphic-376-shipping@2x.webp' | asset_url }}"
              title="Mixed Styles Membership Box"
              alt="Mixed Styles Membership Box"
            >
          </header>
        </div>
        <div class="membership-text-medium-2022">
          <span class="eby-title-text-m">Ships free, quarterly</span>
          <span class="eby-subtitle-text-m"
            >You get 3 new panties every 3 months. Plus, never pay shipping for any order.</span
          >
        </div>
      </article>
      <article class="membershipBoxTile third">
        <div class="pro_inner_new">
          <header class="pro_img">
            <img
              class="lazyload"
              width="140"
              height="129"
              data-src="{{ 'graphic-376-control@2x.webp' | asset_url }}"
              title="All Briefs Membership Box"
              alt="All Briefs Membership Box"
            >
          </header>
        </div>
        <div class="membership-text-medium-2022">
          <span class="eby-title-text-m">Skip, cancel anytime</span>
          <span class="eby-subtitle-text-m">Make changes right from your dashboard. Skip or cancel anytime.</span>
        </div>
      </article>
      <article class="membershipBoxTile third">
        <div class="pro_inner_new">
          <header class="pro_img">
            <img
              class="lazyload"
              width="140"
              height="129"
              data-src="{{ 'graphic-376-perks@2x.webp' | asset_url }}"
              title="All Thongs Membership Box"
              alt="All Thongs Membership Box"
            >
          </header>
        </div>
        <div class="membership-text-medium-2022">
          <span class="eby-title-text-m">Shop for less</span>
          <span class="eby-subtitle-text-m"
            >All products sitewide are automatically discounted up to 20% for subscribers.</span
          >
        </div>
      </article>
    </div>
    <div class="membership-button-box-2022">
      <div class="eby-membership-button-container">
        <button
          class="eby-membership-button ebyMicroBtn joinNow"
          data-subscribe="default"
          title="Subscribe"
        >
          <span class="eby-membership-button-text"
            >GET STARTED <i class="ebyicon-nicon-arrow-forward  arrow-eby-stly"></i
          ></span>
        </button>
      </div>
      <span class="eby-subtitle-text"> Get 50% OFF Your First Box When You Subscribe </span>
    </div>
  </section>
</div>

<div class="subscription-block-container eby-container-why-2022">
  <div class="eby-title-margin-2022">
    <span class="eby-big-text"> Only For Subscribers </span>
    <span class="only-sub-text23"> Get these colors in your spring box </span>
    <br/>
    <br/>
  </div>
  <div class="subscription-block">
    <div class="image-block">
      <img
        width="336"
        height="148"
        alt="Panty Subscription Memberships"
        title="Panty Subscription Memberships"
        data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP---1440---subscription-spring---gallery.jpg?v=1683723002"
        class="mob_img lazyloadPload"
      >
      <img
        width="800"
        height="356"
        alt="Panty Subscription Memberships"
        title="Panty Subscription Memberships"
        data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP---1440---subscription-spring---gallery.jpg?v=1683723002"
        class="tablet_img lazyload"
      >
      <img
        width="1048"
        height="464"
        alt="Panty Subscription Memberships"
        title="Panty Subscription Memberships"
        data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/LP---1440---subscription-spring---gallery.jpg?v=1683723002"
        class=" desk_img lazyload"
      >
    </div>
  </div>
</div>

<div class="member-perks-container eby-container-why-2022">
  <!-- solution base -->
  <div class="solution-base-section eby-main-width">
    <div class="solution-main">
      <div class="eby-text-22">
        <div class="eby-fit-main-title">
          <span> Astonishingly Comfortable Intimates </span>
        </div>
        <div class="eby-fit-subtitle">
          <span> For Women, By Women </span>
        </div>
        <div class="eby-fit-text-area">
          <span>
            Pinching, sliding, poking, riding, wedgie, camel toe, bulging, squeezing, panty lines,
            <b>No-More.</b>
          </span>
        </div>
      </div>
      <!-- block 1 -->
      <div class="eby-fit-block">
        <div class="eby-fit-block-1st23">
          <span class="eby-fit-block-title"> One Time Purchase </span>
        </div>
        <div>
          <span class="eby-fit-block-subtitle"> $66 for 3 </span>
        </div>
        <div>
          <span class="eby-fit-block-text"> $22 per panty </span>
        </div>
        <!-- img -->
        <div class="eby-fit-block-img">
          <div class="bundle-img-22">
            <img
              width="600"
              height="336"
              alt="Subscription panty"
              title="Subscription panty"
              data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/HOME_-_one-time_-_card.jpg?v=1665497133"
              class="lazyload"
            >
          </div>
        </div>
        <div class="eby-fit-block-des">
          <span class="eby-fit-block-des-title"> Try EBY Signature Seamless Panties </span>
        </div>
        <!-- checklist -->
        <div class="eby-checklist">
          <div class="check-list">
            <div class="check-list-container">
              <div class="eby-checklist-item">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                  d="m17 8-7 8-3-3.982"
                  stroke="#04081C"
                  stroke-width="1.2"
                  fill="none"
                  fill-rule="evenodd" />
                </svg>
              </div>
              <div class="eby-checklist-item">
                <span class="Free-shipping-on-ord"> Free shipping on orders over $125 </span>
              </div>
              <div class="eby-checklist-item">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                  d="m17 8-7 8-3-3.982"
                  stroke="#04081C"
                  stroke-width="1.2"
                  fill="none"
                  fill-rule="evenodd" />
                </svg>
              </div>
              <div class="eby-checklist-item">
                <span class="Free-shipping-on-ord"> 100% Fit Guarantee </span>
              </div>
              <div class="eby-checklist-item">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                  d="m17 8-7 8-3-3.982"
                  stroke="#04081C"
                  stroke-width="1.2"
                  fill="none"
                  fill-rule="evenodd" />
                </svg>
              </div>
              <div class="eby-checklist-item">
                <span class="Free-shipping-on-ord">
                  10% of every purchase propels women out of poverty and into business
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="eby-main-button-solution">
          {% render 'eby-button',
            type_color: 'dark',
            alignment: 'center',
            button_text: 'SHOP NOW',
            icon: false,
            button_size: 'lg',
            where_to: 'SHOP',
            link: '/collections/seamless-underwear'
          %}
        </div>
      </div>
      <!-- block 2 -->
      <div class="eby-fit-block">
        <div class="most-value">
          <span>MOST VALUE</span>
        </div>
        <div class="eby-fit-block-title-container">
          <span class="eby-fit-block-title"> Panty Subscription </span>
          <div class="eby-fit-refresh-icon">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
              d="M24.783 10.729c2.364 3.935 1.85 9.116-1.543 12.51-1.999 1.998-4.619 2.998-7.24 2.999v1.922l-5.121-3.2L16 21.76v1.917l.31-.006a7.683 7.683 0 0 0 6.278-11.625l2.195-1.317zM16 3.84l5.12 3.2-5.12 3.2-.001-1.92-.31.006a7.683 7.683 0 0 0-6.278 11.625L7.218 21.27c-2.365-3.935-1.85-9.117 1.542-12.51 2-2 4.62-2.999 7.24-2.999L16 3.84z"
              fill="#00082F"
              fill-rule="evenodd" />
            </svg>
          </div>
        </div>
        <div>
          <span class="eby-fit-block-subtitle">
            3 for $39<span class="text-style-1">
              <s> $66</s>
            </span>
          </span>
        </div>
        <div>
          <span class="eby-fit-block-text"> $13 Per Panty • Immediately Save 40% </span>
        </div>
        <!-- img -->
        <div class="eby-fit-block-img">
          <div class="bundle-img-22">
            <img
              width="600"
              height="336"
              alt="Bralette and panty subscription"
              title="underwear subscription"
              data-src="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/HOME_-_one-time_-_card.jpg"
              class="lazyload"
            >
          </div>
        </div>
        <div class="eby-fit-block-des">
          <span class="eby-fit-block-des-title"> Great Value & Subscriber Perks </span>
        </div>
        <!-- checklist -->
        <div class="eby-checklist">
          <div class="check-list">
            <div class="check-list-container">
              <div class="eby-checklist-item">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                  d="m17 8-7 8-3-3.982"
                  stroke="#4A90E2"
                  stroke-width="2"
                  fill="none"
                  fill-rule="evenodd" />
                </svg>
              </div>
              <div class="eby-checklist-item">
                <span class="Free-shipping-on-ord" style="color:rgb(74, 144, 226);">
                  3 panties delivered every 3 months
                </span>
              </div>
              <div class="eby-checklist-item">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                  d="m17 8-7 8-3-3.982"
                  stroke="#4A90E2"
                  stroke-width="1.2"
                  fill="none"
                  fill-rule="evenodd" />
                </svg>
              </div>
              <div class="eby-checklist-item">
                <span class="Free-shipping-on-ord" style="color:rgb(74, 144, 226);">
                  20% off all items every time you shop
                </span>
              </div>

              <div class="eby-checklist-item">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m17 8-7 8-3-3.982"
                    stroke="#04081C"
                    stroke-width="1.2"
                    fill="none"
                    fill-rule="evenodd" />
                </svg>
              </div>
              <div class="eby-checklist-item">
                <span class="Free-shipping-on-ord"> Free shipping on all orders </span>
              </div>
              <div class="eby-checklist-item">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m17 8-7 8-3-3.982"
                    stroke="#04081C"
                    stroke-width="1.2"
                    fill="none"
                    fill-rule="evenodd" />
                </svg>
              </div>
              <div class="eby-checklist-item">
                <span class="Free-shipping-on-ord"> 100% Fit Guarantee </span>
              </div>
              <div class="eby-checklist-item">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m17 8-7 8-3-3.982"
                    stroke="#04081C"
                    stroke-width="1.2"
                    fill="none"
                    fill-rule="evenodd" />
                </svg>
              </div>
              <div class="eby-checklist-item">
                <span class="Free-shipping-on-ord">
                  Subscribers generate 5X more impact propelling women out of poverty and into business
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="eby-main-button-solution">
          {% render 'eby-button',
            type_color: 'blue',
            alignment: 'center',
            button_text: 'SUBSCRIBE NOW',
            icon: true,
            button_size: 'lg',
            where_to: 'SUBSCRIPTION_FUNNEL',
            link: ''
          %}
        </div>
      </div>
    </div>
  </div>

  <span class="eby-big-text text-center-2022">
    Need another
    <span id="reviews-special-num"> 10,000 </span>
    reasons?
  </span>
</div>

{% section 'review-membership-2022' %}

<div class="eby-container-2022">
  {% section 'faq_accordian-section-membership' %}
</div>

<script type="text/javascript" defer>
  document.addEventListener("DOMContentLoaded", function() {
    
    runVideo();
    
    $('.collapsible').collapsible();

    $(document).on('click', ".new_member_banner .shop_btn.modal-trigger", function(ev) {
        
        var style = ev.target.getAttribute('data-style');
        if (style !== "custom_box") {
          // console.log(':: init standard subscription nudge ::', style);
          // init function that accepts .method('styleGroup-key', {opts: {}})
          vela.addEbyMembershipBox('cms', {
            styleGroup : style,
            colorGroup : null,
            sizeGroup  : null,
            planGroup  : null
          });
          //return false;
        } else {
          //console.log(':: init cb subscription nudge ::', style);
          // init function that accepts where there may need to be a prepopulated product already
          vela.addEbyMembershipBox('cms', {
            styleGroup : style,
            colorGroup : null,
            sizeGroup  : null,
            planGroup  : null
          });

          //return false;
        }
    });
    function detectMob() {
        const toMatch = [
            /Android/i,
            /webOS/i,
            /iPhone/i,
            /iPad/i,
            /iPod/i,
            /BlackBerry/i,
            /Windows Phone/i
        ];
        return toMatch.some((toMatchItem) => {
            return navigator.userAgent.match(toMatchItem);
        });
    } 
    
    function runVideo(){
        var heroVideo = document.getElementById('homepage-vid');

        if(!heroVideo) {
          console.error('video element not found');
          return;
        }
        let isMobile = detectMob();
        if (!!isMobile) {
          heroVideo.poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/HOME---1440---end-of-year---hero-2---signed-out.jpg?v=1671467545";
          heroVideo.src="https://cdn.shopify.com/videos/c/o/v/9fcb1be0c2f24c86853763167961c66c.mp4";
        } else {
          heroVideo.poster="https://cdn.shopify.com/s/files/1/0313/4062/5964/files/HOME---376---end-of-year---hero-2---signed-out.jpg?v=1671467543";
          heroVideo.src="https://cdn.shopify.com/videos/c/o/v/bd12a0b77d0b4fc4a9ce271a7bc57cc1.mp4";
        }
        // Add an event listener to play the video only after 10 seconds have loaded
        heroVideo.addEventListener('timeupdate', () => {
          if (heroVideo.buffered.length > 0 && heroVideo.buffered.end(0) >= 10) {
            heroVideo.play().then(() => {
              console.log('Video playing');
            });
        
            // Remove the event listener to prevent the video from restarting
            heroVideo.removeEventListener('timeupdate', arguments.callee);
          }
        });
    }

  });
  window.addEventListener("load", function () {
    if (!!localStorage.getItem('homeHeroImage-click')) {
      gtag('config', 'UA-103955744-4');
      gtag('event', 'ab_test_img', {
        'event_category': 'ab_test-sub_img_swap-click--' + localStorage.getItem('homeHeroImage-click'),
        'event_label': 'homepage_ab_test-take_one',
        'event_value': ''
      });
      localStorage.removeItem('homeHeroImage-click');
    }
    gtag('event', 'cpv-membership_page', {
      'event_category': location.href,
      'event_label': document.title,
      'event_value': ''
    });
  });


  
</script>